{% load notification_helpers %}
<div class="{% if notice.level != "info" %}alert alert-block alert-{{ notice.level }}{% endif %} notification {% if notice.unread %}unread{% endif %}"
  style="margin-bottom: 1em"
  data-notification-id="{{notice.id}}">

  {% if notice.unread %}
  <div style="position: absolute; margin-left: -2em; margin-top: 2px; font-size: 85%; color: #999" title="Mark as read">
    <a href="#" onclick="$(this).fadeOut(); return mark_notifications_read({ id: {{notice.id}} })">
      <span class="glyphicon glyphicon-ok"> </span>
    </a>
  </div>
  {% endif %}

  {# the link has an onclick handler that cancels the click, runs ajax to mark the notification as read, and then on the ajax callback redirects to the target url #}
  <a
    href="{% if notice.target and not notice.target.supress_link_from_notifications %}{{notice.target|get_notification_link:notice}}{% else %}javascript:false;{% endif %}"
    onclick="return mark_notifications_read({ id: {{notice.id}} }{% if notice.target and not notice.target.supress_link_from_notifications %}, function() { window.location = '{{notice.target|get_notification_link:notice|escapejs}}'; }{% endif %})"
    >
    {{ notice.actor }} 
    {{ notice.verb }}
    {% if notice.target %}
      {{ notice.target }}
    {% endif %}
  </a>

  {% if notice.description %}
    <br>
    {{notice.description}}
  {% endif %}

  <br>

  <span style="font-size: 85%">{{ notice.timesince }} ago</span>

</div>
