.css-pdct74-MuiTablePagination-selectLabel {
    margin-top: 8px
  }
  
  .css-levciy-MuiTablePagination-displayedRows{
      margin-top: 9px
  }
  .css-pdct74-MuiTablePagination-selectLabel{
    font-size: 15px !important;
  }
  .css-levciy-MuiTablePagination-displayedRows{
    font-size: 15px !important;
  }