# This is our master file of requirements. Use ./requirements_txt_updater.sh
# to generate the requirements.txt file that is used in deployments to install
# Python libraries.

# Common Python Packages
python-dateutil # Simplified BSD License
Pillow>=7.1.2 # MIT-like License
Jinja2 # BSD License

# Less Common Python Packages
html5lib # MIT License
commonmark # BSD License
graphviz # MIT License
fs # BSD License
PyGithub # LGPL License
GitPython # BSD License
Pygments==2.7.3 # BSD License
termcolor # MIT License
xxhash # BSD License
importlib-metadata>=1.7.0,>=0.12 # Apache License
importlib-resources<2,>=1.0 # Apache License
pyinstrument==3.2.0 # BSD License
jsonschema # MIT License
filetype # MIT License
# Common Django Packages
# Django==2.2.12 # BSD License
Django==3.0.11 # BSD License
django-debug-toolbar # BSD License
django-allauth # MIT License
django-bootstrap3 # Apache License 2.0
django-notifications-hq==1.6 # MIT License
jsonfield # MIT License
dj_database_url # BSD License
whitenoise # MIT License
django-guardian # MIT License
django-simple-history # BSD License


# Python Packages Developed by GovReady and/or Josh
rtyaml # CC0
email-validator # CC0
exclusiveprocess # CC0
django-html-emailer # MIT License
django-database-storage-backend # CC0, requires libmagic (libmagic1 in Debian)
commonmarkextensions@https://github.com/GovReady/CommonMark-py-Extensions/archive/72992208a2ddcb686e5a5a678dfeb04ee0440585.zip#egg=commonmarkextensions # BSD 3
# commonmarkextensions>0.0.5  for Python 3.9  pending >0.0.5 release ...
#   'commonmarkextensions@' prefix is dropped by `pip-compile`
#       & isn't conveyed to requirements.txt
#     so '#egg=commonmarkextensions' suffix, which isn't, added
#     so `pip3 install -r requirements.txt` knows which package this is
structlog # Apache License

# Only needed in common production deployment configurations
# uwsgi # GPL2 # Needed only if using uwsgi instead of gunicorn
gunicorn # MIT License
# Pin gevent to avoid Docker build errors with gevent==20.5.0
# gevent==20.5.0 requires c compiler and build tools
gevent>=20.6.0 # MIT License
# gevent>=20.6.0 (e.g., 21.1.2)  for Python 3.9
#   Note: >=20.5.0 has required building from source at `pip3 install`-time
#                    requiring Python dev, C compiler, & other build tool packages
psycopg2-binary # LGPL
rfc5424-logging-handler # BSD License

# Development & testing only
bandit # Apache License 2.0
coverage # Apache License 2.0
selenium # Apache License 2.0
safety # MIT License
parsel # BSD License

# Documentation only
m2r # MIT License
sphinxcontrib-contentui # MIT License
# Temporarily pinned.

# markupsafe is pinned here because tests crash with version 1.1.0.
# Can probably unpin when https://github.com/pallets/markupsafe/issues/108 is resolved.
markupsafe==1.1.1 # BSD 3

# Excel exports
openpyxl # MIT License
