# This is our master file of requirements. Use ./requirements_txt_updater.sh
# to generate the requirements.txt file that is used in deployments to install
# Python libraries.

# Common Python Packages
python-dateutil # Simplified BSD License
Pillow # MIT-like License
Jinja2 # BSD License

# Less Common Python Packages
html5lib # MIT License
commonmark # BSD License
graphviz # MIT License
fs # BSD License
PyGithub # LGPL License
GitPython # BSD License
Pygments==2.2.0 # BSD License
termcolor # MIT License
xxhash # BSD License

# Common Django Packages
Django<2.1 # BSD License
django-debug-toolbar # BSD License
django-allauth # MIT License
django-bootstrap3 # Apache License 2.0
django-notifications-hq==1.4 # MIT License
jsonfield # MIT License
dj_database_url # BSD License
whitenoise # MIT License

# Python Packages Developed by GovReady and/or Josh
mondrianish # CC0
rtyaml # CC0
email-validator # CC0
exclusiveprocess # CC0
django-html-emailer # MIT License
django-database-storage-backend # CC0, requires libmagic (libmagic1 in Debian)
commonmarkextensions # BSD 3

# Only needed in common production deployment configurations
uwsgi # GPL2
psycopg2-binary # LGPL
rfc5424-logging-handler # BSD License

# Development & testing only
bandit # Apache License 2.0
coverage # Apache License 2.0
selenium # Apache License 2.0
safety # MIT License
fpdf2 # LGPLv3+	

# Documentation only
m2r # MIT License
sphinxcontrib-contentui # MIT License

# Temporarily pinned.

# markupsafe is pinned here because tests crash with version 1.1.0.
# Can probably unpin when https://github.com/pallets/markupsafe/issues/108 is resolved.
markupsafe==1.0 # BSD 3.
