{% extends "base.html" %}
{% load static %}

{% block title %}
Integration Detail
{% endblock %}

{% block head %}
    <style>

        h1 { font-size: 24px; border-bottom: 0.5px solid #888;}

        .integration-general { width:80%; margin: auto; padding:12px; }
        .integration-content { margin-top: 20px; padding: 20px 30px 20px 30px; border: 0.5px solid #888; }

    </style>
{% endblock %}

{% block contextbar %}
  {# kill breadcrumbs but add some space below site header #}
  <div id="contextbar">
    &nbsp;
  </div>
{% endblock %}

{% block body %}

    <div class="integration-general">
        <h2>{{ integration }}</h2>

        <div class="integration-content">
            <div><b>Integration Details</b></div>
            <table class="table">
                <tr><td>description</td><td>{{ integration_record.description }}</td></tr>
                <tr><td>base_url</td><td>{{ integration_record.config.base_url }}</td></tr>
            </table>
        </div>

        <div class="integration-content">
            <form action="/integrations/{{ integration_name }}/create_system_from_remote/" method="GET">
                Enter {{ integration_name }} system ID to create new system: 
                <input type="input" name="remote_system_id_field" id="remote_system_id_field">
                <input type="submit" name="submit" value="Create">
            </form>
        </div>

        <div class="integration-content">
            <div><b>URL Routes</b></div>
            <div style="">
                {% for route in url_routes %}
                    <div>{{ route.name }}: {{ route.url }}</div>
                {% endfor %}
            </div>
        </div>

        <div class="integration-content">
            <div><b>Readme</b></div>
            <div class="integration-readme">
                {{ readme_html|safe }}
            </div>
        </div>
    </div>

    {% comment %}
   <div>
        <a href="/" aria-label="homepage" class="glyphicon-home-icon">
          <span class="glyphicon glyphicon-home"></span>
        </a>
        /
        <!-- fix this to display if I am in another app or store -->
        {% if portfolio %}
          <a href="/store?portfolio={{ portfolio.id }}" class="breadcrumb-link">Compliance Apps</a>
        {% else %}
          <a href="{% url 'store' %}">Compliance Apps</a>
        {% endif %}
        / {{app.title|truncatewords:6}}
    </div>

    <div class="panel panel-default" style="width:750px;margin: auto;margin-top:40px;">
        <div class="panel-body">
            <div class="row app-max-width-row">
                <div class="col-sm-8">
                    <h2>{{ app.title }}</h2>
                    {% if error %}
                        <p class="text-danger">{{ error }}</p>
                    {% endif %}
                </div>
            </div>

            <!-- App Description -->
            <div class="row app-max-width-row">
                <div class="col-sm-12">
                    <div class="body app-description">
                        {{ app.description.long|safe }}
                    </div>
                </div>
            </div>
            <!-- App Information -->
            <div class="row app-max-width-row app-info-height">
                &nbsp;
            </div>
            <div class="row app-max-width-row app-information-row">
                <div class="col-lg-12 col-sm-12">
                    <div class="meta-heading"><strong>Information</strong></div>
                </div>
            </div>
            <div class="row app-max-width-row">
                <div class="col-lg-4 col-sm-4">
                    <div><span class="meta-key">Provider</span><br>
                        {% if app.vendor_url is not None %}
                            <a href="{{ app.vendor_url }}">{{ app.vendor }}</a>
                        {% else %}
                            {{ app.vendor }}
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg4 col-sm-4">
                    <!-- <div><span class="meta-key">Status</span><br>{{app.status}}</div> -->
                    <div><span class="meta-key">Version</span><br>{{ app.version }}</div>
                </div>
                <div class="col-lg4 col-sm-4">
                    <!-- <div><span class="meta-key">Source</span><br><a href="{{app.source_url}}">{{app.source_url}}</a></div> -->
                    <div><span class="meta-key">AppSource<br>{{ source_slug }}</span>
                    </div>
                </div>
                <div class="col-lg4 col-sm-4">
                    <div><span class="meta-key">Startable</span><br>
                        {% if app.authz == "none" %}
                            Yes
                        {% else %}
                            Requires Admin
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="" style="display:inline;">
                <form method="post" class="" style="display:inline;">
                    {% csrf_token %}
                    {# If the user is a member of more than one organization that can start this app, the user much choose which organization context to start this app in. #}
                    {% if app.organizations|length == 1 %}
                        {% with app.organizations|first as first_org %}
                            <input type="hidden" name="organization" value="{{ first_org.slug }}">
                        {% endwith %}
                    {% else %}
                        <div class="app-margin-bottom">
                            <label for="add-to-org" class="app-add-to-label">Add to:</label>
                            <select id="add-to-org" name="organization" class="form-control">
                                {% for org in app.organizations %}
                                    <option value="{{ org.slug }}">{{ org.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                        <button id="start-project" type="submit" class="btn btn-success" style="width:120px;">Start</button>
                </form>
                <button id="" type="submit" class="btn btn-link">
                    <a href="#" class="back-to-link"
                       onclick="authoring_tool_create_q_form(argument={ 'app_id': '{{ app.id }}', 'app_title': '{{ app.title }}', 'app_category_title':'{{ app.categories.0 }}', 'app_description': '{{ app.description.short|safe }}' });
                       return false;">
                    <span class="glyphicon glyphicon-flash"></span> Clone</a>
                </button>
                <button id="" type="submit" class="btn btn-link">
                    <a href="/store/app/{{app.appversion_id}}/modules" class="back-to-link"> <span class="glyphicon glyphicon-pencil"></span> Edit</a>
                </button>
                <button id="" type="submit" class="btn btn-link">
                    <a href="/store/{{app.key|urlencode}}/zip" class="back-to-link"> <span class="glyphicon glyphicon-download"></span> Download zip</a>
                </button>
                <button id="" type="submit" class="btn btn-link">
                    <a href="/store" class="back-to-link"><span class="glyphicon glyphicon-arrow-left"></span> Back to Apps</a>
                </button>
            </div>
        </div>
    </div>
{% endcomment %}


<!-- Spacer bottom of page -->
<div class="app-bottom-spacer">&nbsp;</div>




{% endblock %}
