{% extends "project-base.html" %}
{% load humanize %}
{% load system_tags %}
{% load static %}

{% block title %}
  Component Detail
{% endblock %}

{% block head %}
{{block.super}}
{% include "controls/_style-controls.html" %}
<style>
  .inline {
    display: inline;
  }

  h3 {
    color: #888;
    #font-weight: bold;
    margin-top: 20px;
  }

/*
  #above-tab-content {
    max-width: 1250px;
    margin: auto;
  }

  #component-detail-content {
    border: 0px solid green;
    max-width: 1250px;
  }


  .container { width: 90%; }

*/

  .control-text {
    white-space: pre-wrap;
    font-size: 11pt;
    /*max-width: 700px;*/
    font-family: trebuchet ms, sans-serif;
    text-align: justify;
    /*text-justify: inter-word;*/
    line-height: 24px;
  }

  #control-lookup input {
    width: 130px;
  }

  #combined_smt {
    width: 80%;
    /*margin: 12px 0 16px 0px;*/
    padding: 8px;
    /*display: none;*/
  }

  textarea {
    overflow-y: scroll;
    resize: vertical;
  }

  a {
    color: #666;
  }

  .panel-heading-smt, .panel-heading-smt-body {
    white-space: pre-line;
  }

  .panel-heading a:hover {
    text-decoration: none;
    color: #000;
  }

  .statement-text, .description-text { font-size: 0.8em; }

  .control-id-text { font-weight: bold; }


  /* added */
.component-status-alert { border: 1px solid #ffb523;background-color: #ffffe2; text-align:center; padding:5px; }
#system-owner-proposal-steps { margin-top:2em; margin-bottom:3em; max-width:1000px;}
#system-owner-proposal-steps h4 { font-size: 1em; font-family: 'Lato', sans-serif; font-weight:bold; margin:.3em 0 .5em 0; padding:0;}
#system-owner-proposal-steps .dot { width:50px; height:50px;}
#system-owner-proposal-steps button { margin:2em 2em 0 0;}
#system-owner-proposal-steps .step-box { margin-left:10px; padding-top:10px; }

p.step-box-content { font-size:.9em; }

#component-detail-content { border:0;}
.list-group-item { padding:0 0 15px 0;}





  </style>
  {% endblock %}

  <!-- action buttons included from project-base.html -->

  <!-- authoring_tool_enabled included from project-base.html -->

  {% block body_content %}

  <div>

  {% if proposal %}
    <div class="component-status-alert">
        {% if proposal.status == "Approve" %}
          <strong>Component Control Inheritance Approved</strong> <span>({{proposal.created}})</span>
        {% else %}
          <strong>Proposed Component</strong> <span>({{proposal.created}})</span> | Current status: {{proposal.status}} stage
        {% endif %}
    </div>
  {% endif %}


    <div class="systems-top">
        <div class="col-sm-10 ">
          <h2>{{ element.name }} System Component</h2>

          {% if catalog.catalog_key_display %}
            <h3 id="catalog-key-display">{{ catalog.catalog_key_display }}</h3>
          {% endif %}
        </div>

        <div class="col-sm-2">
          <div id="btn-edit-title"></div>
        </div>

    </div>



    <div id="component-detail-content">
      <!-- Tab panel: component_controls -->
      <div role="tabpanel" class="tab-pane active" id="component_controls">
          <div class="row">
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 description-text">
              <h3>About {{ element.name }}</h3>
              <p>
                {% if element.description %}
                  {{ element.description }}
                {% else %}
                  No description exists for this component.
                {% endif %}
              </p>
              <p>
                State: {{ element.component_state }}<br/>
                Type: {{ element.component_type }}
              </p>
              <div id="show-tags">
              {% for tag in element.tags.all %}<span class="component-tag"><a href="{% url 'component_library' %}?search={{ tag.label }}">{{ tag.label }}</a></span> {% endfor %}
            </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 description-text">
              <a href="{% url 'component_library_component' element.id %}" target="_blank">Read more about {{ element.name }} in component library <span class="glyphicon glyphicon-new-window" style="color: #aaa;"></span></a>
            </div>
          </div>




          <div id="system-owner-proposal-steps"></div>


          <form  style="display:none;" id="send_request_message" name="send_request_message" method="post" action="{% url 'system_element' system_id=system.id element_id=element.id %}">
            {% csrf_token %}
            <input type="hidden" id="req_message_type" name="req_message_type" value="" />
            <input type="hidden" id="req_message" name="req_message" value="" />
          </form>




          <div id="control-description" class="">
            <h3>{{ element.name }} contributes {{ impl_smts|length }} statements to controls</h3>
          </div>
          <div class="row statement-column-headings" style="">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">Control</div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">Statement</div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"><span class="pull-right">Action</span></div>
          </div>
          <div id="smt-list" class="" style="width: 100%">
            <!-- Loop through existing component-control statements -->
            {% for smt in impl_smts %}
                <div id="panel-{{ forloop.counter }}" class="panel-smt">
                    <div class="panel-heading" role="tab" id="document-{{ forloop.counter }}-title">

                      <div class="row statement-text">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                          <details>
                              <summary>
                                  <span id="producer_element-{{ forloop.counter }}-control" class="control-id-text">
                                      {{ smt.sid|upper }} {% if smt.pid %}{{ smt.pid }}.{% endif %} - {{ smt.control_title }}
                                  </span>
                                  <br /><span class="systems-control-catalog">{{smt.sid_class}}</span>
                              </summary>
                              <div class="component-control-description">{{ smt.catalog_control_as_dict.description }}</div>
                          </details>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 statement-text-block">{{ smt.body }}</div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 remark-text-block">{% spaceless %}
                            {% if smt.prototype_synched == 'not_synched' %}
                                <span id="diff_alert_{{ forloop.counter }}_notice">
                                    <span href="#diff_{{ forloop.counter }}" class="" style="text-decoration: none;font-weight: normal; font-size: 9pt; color: firebrick;cursor: pointer;" onclick="alert('Your statement and component\'s reference statement have diverged.\n\nEdit statement for details.');return false;"><span class="glyphicon glyphicon-alert"></span> Differs from reference</span>
                                </span>
                            {% elif smt.prototype_synched == 'orphaned' %}
                                <span id="diff_alert_{{ forloop.counter }}">
                                    <a href="#diff_{{ forloop.counter }}" class="" data-toggle="collapse" style="text-decoration: none;font-weight: normal; font-size: 9pt; color: firebrick;"><span class="glyphicon glyphicon-alert"></span> No related statement for component in library</a>
                                </span>
                            {% endif %}
                          <span class="pull-right">
                            <a role="button" class="glyphicon glyphicon-pencil" style="color: #aaa;" data-toggle="collapse" data-parent="#accordion" href="#document-{{ forloop.counter }}-body" aria-expanded="false" aria-controls="document-{{ forloop.counter }}-body"onclick="$('#document-{{ forloop.counter }}-title').css('background-color','#f4f5f8');$('#document-{{ forloop.counter }}-title').css('display','none');"></a>
                          </span>
                          {% if smt.remarks %}
                            <details>
                              <summary>
                                Remarks
                              </summary>
                              <div>
                                {{ smt.remarks }}
                              </div>
                            </details>
                          {% endif %}
                        {% endspaceless %}
                        </div>
                      </div>
                      <br/>
                    </div>
                    <div id="document-{{ forloop.counter }}-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="document-{{ forloop.counter }}-title" style="background-color: #f4f5f8;">
                        <div class="panel-body">
                            <div class="smt_block">
                              <div class="row statement-text">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                  <details>
                                      <summary>
                                          <span id="producer_element-{{ forloop.counter }}-control-edit" class="control-id-text">
                                          {{ smt.sid|upper }} {% if smt.pid not in smt.sid %}{{ smt.pid }}.{% endif %} - {{ smt.control_title }}
                                          </span>
                                          <br /><span class="systems-control-catalog">{{smt.sid_class}}</span>
                                      </summary>
                                      <div class="component-control-description">{{ smt.catalog_control_as_dict.description }}</div>
                                  </details>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 statement-edit-text-block" style="background-color: #f4f5f8; margin-top:2px;">
                                <form id="smt_{{ forloop.counter }}" class="smt_form" style="background-color: #f4f5f8;">
                                    <div class="form-group">
                                      <input type="hidden" id="smt_id" name="smt_id" value="{{ smt.id }}">
                                      <label for="statement">
                                          {% if smt.prototype_synched == 'synched'%}
                                              <span id="diff_alert_{{ forloop.counter }}" style="color: green;font-weight: normal;"><span class="glyphicon glyphicon-check"></span> Same as reference</span>
                                          {% elif smt.prototype_synched == 'not_synched' %}
                                              <span id="diff_alert_{{ forloop.counter }}" style="color: firebrick;"> <a href="#diff_{{ forloop.counter }}" class="" data-toggle="collapse" style="text-decoration: none;font-weight: normal; font-size: 9pt; color: firebrick;"><span class="glyphicon glyphicon-alert"></span> Click to see differences from reference statement</a></span></span>
                                          {% elif smt.prototype_synched == 'orphaned' %}
                                              <span id="diff_alert_{{ forloop.counter }}" style="color: firebrick;"><span class="glyphicon glyphicon-alert"></span> No related statement for component in library <a href="#diff_{{ forloop.counter }}" class="" data-toggle="collapse" style="text-decoration: none;font-weight: normal; font-size: 9pt;">view</a></span>
                                          {% endif %}
                                          <div id="diff_{{ forloop.counter }}" class="collapse smt_diff" style="font-size:10pt; font-weight: normal; margin-top: 12px;color: #666;">
                                              <div style="text-decoration: underline;font-weight: bold;">
                                                  Reference statement for {{ smt.producer_element.name }} {{ control.id_display|upper }} is:
                                              </div>
                                              <div id="prototype_body_display_{{ forloop.counter }}">{{ smt.prototype.body|linebreaks }}</div>
                                              <div id="prototype_body_{{ forloop.counter }}" style="display: none;">{{ smt.prototype.body }}</div>
                                              <br/>
                                              <div style="text-decoration: underline;font-weight: bold;">
                                                  Comparison of current statement to reference statement:
                                              </div>
                                              <div id="diff_comparison_{{ forloop.counter }}">
                                                  {% if smt.prototype_synched == 'synched' %}
                                                      Texts are identical.
                                                  {% elif smt.prototype_synched == 'not_synched' %}
                                                      {{ smt.diff_prototype_prettyHtml|safe }}
                                                  {% endif %}
                                              </div>
                                              <br/>
                                              <div style="text-decoration: underline;font-weight: bold;">
                                                  {% if smt.prototype_synched == 'not_synched' %}Options:{% endif %}
                                              </div>
                                              <div>
                                                  {% if smt.prototype_synched == 'not_synched' %}
                                                      <button type="button" name="overwrite" value="overwrite" class="btn btn-xs btn-primary" onclick="copy_smt_prototype('{{ forloop.counter }}');return false;">Update current statement to reference statement</button>
                                                  {% endif %}
                                              </div>
                                          </div>
                                      </label>
                                      <textarea aria-label="How component body_{{ forloop.counter }} contribute to control" style="min-height:130px; width:101%;" class="form-control systems-element-statement"
                                                id="body_{{ forloop.counter }}" name="body" placeholder="How component contributes to control" cols="50"
                                                onfocus="$('#body_{{ forloop.counter }}').css('height', this.scrollHeight);">{{ smt.body }}</textarea>
                                    </div>
                                    <!-- Never change name of the producer element already associated with a statement -->
                                    <input type="hidden" id="producer_element_id_{{ forloop.counter }}" name="producer_element_id" value="{{ smt.producer_element.id }}">
                                    <input type="hidden" aria-label="Statement input" class="form-control" id="producer_element_name_{{ forloop.counter }}" name="producer_element_name" value="{{ smt.producer_element.name }}">
                                    <div class="form-group">
                                        <input type="hidden" id="producer_element_id" name="producer_element_id" value="{{ smt.producer_element.id }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="statement">Part</label>
                                        <input aria-label="Statement parts input" type="text" class="form-control" id="pid" name="pid" placeholder="Statement part (e.g., h)" value="{{ smt.pid }}" style="width:180px;">
                                    </div>
                                    <div class="form-group">
                                        <label for="status">Status</label>
                                        <select class=form-control id="status_{{ forloop.counter }}" name="status" style="width:180px;">
                                            <option value='' {% if '' == smt.status %}selected="selected"{% endif %}></option>
                                            <option value='Not Implemented' {% if 'Not Implemented' == smt.status %}selected="selected"{% endif %}>Not Implemented</option>
                                            <option value='Planned' {% if 'Planned' == smt.status %}selected="selected"{% endif %}>Planned</option>
                                            <option value='Partially Implemented' {% if 'Partially Implemented' == smt.status %}selected="selected"{% endif %}>Partially Implemented</option>
                                            <option value='Implemented' {% if 'Implemented' == smt.status %}selected="selected"{% endif %}>Implemented</option>
                                            <option value='Unknown' {% if 'Unknown' == smt.status %}selected="selected"{% endif %}>Unknown</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="remarks">Remarks</label>
                                        <textarea aria-label="Remarks textarea" class="form-control systems-element-form-remarks" id="remarks_{{ forloop.counter }}" name="remarks" placeholder="Add remarks for team" cols="50">{{ smt.remarks }}</textarea>
                                    </div>
                                    <input type="hidden" id="system_id" name="system_id" value="{{ system.id }}">
                                    <input type="hidden" id="sid" name="sid" value="{{ control.id }}">
                                    <input type="hidden" id="sid_class" name="sid_class" value="{{ smt.sid_class }}">
                                    <input type="hidden" id="statement_type" name="statement_type" value="control_implementation">
                                    <div class="pull-right">
                                      <!-- CURRENT LOCATION DEBUG -->
                                        <div id="success-msg-smt_{{ forloop.counter }}" class="systems-element-modal-footer"></div>
                                        <a href="">Cancel</a>&nbsp;
                                        <button type="button" name="delete" value="delete" class="btn btn-xs btn-danger" onclick="delete_smt('smt_{{ forloop.counter }}');return false;">Delete</button>
                                        <button type="button" name="save" value="save" class="btn btn-xs btn-success" onclick="save_smt('smt_{{ forloop.counter }}');return false;">Save</button>
                                        <button type="button" name="history" value="history" class="btn btn-xs btn-primary" onclick="location.href='{% url 'statement_history' smt_id=smt.id %}'">History</button>
                                    </div>
                                </form>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" style="color: gray;">
                                  <a href="" class="pull-right">X</a>&nbsp;
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
          </div>

          <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">&nbsp;</div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <!-- Add component statement-->
              <div>
                  <button type="submit" id="new_component_statement" class="btn btn-xs btn-success" onclick="add_smt()">Add component statement</button>
              </div>
            </div>
          </div>

        </div>
      </div>
  </div>
{% endblock %}

{% block scripts %}
      {{block.super}}
      <script>
        current_system = {
          id: '{{ system.id }}',
          name: `{{ system.root_element.name }}`,
        }
        req_ele = {
          id: '{{ element.id }}',
          name: `{{ element.name }}`,
          require_approval: `{{ element.require_approval }}` === 'True' ? true : false,
        }
        proposal = {
          id: '{{ proposal.id }}',
          userId: '{{ proposal.user.id }}',
          userName: '{{ proposal.user.name }}',
          requested_element_id: '{{ proposal.requested_element.id  }}',
          requested_element_name: `{{ proposal.requested_element.name }}`,
          criteria_comment: `{{ proposal.criteria_comment }}`,
          status: '{{ proposal.status }}',
        }
        if(`{{hasSentRequest}}` === 'True') {
          req = {
            id: '{{ component_request.id }}',
            systemId: '{{ component_request.system.id }}',
            requested_element: '{{ component_request.requested_element.id }}',
            criteria_comment: `{{ component_request.criteria_comment }}`,
            criteria_reject_comment: `{{ component_request.criteria_reject_comment }}`,
            status: '{{ component_request.status }}',
          }
        } else {
          req = {
            id: '',
            systemId: '',
            requested_element: '',
            criteria_comment: '',
            criteria_reject_comment: '',
            status: '',
          }
        }
        window.proposalSteps({{request.user.id}}, current_system, req_ele, proposal, req, `{{hasSentRequest}}` === 'True' ? true : false);

        // Adds statement form to page
        function add_smt() {
          var panel_num = $('.panel-smt').length + 1
          var smt_form = `{% include 'components/element_details_tabs_smtform.html' %}`.replace(/panel_num/g, panel_num);
          $( "#smt-list" ).append(smt_form);
        }

        function save_smt(smt_panel_num) {
          // Save a statement
          // serialize data from the identified statement form
          var data = $( '#'+smt_panel_num ).serialize();

          // send data via ajax to be saved
          ajax_with_indicator({
            url: "/controls/smt/_save/",
            method: "POST",
            data: data,
            indicator_parent: $('#page-content'),
            keep_indicator_forever: false, // keep the ajax indicator up forever --- it'll go away when we issue the redirect
            success: function(res) {
              console.log('success');
              console.log(res);
              if (res['status'] == "success") {
                // Update field values from saved
                // Initially update a few fields
                smt_saved = JSON.parse(res['statement']);
                console.log("printing smt_saved");
                console.log(smt_saved);

                // Temporarily redirect
                window.location = '/controls/{{system.id}}/component/{{element.id}}';

                // TODO: Get page to clean up just using AJAX.
                $( '#'+smt_panel_num+' input[name=smt_id]' ).val(smt_saved[0]['pk']);

                // If saving first time remove producer_element_name input field
                if ($( '#'+smt_panel_num+' input[name=producer_element_id]' ).val().length == 0) {
                  $( '#'+smt_panel_num+' input[name=producer_element_id]' ).val(smt_saved[0]['fields']['producer_element']);
                }

                // Update panel statement
                $( '#'+smt_panel_num.replace("smt_","panel-")+' .panel-heading-smt-body' ).html(smt_saved[0]['fields']['body']);

                $( '#'+smt_panel_num+' input[name=producer_element_id]' ).val(smt_saved[0]['fields']['producer_element']);
                $('#success-msg-'+smt_panel_num).fadeIn().text('Saved');
                // Update combined statement
                if (typeof update_combined_smt === "function") {
                  update_combined_smt();
                }
              } else {
                $('#success-msg-'+smt_panel_num).fadeIn().text('Error '+res['message']);
              }
              setTimeout(function() {
                $('#success-msg-'+smt_panel_num).fadeOut("fast");
              }, 1000 );
            }
          });

          // Stop <form> submit
          return false;
        }; // /save_smt

        function delete_smt(smt_panel_num) {
          console.log("Deleting statement button pressed "+smt_panel_num);
          // Confirm deletion
          var result = confirm("Delete statement?");
          if (result) {
              // Delete statement object in database if it exists
              if ($( '#'+smt_panel_num+' input[name=producer_element_id]' ).val().length > 0) {
                // console.log("deleting db object")
                // serialize data from the identified statement form
                var data = $( '#'+smt_panel_num ).serialize()
                // send data via ajax to delete object
                ajax_with_indicator({
                  url: "/controls/smt/_delete/",
                  method: "POST",
                  data: data,
                  indicator_parent: $('#page-content'),
                  keep_indicator_forever: false, // keep the ajax indicator up forever --- it'll go away when we issue the redirect
                  success: function(res) {
                    console.log('success');
                    console.log(res);
                    if (res['status'] == "success") {
                      // Update field values from saved
                      // Initially update a few fields
                      console.log("smt_deleted");
                    }
                    // Remove statement accordian from page
                    console.log("removing from page "+'#panel-'+smt_panel_num)
                    $( '#panel-'+smt_panel_num.replace("smt_","") ).remove()
                  }
                });
              } else {
                // Remove statement accordian from page
                console.log("removing from page "+'#panel-'+smt_panel_num)
                $( '#panel-'+smt_panel_num.replace("smt_","") ).remove()
              }
          }
        }

        function copy_smt_prototype(smt_panel_num) {
          // User wants to copy the reference statement locally
          // Copy the statement's prototype body text into statement body textarea
          smt_prototype = $('#prototype_body_' + smt_panel_num).text();
          $('#body_' + smt_panel_num).val($('#prototype_body_' + smt_panel_num).text().trim());
          // Update comparison label
          $('#diff_alert_' + smt_panel_num).html('<span id="diff_alert_' + smt_panel_num + '"><a href="#diff_' + smt_panel_num + '" class="" data-toggle="collapse" style="text-decoration: none;font-weight: normal; font-size: 9pt; color: green;"><span class="glyphicon glyphicon-check"></span> Same as reference</a></span>');
          // Update comparison
          $('#diff_comparison_' + smt_panel_num).text('Texts are identical.');
        }
      </script>
{% endblock %}
