{% extends "base.html" %}
{% load humanize %}
{% load guardian_tags %}
{% load static %}
{% load q %}

{% block title %}
{{ portfolio.title }} Controls Selected
{% endblock %}

{% block head %}
{% include "controls/_style-controls.html" %}
<style>
  .project-image {
    width: 20px;
    float: left;
    margin: 4px 0 5px 8px;
  }

  .inline {
    display: inline;
  }

  h3 {
    color: #888;
    #font-weight: bold;
    margin-top: 20px;
  }

  #above-tab-content, #tab-content {
    max-width: 950px;
    margin: auto;
  }

  .control-text {
    white-space: pre-wrap;
    font-size: 11pt;
    /*max-width: 700px;*/
    font-family: trebuchet ms, sans-serif;
    text-align: justify;
    /*text-justify: inter-word;*/
    line-height: 24px;
  }

  #control-lookup input {
    width: 130px;
  }

  #combined_smt {
    width: 80%;
    /*margin: 12px 0 16px 0px;*/
    padding: 8px;
    /*display: none;*/
  }

  textarea {
    overflow-y: scroll;
    resize: vertical;
  }

  a {
    color: #666;
  }

  #common-tab-count, #component-tab-count {
    display: inline-block;
    color: #666;
    background-color: #dedede;
    border-radius: 20px;
    line-height: 1;
    padding: 2px 6px;
    font-size: 0.8em; font-weight: 600;
  }

  .panel-heading-smt {
    white-space: pre-line;
  }

  .panel-heading a:hover {
    text-decoration: none;
    color: #000;
  }

</style>
{% endblock %}

{% block contextbar %}{% endblock %}

{% block body %}

<div style="margin-top: 30px">
  <div class="container">

  <div class="row" style="">
    <div id="above-tab-content" class="row">
      <!-- Page Title-->
      <div style="float: left;">
          <h2 class="control-heading" style="">
            <a href="{{ project.get_absolute_url }}" style="color: black;">{{ system.root_element.name }}</a> &gt; <a href="/systems/{{system.id}}/components/selected" style="color: black;">Selected Components</a>
          </h2>
      </div>
      <!-- Control Lookup-->
      <div style="float: right;">
          <!-- <form id="control-lookup" method="get" action="/controls/" onsubmit="show_control_by_id(); return false;">
            <input type="text" name="id" placeholder="Enter control id" value="{% if control %}{{ control.id_display|upper }}{% endif %}">
                <button type="submit" class="btn btn-success">Look up</button>
          </form> -->
      </div>

    </div>
  </div><!--/row-->

  <div id="above-tab-content" class="row">
    <div style="float: left; padding: 0 0 0 0em;">
        <h2 class="control-heading" style="">
            {{ element.name }}
        </h2>
    </div>
  </div>

<div>&nbsp;</div>

  <div id="tab-content" class="row">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#component" aria-controls="component" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span> Component</a></li>
      <li role="presentation"><a href="#component_controls" aria-controls="component_controls" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-wrench"></span> Component Statements  &nbsp;<div id="common-tab-count">{{ impl_smts|length }}</div></a></li>
      <li role="presentation"><a href="#oscal" aria-controls="oscal" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-file"></span> OSCAL </a></li>
      <li role="presentation"><a href="#opencontrol" aria-controls="opencontrol" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-file"></span> OpenControl </a></li>
    </ul>

  <!-- Tab panels -->
    <div class="tab-content">

      <!-- Tab panel: component -->
      <div role="tabpanel" class="tab-pane active" id="component">
        <div>
          <h3>Description</h3>
          {{ element.description }}
        </div>
        <div>
          <h3>{{ impl_smts|length }} Implementation Statement{{ impl_smts|length|pluralize }} associated with "{{ system.root_element.name }}"</h3>
          {% for smt in impl_smts %}
            <div class="row">
              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                <a href="/systems/{{ system.id }}/controls/catalogs/{{ smt.sid_class }}/control/{{ smt.sid }}">{{ smt.sid|upper }}</a>
              </div>
              <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">{{ smt.body }}</div>
            </div>
            <div>&nbsp;</div>
          {% endfor %}
        </div>
      </div>

      <!-- Tab panel: component_controls -->
      <div role="tabpanel" class="tab-pane" id="component_controls">
          <div id="control-description" class="control-text"><h3>Component Implementations Statements</h3></div>
          <div id="smt-list" class="" style="width: 90%">
            {% for smt in impl_smts %}
            <div id="panel-{{ forloop.counter }}" class="panel panel-default">
              <div class="panel-heading" role="tab" id="document-{{ forloop.counter }}-title">
                <h4 id="panel-{{ forloop.counter }}-title" class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#document-{{ forloop.counter }}-body" aria-expanded="false" aria-controls="document-{{ forloop.counter }}-body">
                    <span id="producer_element-panel_num-title">{{ smt.producer_element.name }}</span>&nbsp;
                    <div class="panel-heading-smt">{{ smt.body }}</div>
                  </a>
                </h4>
              </div>
              <div id="document-{{ forloop.counter }}-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="document-{{ forloop.counter }}-title">
                <div class="panel-body output-document">

              <div>
                <form id="smt_{{ forloop.counter }}" class="smt_form">
                  
                    <!-- Never change name of the producer element already associated with a statement -->
                    <input type="hidden" id="producer_element_id_{{ forloop.counter }}" name="producer_element_id" value="{{ smt.producer_element.id }}">
                    <input type="hidden" class="form-control" id="producer_element_name_{{ forloop.counter }}" name="producer_element_name" value="{{ smt.producer_element.name }}">

                  <div class="form-group">
                    <input type="hidden" id="producer_element_id" name="producer_element_id" value="{{ smt.producer_element.id }}">
                    <label for="compoment"><a href="/systems/{{ system.id }}/component/{{ smt.producer_element.id }}" style="color: black;">{{ smt.producer_element.name }}</a></label>
                  </div>

                  <div class="form-group">
                    <input type="hidden" id="smt_id" name="smt_id" value="{{ smt.id }}">
                    <label for="statement">Statement</label>
                    <textarea style="min-height:130px;overflow-y: scroll;" class="form-control" id="body_{{ forloop.counter }}" name="body" placeholder="How component contributes to control"  cols="50">{{ smt.body }}</textarea>
                  </div>
                  <div class="form-group">
                    <label for="remarks">Remarks</label>
                    <textarea style="min-height:70px; overflow-y: scroll;" class="form-control" id="remarks_{{ forloop.counter }}" name="remarks" placeholder="Add remarks for team" cols="50">{{ smt.remarks }}</textarea>
                  </div>

                  <input type="hidden" id="control_id" name="control_id" value="{{ control.id }}">
                  <input type="hidden" id="system_id" name="system_id" value="{{ system.id }}">
                  <input type="hidden" id="sid" name="sid" value="{{ control.id }}">
                  <input type="hidden" id="sid_class" name="sid_class" value="{{ smt.sid_class }}">
                  <input type="hidden" id="statement_type" name="statement_type" value="control_implementation">

                <div class="modal-footer">
                  <div id="success-msg-smt_{{ forloop.counter }}" style="display: inline; margin-right: 20px; color: gray;"></div>
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#document-{{ forloop.counter }}-body" aria-expanded="false" aria-controls="document-{{ forloop.counter }}-body">Close</a>&nbsp;
                  <button type="button" name="delete" value="delete" class="btn btn-xs btn-danger" onclick="delete_smt('smt_{{ forloop.counter }}');return false;">Delete</button>
                  <button type="button" name="save" value="save" class="btn btn-xs btn-success" onclick="save_smt('smt_{{ forloop.counter }}');return false;">Save</button>
                </div>

                </form>
              </div>

                </div>
              </div>
            </div>

            {% endfor %}
          </div><!--/smt-list-->
          <!-- <div><h3><button type="submit" class="small btn btn-md btn-success" style="color: white;" onclick="add_smt()">Add component statement</button></h3></div> -->
      </div>

      <!-- Tab panel: combined -->
      <div role="tabpanel" class="tab-pane" id="oscal">
        <div id="combined_smt" class="control-text"><h3>OSCAL (under development)</h3></div>
        <div style="font-family: monospace; font-size:12px; white-space: pre;">{{ oscal }}</div>
      </div>

      <!-- Tab panel: opencontrol -->
      <div role="tabpanel" class="tab-pane" id="opencontrol">
        <div id="combined_smt" class="control-text"><h3>OpenControl (under development)</h3></div>
        <div style="font-family: monospace; font-size:12px; white-space: pre;">{{ opencontrol }}</div>
      </div>

    </div>
  </div>


  </div>
</div>

{{ block.super }}
{% endblock %}

{% block scripts %}
{% endblock %}
