{% extends "../base.html" %}
{% load static %}
{% load q %}

{% block title %}
{{ portfolio.title }} POA&M Detail
{% endblock %}

{% block head %}
{% include "controls/_style-controls.html" %}
{% endblock %}

{% block contextbar %}{% endblock %}

{% block body-wide %}

<div class="container">

    
    <div class="row">
        <div class="col-md-12">
            <h2>Results of System Import</h2>
            <p>Results of your recent importing of one or more systems</p>
        </div>
        <div class="col-md-3 portfolio-org-col ">
            <h2>Successful Imports</h2>
            <p>List of systems successfully imported.</p>
        </div>
        <div class="col-md-9 portfolio-org-col ">
            <div class="well">
                <p> {{systems_imported_list}} </p>
            </div>
        </div>

        <div class="col-md-3 portfolio-org-col ">
            <h2>Unsuccessful Imports</h2>
            <p>List of systems not imported.</p>
        </div>
        <div class="col-md-9 portfolio-org-col ">
            <div class="well">
                <p> {{systems_not_imported_list}} </p>
            </div>
        </div>

    </div>
</div>

{{ block.super }}
{% endblock %}

{% block scripts %}
{{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
    <script>
        $("#import_loading_spinner").hide();

        function fillFileContent(file) {
            console.log('@@@@@@@@   fillFileContent     @@@@@@@@')
            var fileInput = document.getElementById('file_content')
      
            var filePath = fileInput.value;
            var allowedExtensions = /(\.json)|(\.xlsx)|(\.csv)$/i;
            var jsonExtensions = /(\.json)$/i;
            var excelExtensions = /(\.xlsx)$/i;

            if (!allowedExtensions.exec(filePath)) {
              fileInput.value = '';
              show_modal_error("Wrong File Type Error", "Please only provide either a json file or xlsx file!");
            } else {
              filecontents = fileInput.files[0];
              if (filecontents.size < 5000000) {
                $('#{{import_system_form.file_name.auto_id}}').val(filecontents.name);
                var reader = new FileReader();
                if(excelExtensions.exec(filePath)) {
                    reader.onload = function (e) {
                        var data = e.target.result;
                        data = new Uint8Array(data);
                        var workbook = XLSX.read(data, {type: 'array'});
                        console.log(workbook);
                        var result = {};
                        workbook.SheetNames.forEach(function (sheetName) {
                            var roa = XLSX.utils.sheet_to_json(workbook.Sheets[sheetName], {header: 1});
                            if (roa.length) result[sheetName] = roa;
                        });
                        // see the result, caution: it works after reader event is done.
                        console.log('result: ', result);
                        resultString = ``;
                        for(var i = 0; i < result['Sheet1'].length; i++) {
                            resultString += result['Sheet1'][i].toString() + '\n';
                        }
                        debugger;
                        $('#{{import_system_form.file_content.auto_id}}').val(resultString);
                    };
                    reader.readAsArrayBuffer(filecontents);
                } else {
                    reader.readAsText(filecontents);
                    reader.onload = function (e) {
                        $('#{{import_system_form.file_content.auto_id}}').val(e.target.result);
                    }
                }
                
              } else {
                show_modal_error("File is too large", "Maximum size is under 5MBs");
              }
            }
          }
          
        function show_spinner() {
            $("#import_loading_spinner").show();
        }
    </script>
{% endblock %}
