{% extends "summary-base.html" %}
{% load humanize %}
{% load guardian_tags %}
{% load static %}
{% load q %}
{% load system_tags %}

{% block title %}
  POA&Ms
{% endblock %}

{% block head %}
{{block.super}}
{% include "controls/_style-controls.html" %}
{% endblock %}

<!-- action buttons included from project-base.html -->
<!-- authoring_tool_enabled included from project-base.html -->

{% block body_content %}

<div style="margin-top:8px; padding:20px 50px 0 50px; border-top:1px solid #ccc; background-color:#F5F5F5;">
<div class="row">
      <div class="col-md-8" style="">
          <h3 class="system-classification">{{ system.impact }}</h3>
          <h2 class="system-name">{{ system.name }}</h2>
          <h3 class="system-aka"><span style="font-size:.8em;">A.K.A.</span> {% for aka in system.aka %}"{{ aka }}"{% if not forloop.last %}, {% endif %}{% endfor %}"</h3>
      </div>

    <!-- <div class="col-md-4"><h5 class="sys-wide-status-header">Organization-wide Initiative Status</h5>
        <div style="border:1px solid #CCCCCC; padding:8px;">
            <table id="sys-wide-status">
                <tr><td style="width:15px;"><div class="status-box status-red">&nbsp;</div></td><td class="sys-wide-status">800-53 rev5 migration</td></tr>
                <tr><td><div class="status-box status-yellow">&nbsp;</div></td><td class="sys-wide-status">Log4J remediation solution (updated 4/21/22)</td></tr>
                <tr><td><div class="status-box status-green">&nbsp;</div></td><td class="sys-wide-status">Q3 Audit</td></tr>
            </table>
        </div>
    </div> -->
</div>

{% include "summary-horizontal-nav.html" %}
</div>
<div style="padding:0 50px 0 50px;">
<div class="row">
<!-- start left sidebar -->
<!-- <div class="col-sm-3">
{% include "summary-sidebar.html" %}
</div> --> <!-- ends left sidebar -->

<div class="col-sm-12"><!-- starts content area -->

  <div class="row" style="padding:50px 0 0 20px; ">
  <div class="col-md-12"><h4 class="sys-summary-header">POA&Ms Overview</h4></div>

    <div style="max-width:75%; padding-left:1em;">
        <p class="sys-summary-content">
          POA&Ms (Plan of Action & Milestones) are risk findings and/or corrective action plans.
        </p>
    
        <div id="tab-content" class="rows-header" style="height:50px">
            <div id="" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 systems-poam"><span class="systems-selected-items">POA&Ms</span></div>
            <div id="" class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">&nbsp;</div>
            <div id="" class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
              <a href={% url 'new_poam' system_id=system.id %} class="btn btn-sm btn-success systems-element-button">New POA&M</a>
              <span class="glyphicon glyphicon-download-alt pull-right systems-poam-glyphicon"
                    style="cursor: pointer;"
                    onclick="download_document('{{document.id|escapejs}}', {{ system.id }})"></span>
            </div>
        </div>
        {% if poam_smts|length < 1 %}
          <div id="tab-content" class="row-control" style="height:50px">
            <div id="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <p>No POA&Ms are currently identified for this system.</p>
            </div>
          </div>
        {% else %}
          {% for poam_smt in poam_smts %}
            <div id="tab-content" class="row-control" style="height:50px">
                <div id="" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <a href={% url 'edit_poam' system_id=system.id poam_id=poam_smt.id %}>V-{{ poam_smt.poam.poam_id }}</a>
                </div>
                <div id="" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    {{ poam_smt.poam.weakness_name }}
                </div>
                <div id="" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                  {{ poam_smt.status }}
                </div>
                <div id="" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    {{ poam_smt.updated|timesince}} ago
                </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>

</div>
</div>


{% endblock %}

{% block scripts %}
    {{ block.super }}
<script>
  // The download button shows a modal to ask what file format to download in.
  function download_document(document_id, system_id) {
    var dom = $("<div><p>Select download format:</p>"
      + "<select class=form-control>"
      + "<option value='xlsx'>Microsoft Excel Spreadsheet</option>"
      + "<option value='csv'>CSV Text File</option>"
      + "</select>"
      + "</div>");
    show_modal_confirm("Download Document", dom, "Download", function() {
      var format = dom.find("select").val();
      switch(format) {
        case "xlsx":
          window.location = "/systems/" + system_id + "/poams/export/xlsx";
          break;
        case "csv":
          window.location = "/systems/" + system_id + "/poams/export/csv";
          break;
      }
    });
  }
</script>

{% endblock %}
