{% extends "project-base.html" %}
{% load humanize %}
{% load guardian_tags %}
{% load static %}
{% load q %}
{% load system_tags %}

{% block title %}
  POA&Ms
{% endblock %}

{% block head %}
{{block.super}}
{% include "controls/_style-controls.html" %}
{% endblock %}

<!-- action buttons included from project-base.html -->
<!-- authoring_tool_enabled included from project-base.html -->

{% block body_content %}
<div  class="systems-top">
    <div id="tab-content" class="row rows-header">
        <div id="" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 systems-poam">System Assessment Results</div>
        <div id="" class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">&nbsp;</div>
        <div id="" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <a href="/systems/{{ system.id }}/assessment/new" class="btn btn-sm btn-success systems-element-button">New Assessment Results</a>
        </div>
    </div>
    {% if sars|length < 1 %}
      <div id="tab-content" class="row row-control">
        <div id="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <p>No System Assessment Results items are currently identified for this deployment.</p>
        </div>
      </div>
    {% else %}
      {% for item in sars %}
        <div id="tab-content" class="row row-control">
            <div id="" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <a class="portfolio-project-link" href="/systems/{{ system.id }}/sar/{{ item.id }}/view">{{ item.name }}</a>
            </div>
            <div id="" class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                {% if item.description %}{{ item.description }}{% else %}<span class="not-provided">No description provided.</span>{% endif %}
            </div>
            <div id="" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                {{ item.updated|timesince}} ago
            </div>
            <div id="" class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                <a class="portfolio-project-link" href="/systems/{{ system.id }}/sar/{{ item.id }}/edit" title="Edit system assessment result" aria-label="Edit SAR" ><span class="glyphicon glyphicon-pencil"></span></a>
                &nbsp;
                <a class="portfolio-project-link" href="/systems/{{ system.id }}/sar/{{ item.id }}/history" title="View system assessment result history" aria-label="View deployment history" ><span class="glyphicon glyphicon-calendar"></span></a>
            </div>
        </div>
      {% endfor %}
    {% endif %}
</div>

{% endblock %}

{% block scripts %}
<script>

</script>

{% endblock %}
