{% extends "project-base.html" %}
{% load humanize %}
{% load guardian_tags %}
{% load static %}
{% load q %}
{% load system_tags %}

{% block title %}
System Assessment Results
{% endblock %}

{% block head %}
{{block.super}}
{% include "controls/_style-controls.html" %}
<style>
  /* New styles for project dashboard elements */
  .status { font-size:3em; color:#2D3337;}
  .status-success { font-size:3em; color:green;}
  .status-warning { font-size:3em; color:red;}
  .status-welcome { font-size:2em; margin:0 0 1em 0; }
  .status-box { border:1px solid #C1C1C1; padding:5px; text-align:center; background: #F6F7F7;}
  .status-small { font-size: .8em;}

  .input-todo { padding-left:5px; }
  .alert-changed { font-size: 1.2em; margin:0; padding:1em 0 0 0}
  .status-section-header { display:block; border-bottom:1px solid #ccc; margin-bottom:1em; font-size:1.3em; }
  .piechart {
          display: block;
          margin:3em auto 0 auto;
          width: 300px;
          height: 300px;
          border-radius: 50%;
          background-image: conic-gradient(
              #E1F8E2  70deg,
              #B2E0B2 0 235deg);
      }
  .vuln-table { width:100%;}
  .vuln-table-head { font-size: .9em; }
  .vuln-table-component { font-size: 1.2em; font-weight:bold; padding:0; margin:0;}
  .vuln-table-component-desc { font-size: .8em; }
  .vuln-table-bad { color: red;}
  .vuln-table-medium { color: orange;}

  .portfolio-table { width:100%;}
  .portfolio-table-component { font-size: 1.2em; font-weight:bold; padding:0; margin:0;}
  .portfolio-table-component-desc { font-size: .8em; }

  summary {
    font-weight: normal;
    margin: -.5em -.5em 0;
    padding: .5em;
    /*border:none;*/
    outline: none;
    cursor: pointer;
  }

  details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
  }

  .sar-item-summary-label { border: 1px solid #bbb; border-radius: 16px; color: #666; padding: 0px 6px 0px 6px; font-size: .9em;}
  .sar-item-details { margin: 0px 0px 20px 0px; }
  .sar-item-details table { border-collapse: separate; border-spacing: 0 12px; min-width: 600px; max-width: 700px; margin-left: 5%; }
  .sar-item-details td.sar-item-key { min-width: 20%; padding: 8px; }
  .sar-item-details td.sar-item-value { background-color: rgb(250,250,250); border: 1px solid rgb(235,235,235); }
</style>
{% endblock %}

<!-- action buttons included from project-base.html -->
<!-- authoring_tool_enabled included from project-base.html -->

{% block body_content %}

<div  class="systems-top">
  <div class="tab-content">

    <div class="row">
      <div class="col-md-12"><h2>"{{ sar.name }}" assessment summary{% if sar.deployment.name  %} of "{{ sar.deployment.name }}" deployment{% endif %}</h2></div>
      <div class="col-md-12">Added {{ sar.created }} {% if sar.description %}- {{ sar.description }}{% endif %}</div>
      <p>&nbsp;</p>
    </div>

    <div class="row">
        <div class="col-md-3"><div class="status-box"><h2 class="status">{{ sar_items|length }}</h2> <span class="status-small">total assessments</span></div></div>
        <div class="col-md-3"><div class="status-box"><h2 class="status-success">{{ summary.pass }}</h2> <span class="status-small">total tests passed</span></div></div>
        <div class="col-md-3"><div class="status-box"><h2 class="status-warning">{{ summary.fail }}</h2> <span class="status-small">total tests failed</span></div></div>
        <div class="col-md-3"><div class="status-box"><h2 class="status">{{ summary.error }}</h2> <span class="status-small">total errors</span></div></div>
        <!-- <div class="col-md-3"><div class="status-box"><h2 class="status">100</h2> <span class="status-small">controls partially or fully implemented</span></div></div> -->
    </div>
    <p>&nbsp;</p>

    {% for item in sar_items %}
      <div class="row">
          <div class="col-md-12">
            <details class="sar-item-details">
                <summary>
                  {% if item.ip %}<span class="sar-item-summary-label">{{ item.ip }}</span>{% endif %}
                  {% if item.agent %}<span class="sar-item-summary-label">agent {{ item.agent }}</span>{% endif %}
                  {% if item.policy_id %}<span class="sar-item-summary-label">{{ item.policy_id }}</span>{% endif %}
                  <span class="sar-item-summary-label">{{ item.pass }} passed</span> <span class="sar-item-summary-label">{{ item.fail }} failed</span>
                  {% if item.invalid %}<span class="sar-item-summary-label">{{ item.invalid }} invalid</span>{% endif %}
                  {% if item.description %}<div>{{ item.description }}</div>{% endif %}
                </summary>
                <table>
                  {% for k, v in item.items %}
                    <tr>
                      {% if "http://" in v or "https://" in v %}
                        <td class="sar-item-key pull-right">{{ k }}&nbsp;&nbsp;</td><td class="sar-item-value"><a href="{{ v }}" target="_blank">{{ v }}</a></td>
                      {% else %}
                        <td class="sar-item-key pull-right">{{ k }}&nbsp;&nbsp;</td><td class="sar-item-value">{{ v }}</td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                </table>
            </details>
          </div>
      </div>

    {% endfor %}

    <!-- <div class="row">
        <div class="col-md-12">
          <details>
              <summary>System Assessment Results Raw Data</summary>
              <pre>{{ assessment_results_json }}</pre>
          </details>
        </div>
    </div> -->
</div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
<script>
</script>
{% endblock %}
