{% extends "summary-base.html" %}
{% load humanize %}
{% load guardian_tags %}
{% load static %}
{% load q %}
{% load system_tags %}

{% block title %}
System
{% endblock %}

{% block head %}
{{block.super}}
{% include "controls/_style-controls.html" %}
{% endblock %}

<!-- action buttons included from project-base.html -->
<!-- authoring_tool_enabled included from project-base.html -->

{% block body_content %}

<style>
</style>

<div style="margin-top:8px; padding:20px 50px 0 50px; border-top:1px solid #ccc; background-color:#F5F5F5;">
<div class="row">
      <div class="col-md-8" style="">
          <h3 class="system-classification">{{ system.impact }}</h3>
          <h2 class="system-name">{{ system.name }}</h2>
          <h3 class="system-aka"><span style="font-size:.8em;">A.K.A.</span> {% for aka in system.aka %}"{{ aka }}"{% if not forloop.last %}, {% endif %}{% endfor %}"</h3>
      </div>

    <div class="col-md-4"><h5 class="sys-wide-status-header">Organization-wide Initiative Status</h5>
        <div style="border:1px solid #CCCCCC; padding:8px;">
            <table id="sys-wide-status">
                <tr><td style="width:15px;"><div class="status-box status-red">&nbsp;</div></td><td class="sys-wide-status">800-53 rev5 migration</td></tr>
                <tr><td><div class="status-box status-yellow">&nbsp;</div></td><td class="sys-wide-status">Log4J remediation solution (updated 4/21/22)</td></tr>
                <tr><td><div class="status-box status-green">&nbsp;</div></td><td class="sys-wide-status">Q3 Audit</td></tr>
            </table>
        </div>
    </div>
</div>

{% include "summary-horizontal-nav.html" %}
</div>
<div style="padding:0 50px 0 50px;">

<div class="row" style="margin-top: 20px;">
  <div class="col-md-12"><h3 class="sys-summary-header">System Overview</h3></div>

  <div class="col-md-8">
    <h3 class="system-heading">System Details</h3>
    <div class="col-md-12" style="border:1px solid #8C8C8C; background:#f8f8f8; margin-bottom:3em; padding:10px;">
      <div class="col-md-6">
        <table class="sys-detail-table">
            <tr><td class="sys-detail-table-left">System ID: <span class="sys-detail-response">{{ system.other_id }}</span></td></tr>
            <tr><td class="sys-detail-table-left">Status: <span class="sys-detail-response">{{ system.status }}</span></td></tr>
            <tr><td class="sys-detail-table-left">System Type: <span class="sys-detail-response">{{ system.type }}</span></td></tr>
            <tr><td class="sys-detail-table-left">System Created: <span class="sys-detail-response">{{ system.created|naturaltime }}</span></td></tr>
            <tr><td class="sys-detail-table-left">Hosting Facility: <span class="sys-detail-response">{{ system.hosting_facility }}</span></td></tr>
        </table>
      </div>
      <div class="col-md-6">
        <table class="sys-detail-table">
            <tr><td class="sys-detail-table-left">Next Audit: <span class="sys-detail-response">{{ system.next_audit }}</span></td></tr>
            <tr><td class="sys-detail-table-left">Next Scan: <span class="sys-detail-response">{{ system.next_scan|naturaltime }} </span></td></tr>
            <tr><td class="sys-detail-table-left">Security Scan: <span class="sys-detail-response">{{ system.security_scan }}</span></td></tr>
            <tr><td class="sys-detail-table-left">Penetration Test: <span class="sys-detail-response">{{ system.pen_test|naturaltime }}</span></td></tr>
            <tr><td class="sys-detail-table-left">Auto-Config Scan: <span class="sys-detail-response">{{ system.config_scan }}</span></td></tr>
        </table>
      </div>
    </div>
  <div>
    <h3 class="system-heading">Recent System Related Events</h3>
      <table class="sys-recent">
        {% for se in system_events %}
          <tr>
            <td class="sys-recent-left"><div class="sys-recent-tag">{{ se.event_tag }}</div></td><td>{{ se.event_summary }}</td>
          </tr>
        {% endfor %}
      </table>
  </div>

  <h3 class="system-heading">Projects (Questionnaires)</h3>
  {% if projects|length < 1 %}
    <div id="tab-content" class="row row-control">
      <div id="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <p>No Projects are currently identified for this system.</p>
      </div>
    </div>
  {% else %}
    {% for p in projects %}
      <div class="col-md-4">
        <a href="/projects/{{ p.id }}/">
        <div class="vuln-scores" style="display:block; margin-bottom:2em;">
          <span class="vuln-scores-cat-tot">{{ p.title }}</span>
          <span class="vuln-scores-cat-title">{{ p.root_task.module.get_questions|length }} Modules</span>
          <!-- <span class="vuln-scores-cat-title">{{ p.id }}<br />Updated {{ project.updated|timesince}} ago</span> -->
        </div>
        </a>
      </div>
    {% endfor %}
  {% endif %}
</div>


<div class="col-md-4">
<h3 class="system-heading">System Summary</h3>
<div class="col-md-12" ><p class="sys-summary-content">{{ system.purpose|safe|truncatewords:75 }}</p>
<br />
</div>

<h4 class="system-heading ownership-tab">Ownership</h4>
<div class="col-md-12">
<h5 class="system-heading" style="padding:0; margin:0;">Organization</h5>
<p class="sys-summary-content">{{ system.organization_name }}<!-- Forest Service, Office of CIO (Customer Experience Center) --></p>

<div class="col-md-6 sys-ownership-details"><span class="header">System Owner</span>
<p>Lorem ipsum</br>
555-888-1212</br>
contact@dfafsdf.com</p>
</div>

<div class="col-md-6 sys-ownership-details"><span class="header">Technical Contact</span>
<p> Department of Forgotten Systems</br>
252-314-1414</br>
admin@sdfsdqfqfqf.com</p>
</div>
</div>
</div>
</div>




<div class="row" style="margin-top:3em;">
  <div class="col-md-12">
    <h3 class="sys-summary-header">Risk Assessment</h3>

    <span class="vuln-header">Vulnerabilities</span><span style="font-size:.9em; color:#808080;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(as of 4:24pm, 04/26/22)</span>

    <div style="border:1px solid #ccc; display:block; margin-top:2em; margin-bottom:2em; border-radius: 7px;">
<table id="sys-vuln-table">
  <tr>
    <td style="border-right:1px solid #ccc; padding:1em;"><div style="text-align:center;"><h2 style="font-size:2em;">{{ system.vuln_new_30days }}</h2><span style="color:#808080;"><strong>New</strong> in last 30 days</span></div></td>
    <td style="border-right:1px solid #ccc; padding:1em;"><div style="text-align:center;"><h2 style="font-size:2em;">{{ system.vuln_new_rslvd_30days }}</h2><span style="color:#808080;"><strong>Resolved</strong> in last 30 days</span></div></td>
    <td style="padding:1em;"><div style="text-align:center;"><h2 style="font-size:2em;">{{ system.vuln_90days }}</h2><span style="color:#808080;"><strong>Ongoing</strong> (90+ days)</span></div></td>
  </tr>
</table>
</div>
</div>

<div class="col-md-12">
<h3 class="system-heading">Vulnerability Overview</h3>
<div style="max-width:75%; padding-left:1em;"><p class="sys-summary-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consequat interdum varius sit amet. Auctor elit sed vulputate mi sit amet mauris commodo quis. Vestibulum sed arcu non odio euismod. Adipiscing at in tellus integer feugiat scelerisque varius.</p>
<br />
</div>
</div>


<div class="col-md-2"><div class="vuln-scores greybg"><h2 style="font-size:2em;">{{ system.risk_score }}</h2><span style="font-weight:bold; font-size:.9em;">Risk Score</span></div></div>
<div class="col-md-2"><div class="vuln-scores"><span class="vuln-scores-cat-tot">{{ system.score_1 }}</span><span class="vuln-scores-cat-title">Lorem</span></div></div>
<div class="col-md-2"><div class="vuln-scores"><span class="vuln-scores-cat-tot">{{ system.score_2 }}</span><span class="vuln-scores-cat-title">Ipsum</span></div></div>
<div class="col-md-2"><div class="vuln-scores"><span class="vuln-scores-cat-tot">{{ system.score_3 }}</span><span class="vuln-scores-cat-title">Consectetur</span></div></div>
<div class="col-md-2"><div class="vuln-scores"><span class="vuln-scores-cat-tot">{{ system.score_4 }}</span><span class="vuln-scores-cat-title">Adipiscing</span></div></div>
<div class="col-md-2"><div class="vuln-scores"><span class="vuln-scores-cat-tot">{{ system.score_5 }}</span><span class="vuln-scores-cat-title">Aliqua</span></div></div>


</div>


<div class="row" style="margin-top:3em;">
  <div class="col-md-12">
  <span class="vuln-header">Plan of Action & Milestones</span><span style="font-size:1.2em; color:#808080;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;( 16 open / 72 resolved )</span>

    <div id="system-summary-poam-datagrid"></div>
</div>

</div>

</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
<script>
    window.system_summary({{system.id}}, {{project.id}});
</script>

{% endblock %}
