{% extends "project-base.html" %}
{% load humanize %}
{% load guardian_tags %}
{% load static %}
{% load q %}
{% load system_tags %}

{% block title %}
Workflow Recipes
{% endblock %}

{% block head %}
<style type="text/css">
    /*.stepper-wrapper { margin-top: auto; display: flex; justify-content: space-between; margin-bottom: 20px; }
    .stepper-item { position: relative; display: flex; flex-direction: column; align-items: center; flex: 1;
    @media (max-width: 768px) { font-size: 12px; }
    }
    .stepper-item::before { position: absolute; content: ""; border-bottom: 2px solid #ccc; width: 100%; top: 15px; left: -50%; z-index: 2; }
    .stepper-item::after { position: absolute; content: ""; border-bottom: 2px solid #ccc; width: 100%; top: 15px; left: 50%; z-index: 2; }
    .stepper-item .step-counter { position: relative; z-index: 5; display: flex; justify-content: center; align-items: center; width: 30px; height: 30px; border-radius: 50%; background: #fff; border: 2px solid #bebebe; margin-bottom: 6px; color: #bebebe;
    font-weight: bold; }
    .stepper-item.active { font-weight: bold; }
    .stepper-item.completed .step-counter { background-color: #4bb543; border: 2px solid #4bb543; }
    .stepper-item.completed::after { position: absolute; content: ""; border-bottom: 2px solid #4bb543; width: 100%; top: 15px; left: 50%; z-index: 3; }
    .stepper-item:first-child::before { content: none; }
    .stepper-item:last-child::after { content: none; }
    .step-name { text-align: center; }
    .stepper-item.completed .step-counter { color: white; }*/
    .heading { font-weight: bold; text-align: center;}
    .workflowinstance a { color: black; }
    .bottom-border { border-bottom: 0.5px solid #888; }

    summary {
        font-weight: normal;
        /*margin: -.5em -.5em 0;*/
        /*padding: .5em;*/
        /*border:none;*/
        /*outline: none;*/
        cursor: pointer; }
    details {
        /*border: 1px solid #aaa;*/
        border-radius: 4px;
        padding: .5em .5em 0; 
        margin-bottom: 20px;}

    .container { margin-top: 40px; }
    a.action-link{ color: #888; }
</style>
{% endblock %}

<!-- Remove context bar from top of page -->
{% block contextbar %}{% endblock %}

{% block body %}

<div class="container">
    <div class="portfolio-main">
      <a id="new-portfolio" href="/workflow/recipes/manage" class="btn btn-success">Create a recipe</a>
    </div>
    <p>&nbsp;</p>
    <h2>All Workflow Recipes</h2>

    <p>&nbsp;</p>
            <div class="row bottom-border">
                <div class="col-md-4 heading">
                    Workflow Recipe
                </div>
                <div class="col-md-1 heading">
                    ID
                </div>
                <div class="col-mid-6 heading">
                    Details
                </div>
                <div class="col-mid-1 heading">
                    Actions
                </div>
            </div>

            {% for item in workflowrecipes %}
                <div class="row workflowinstance" style=" border-top: 0.5px solid #888;padding-top: 8px;">
                    <div class="col-md-4">
                        <a href="" target="">{{ item.name }}</a>
                    </div>
                    <div class="col-md-1" style="text-align: center;">
                        <a href="/admin/workflow/workflowrecipe/{{ item.id }}/change/" target="_blank">{{ item.id }}</a>
                    </div>
                    <div class="col-md-6" style="">
                        <div>{{ item.description }}</div>

                        {% comment %}
                        {% for key in item.workflow.feature_order %}
                          {% with feature=item.workflow.features|get_item:key %}
                            <div class="stepper-item {{ feature.status }} 
                                 {% if key == item.workflow.curr_feature and feature.status != 'completed'%}active{% endif %}">
                              <div class="step-counter">{{ forloop.counter }}</div>
                              <div class="step-name">
                                {% if feature.status == 'completed' %}√{% endif %}
                                {{ feature.text }}
                                <!--
                                {% if key == item.workflow.curr_feature and feature.status != 'completed' %}
                                  <br><a href="/workflow/{{ item.id }}/set_workflowinstance_feature_completed">[mark done]</a>
                                {% else %}
                                {% endif %}
                                -->
                              </div>
                            </div>
                          {% endwith %}
                        {% endfor %}
                        {% endcomment %}
                    </div>
                    <div>
                        <a id="" class="action-link" href="{% url "edit_recipe" item.id %}" title="Create workflow image" aria-label="Create workflow image" >fi</a>
                        &nbsp;
                        <a id="" class="action-link" href="{% url "edit_recipe" item.id %}" title="Edit recipe" aria-label="Edit recipe" ><span class="glyphicon glyphicon-pencil"></span></a>
                        &nbsp;
                        <a id="" class="action-link" href="{% url "duplicate_recipe" item.id %}" title="Duplicate recipe" aria-label="Duplicate recipe" ><span class="glyphicon glyphicon-duplicate"></span></a>
                        &nbsp;
                        <a id="" class="action-link" href="{% url "delete_recipe" item.id %}" title="Delete recipe" aria-label="Delete recipe" ><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                </div>
            {%  endfor %}

</div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}

