{% extends "../base.html" %}
{% load bootstrap3 %}

{% block title %}
Welcome to Compliance Automation
{% endblock %}

{% block body-wide %}

<div class="container">
    <div class="row">

        <div class="col-md-3 new-org-col">
          <h2>New group</h2>
          <p>Groups allow you to organize and manage related projects. Members of a group can access all of its unrestriced projects.</p>
        </div>

        <div class="col-md-9 new-org-col">

            <div class="well">
            <form method="post">
                {% csrf_token %}
                <input type=hidden name=action value=neworg>
                {% bootstrap_form neworg_form %}
                <p><button type="submit" class="btn btn-success">Next &raquo;</button></p>
            </form>
            </div>

        </div>
    </div>
</div>


    {{ block.super }}
{% endblock %}

{% block scripts %}
<script>
$('#id_name').on('keyup', function() {
    var slug = $(this).val();
    slug = slug.toLowerCase().replace(/[^a-z0-9--]+/g, "-").replace(/^-+/, "").replace(/-+$/, "");
    $('#id_slug').val(slug);
})

{% if request.method == "POST" %}
smooth_scroll_to($('input[name=action][value={{request.POST.action|escapejs}}]').parent('form'));
{% endif %}
</script>
{% endblock %}
