{% extends "base.html" %}
{% load q %}

{% block title %}
Your Compliance Projects
{% endblock %}

{% block breadcrumbs %}
<li class="active">Your Compliance Projects</li>
{% endblock %}

{% block head %}
<style>
.btn .glyphicon { margin-right: 6px; }
.btn.btn-success .glyphicon { color: #FFF; }

.lifecycle {
  margin-bottom: 30px;
}
.lifecycle h2 {
  margin: 0 0 1em 0;
}
.lifecycle .stage {
  margin: 0 -10px;
  padding: 10px;
  background-color: rgb(247,247,247);
  border-radius: 5px;
  max-width: 530px; /* so individual cards don't stretch across whole page */
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 2px 3px rgba(0, 0, 0, .2);
}
  .lifecycle .stage h3 {
    color: black;
    margin: 5px 0 0 0;
    text-align: center;
  }
  .lifecycle .stage .stage-subhead {
    text-align: center;
    margin-bottom: 15px;
  }

  .project {
    background-color: white;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 3px;
    border-bottom: 1px solid rgb(204, 204, 204);
  }
    .project-image {
      width: 30px;
      float: right;
      margin: 4px 0 5px 8px;
    }
    .project-text {
    }
    .project-text h4 {
      margin: 0;
      font-weight: bold;
      font-size: inherit;
    }
    .project-text > * {
      margin: .5em 0 0 0;
      font-size: 13px;
    }

  h1.mini {
    font-size: 16px;
    font-family: Hind, sands-serif;
    line-height: 22px;
    color: rgba(51, 51, 51);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }

  .luna-box {
    border: 1px solid rgb(210, 210, 210);
    height: 160px;
    margin-top: 30px;
    font-size: .8em;
    border-radius: 4px;
    padding: 20px 20px 0px 0px;
  }

  .luna-box div.glyphicon {
    font-size:3em;
    color: rgb(160, 210, 160);
    margin:30px 0px 0px 40px;
  }

</style>
{% endblock %}

<!-- Remove contextbar from top of page -->
{% block contextbar %}{% endblock %}

{% block body %}
<div class="org-top">
<div class="container">
{% if org_groups|length > 0 %}
<div class="org-main">
<a id="new-group" href="/groups/new" class="btn btn-success">Create a group</a>
</div>
<h2 class="">Groups</h2>
{% endif %}

{% if org_groups|length > 0 %}
<p>You have access to {{ org_groups|length }} group{{ org_groups|pluralize }}</p>
{% endif %}

  {% include "org_groups/org_groups_table.html" with org_groups=org_groups %}
  <!-- include "org_groups_table.html" with org_groups=org_groups listid="org-groups" listname="Groups" -->


{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}
