{% extends "project-base.html" %}
{% load humanize %}
{% load static %}
{% load q %}

{% block title %}
{{ portfolio.title }} Portfolio
{% endblock %}

{% block head %}
<style>
  .project-image {
    width: 20px;
    float: left;
    margin: 4px 0 5px 8px;
  }

  .inline {
    display: inline;
  }
</style>
{% endblock %}

Remove contextbar from top of page
{% block contextbar %}{% endblock %}

% block body-wide %
{% block body %}

<div style="margin-top: 30px">
  <div class="container">
    <div style="float: right; margin: 0 0.5em 0em 5em;">
      <form id="#new-project" method="post" action="{% url 'store' %}" class="inline">
        {% csrf_token %}
        <input type="hidden" id="portfolio" name="portfolio" value="{{portfolio.id}}">
        <input id="new-project-submit" type="submit" value="Start a Project" class="btn btn-success" />
      </form>
      {% if can_invite_to_portfolio %}
      <a href="#" onclick="invite_user_into_portfolio(); return false;" id="grant-portfolio-access" class="btn btn-success"><i
          class="glyphicon glyphicon-plus"></i> Grant access to member</a>
      {% endif %}
    </div>

    <h2 class="">{{ portfolio.title }}</h2>
    <small style="color: #888;">Portfolio ID: {{ portfolio.id }}</small>

    {% if projects|length > 0 %}
    <p>This portfolio has {{ projects|length }} project{{ projects|pluralize }}</p>
    {% endif %}

    <div class="container">
      {% for project in projects %}
      <div class="row" style="border-top: 1px solid #aaa;padding: 8px 0px 8px 0px;">
        <div class="col-md-6">
          {% if project.root_task.get_app_icon_url %}
          <a href="{{project.get_absolute_url}}" class="project-image">
            <img src="{{project.root_task.get_app_icon_url}}" class="img-responsive">
          </a>
          {% else %}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          {% endif %}
          &nbsp;&nbsp;&nbsp;
          <a href="{{project.get_absolute_url}}" style="color: black;">{{project.title}}</a>
        </div>

        <div class="col-md-3">&nbsp;</div>

        <div class="col-md-1">
          <small style="color: #888;">(ID: {{project.id}})</small>
        </div>

        <div class="col-md-2">
          <small style="color: #888;">
            Updated {{project.root_task.updated|naturaltime}}
          </small>
        </div>

      </div>

      {% endfor %}

      {% if projects|length < 2 %}
      <div class="container">
        <div class="row" style="margin-top: 60px;">
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <h2>A portfolio is a collection of projects.</h2>

            <p>Think of a portfolio like a folder for your projects.</p>

            <p>The owners of the portfolio can manage portfolio members.</p>
          </div>
          <div class="col-md-3">
            <div class="glyphicon glyphicon-folder-open" style="font-size: 8em; color: rgb(160, 210, 160);"></div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
      {% endif %}

      <div id="portfolio-members" class="container">
        <div class="row" style="margin-top: 60px;">
          <p> <b>Users With Access:</b></p>
          {% for user in users_with_perms %}
          <div id="portfolio-member-{{user.name}}">
          <p class="inline"> {{user.name}}
            {% if user.owner %}
            (Owner)
          </p>
          {% elif can_invite_to_portfolio %}
          <form id="{{user.name}}_remove_permissions" name="assign_owner_permissions" method="post" action="{% url 'update_permissions' %}" class="inline">
            {% csrf_token %}
            <input type="hidden" id="portfolio_id" name="portfolio_id" value={{portfolio.id}}>
            <input type="hidden" id="user_id" name="user_id" value={{user.id}}>
            <input type="hidden" id="permission" name="permission" value="remove_permissions">
            <input type="hidden" name="next" value="{{ request.path }}">
            <input type="submit" value="Remove" class="btn btn-sm btn-danger" />
          </form>
          <form id="{{user.name}}_grant_owner_permission" name="assign_owner_permissions" method="post" action="{% url 'update_permissions' %}" class="inline">
            {% csrf_token %}
            <input type="hidden" id="portfolio_id" name="portfolio_id" value={{portfolio.id}}>
            <input type="hidden" id="user_id" name="user_id" value={{user.id}}>
            <input type="hidden" id="permission" name="permission" value="grant_owner_permission">
            <input type="hidden" name="next" value="{{ request.path }}">
            <input type="submit" value="Make Owner" class="btn btn-sm btn-success" />
          </form>
          {%endif%}
          </p>
          </div>
          {% endfor %}
        </div>
      </div>
      {{ block.super }}
      {% endblock %}

      {% block scripts %}
      <script>
        var project_invitation_info = {{ send_invitation| json}};
        function invite_user_into_portfolio() {
          var info = project_invitation_info;
          show_invite_modal(
            'Invite To A Portfolio (' + info.portfolio_title + ')',
            'Give a colleague access to this portfolio.',
            info,
            'You have been granted access to the portfolio ' + info.portfolio_title + '.',
            {
              portfolio: info.portfolio_id,
            },
            function () { window.location.reload() }
          );
          return false;
        }
      </script>
      {% endblock %}