<!-- List of portfolios -->
{% load humanize %}

<div class="container">

  {% for portfolio in portfolios %}
  <div class="row" style="border-top: 1px solid #aaa;padding: 8px 0px 8px 0px;">

    <div class="col-md-5">
      <div>
        <span class="glyphicon glyphicon-folder-close"></span>&nbsp;&nbsp;&nbsp;
        <a href="/portfolios/{{portfolio.id}}/projects" style="color: black;">{{portfolio.title}}</a>
      </div>
    </div>

    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-1"><small style="color: #888;">ID: {{portfolio.id}}</small></div>

    <div class="col-md-2" style="text-align: right;"><small style="color: #888;">Created
        {{portfolio.created|naturaltime}}</small></div>
  </div>
  {% endfor %}

</div>