#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #ffffff;
    font-family: Industry, serif;
    font-weight: bold ;
}

#header {
    background: #000000;
    color: #fff;
}
#header a:link, #header a:visited {
    color: #fff;
}

#header a:hover {
    color: #fff;
}

div.breadcrumbs {
    background: #1D2E5D;
    color: #fff;
}
div.breadcrumbs a.active {
    color: #fff;
!important;
    font-weight: 300;
}

div.breadcrumbs a:focus, div.breadcrumbs a:hover {
    color: #fff;
!important;
    font-weight: 300;
}

.select2-container--admin-autocomplete .select2-results__option--highlighted[aria-selected] {
    background-color: #000000;
}

.paginator a:link, .paginator a:visited {
    background: #000000;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #1D2E5D;
}
.button:hover, input[type=submit]:hover, input[type=button]:hover {
    background: #D0D1D2;
}

.module h2, .module caption, .inline-group h2 {
    background: #1D2E5D;
}
#user-tools a:focus, #user-tools a:hover {
    border: 0;
    color: #ddd;
}

.selector-chosen h2 {
    background: #1D2E5D !important;
}

.calendar td.selected a {
    background: #1D2E5D !important;
}

.calendar td a:focus, .timelist a:focus,
.calendar td a:hover, .timelist a:hover {
    background: #1D2E5D !important;
}

#changelist-filter li.selected a {
    color: #54667f;
}

fieldset.collapsed .collapse-toggle {
    color: #54667f;
}

a:link, a:visited {
    color: #54667f;
}

a:focus, a:hover {
    color: #F49522;
}
.dashboard .module table td a{
        color: #54667f;

}
.dashboard .module table td a:focus, .dashboard .module table td a:hover {
    color: #F49522;
}
table thead th.sorted .sortoptions a.sortremove:focus:after,
table thead th.sorted .sortoptions a.sortremove:hover:after {
    color: #54667f;
}

a.active.selector-chooseall:focus, a.active.selector-clearall:focus,
a.active.selector-chooseall:hover, a.active.selector-clearall:hover {
    color: #54667f;
}

.calendar td a:active, .timelist a:active {
    background: #54667f;
}

.change-list ul.toplinks .date-back a:focus,
.change-list ul.toplinks .date-back a:hover {
    color: #222;
}

.paginator a.showall:focus, .paginator a.showall:hover {
    color: #222;
}

.paginator a:focus, .paginator a:hover {
    background: #222;
}

#changelist-filter a:focus, #changelist-filter a:hover,
#changelist-filter li.selected a:focus,
#changelist-filter li.selected a:hover {
    color: #222;
}

.calendar td a:active, .timelist a:active {
    background: #000000;
    color: white;
}

.calendar caption, .calendarbox h2 {
    background: #54667f;
}

.button.default, input[type=submit].default, .submit-row input.default {
    background: #000000;
}

.button.default:hover, input[type=submit].default:hover {
    background: #191D22;
}

.select2-container--admin-autocomplete .select2-results__option--highlighted[aria-selected] {
    background-color: #000000;
}

.button.default, input[type=submit].default, .submit-row input.default {
    background: #000000;
}

.object-tools a:link, .object-tools a:visited{
        background-color: #54667f;
    color:#ffffff;

}
.object-tools a:focus, .object-tools a:hover {
    background-color: #000000;
}
input[type=file]::-webkit-file-upload-button:hover {
    border: 0;
    background: #000000;
}

#changelist-filter {
    top: -250px;
    right: 15px;
}

#changelist-filter h2 {
    padding-top: 0px;
    padding-bottom: 0px
}

a.section:hover {
    color: #F49522;
    text-decoration: none;
}

th.row:focus, th.row:hover{
        color: #F49522;
    background-color: #000000;
}