{% extends "base.html" %}
{% load q %}

{% block title %}
About
{% endblock %}

{% block head %}
<style>


</style>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-push-2 col-sm-8">

<h1 style="margin: 1em 0 0 0">GovReady Q</h1>

<div style="margin: 2em 0">
<p>Welcome to GovReady's Compliance Tool, Q.</p>

<p>The purpose of Q is to collect the information you need to get your Authority to Operate.</p>

</div>

</div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}