{% extends "base.html" %}
{% load q %}

{% block title %}
Analytics
{% endblock %}

{% block head %}
<style>
h1 {
	margin-top: 1em;
}
h2 {
	margin-top: 1em;
}
table tr > *:nth-child(2), table tr > *:nth-child(3) {
	text-align: center;
}
table .detail {
	font-size: 90%;
	color: #555;
}
</style>
{% endblock %}

{% block breadcrumbs %}
<li class="active">Analytics</li>
{% endblock %}

{% block body %}

	<h1>Analytics</h1>

	{% for table in tables %}

		<h2>{{table.title}}</h2>

		<table class="table">
		<thead>
			<tr>
				<th width="70%">{{table.field}}</th>
				<th width="22%">{{table.quantity}}</th>
				<th>Count</th>
			</tr>
		</thead>
		<tbody>
			<tr style="font-weight: bold; background-color: #F7F7F7;">
				<td><em>overall</em></td>
				<td>{{table.overall}}</td>
				<td>{{table.n}}</td>
			</tr>
			{% for row in table.rows %}
				<tr data-ref="{{row.obj}}">
					<td>
						<div class='title'>{{row.label}}</div>
						<div class='detail'>{{row.detail}}</div>
					</td>
					<td>{{row.value}}</td>
					<td>{{row.n}}</td>
				</tr>
			{% endfor %}
		</tbody>
		</table>

	{% endfor %}

{% endblock %}

{% block scripts %}

{% endblock %}