{% extends "base.html" %}
{% load q %}

{% block title %}
Your API Keys
{% endblock %}

{% block head %}
<style>
dd p:first-child { margin-bottom: .25em; }
</style>
{% endblock %}

{% block body %}

	<h1>Your API Keys</h1>

	<p>Your API keys allow you to programmatically access and update your system data on Q.</p>

	<h2>Get your API keys</h2>

	<p>Your three API keys are:</p>

	<dl>

	<dt>Read-only key</dt>
	<dd>
	<p><code>{{api_key_ro}}</code></p>
	<p>Your read-only key gives external tools the ability to see anything you can see on Q but those tools cannot make any changes.</p>
	</dd>

	<dt>Full access key</dt>
	<dd>
	<p><code>{{api_key_rw}}</code></p>
	<p>Your full access key gives external tools the ability to see and make changes to anything you can see and make changes to on Q.</p>
	</dd>

	<dt>Write-only key</dt>
	<dd>
	<p><code>{{api_key_wo}}</code></p>
	<p>Your write-only key gives external tools the ability to make changes to anything you can make changes to on Q but does not include the ability to see any data values stored in Q. The write-only key is useful in situations where the external tool needs to be able to upload data but does not need to read existing data values.</p>
	</dd>
	</dl>

	<p>Choose the API key that is most appropriate for the access level required by the external application.</p>

	<h2>Reset your API keys</h2>

	<p>If any of your API keys have been compromised, you may reset your API keys. Your old API keys will be revoked and any external applications that are using the API must be given a new API key.</p>

	<form id="reset-api-keys" method="post">
	{% csrf_token %}
	<input type=hidden name=method value=resetkeys>
	</form>
	<button class="btn btn-danger" onclick="confirm_reset_api_keys();">Reset API Keys</button>

{% endblock %}

{% block scripts %}
<script>
function confirm_reset_api_keys(elem) {
	if (confirm("Reset your API keys?")) {
		$('form#reset-api-keys').submit();
	}
}
</script>
{% endblock %}
