{% extends "base.html" %}
{% load static %}

{% block title %}
Compliance App Store
{% endblock %}

{% block head %}
<style>
h1 {
  margin-bottom: 30px;
}

.app {
  border: 1px solid #D0D0D0;
  /*border-top: 4px solid #88A;*/
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 2px 3px rgba(0, 0, 0, .2);
  padding: 1.5em;
  background-color: white;
  margin-bottom: 24px;
  height: 220px;
  cursor: pointer;
}
  .app h2 {
    margin: -24px -16px 0 -16px;
    padding: 16px;
    /*background-color: #88A;
    color: white;*/
    font-size: 120%;
    font-weight: bold;
    height: 80px;
  }
  .app .body {
    padding: 0 0 0 0;
  }
    .app .body p:last {
      margin: 0; /* not working */
    }

#app_details h4 {
  font-weight: bold;
  font-size: 115%;
}
.app-metadata {
  font-size: 0.7em;
  text-align: left;
  color: #666;
}
.body {
  font-size: 0.8em;
  height: 100px;
}
</style>
{% endblock %}

{% block breadcrumbs %}
<li class="active">App Store</li>
{% endblock %}

{% block body %}
<h1>
  <img alt="GovReady Q logo" src="{% static "img/brand/govready_logo_transparent.png" %}" width="190px" style="margin-top:-18.5px;">
  App Store
</h1>

{% if filter_description %}
<p style="margin-bottom: 30px">These apps can help you with <i>{{filter_description}}</i>.</p>
{% endif %}

<div class="pull-right" style="margin-bottom: 1em">
  <form class="form-inline" onsubmit="return false;">
    <div class="form-group">
      <label class="sr-only" for="app-search">search apps for</label>
      <div class="input-group">
        <div class="input-group-addon">search</div>
        <input type="text" class="form-control" id="app-search" placeholder="search apps">
      </div>
    </div>
  </form>
</div>

<div class="clearfix"> </div>

<div class="row">
  {% for app in apps %}
    <div class="col-sm-3">
      <div class="app"
        data-app="{{app.key}}"
        data-search-haystack="{{app.search_haystak}}"
        onclick="window.location='/store/{{app.key|urlencode}}{{forward_qsargs}}'"">

        <h2><small>{{app.vendor}}</small><br/>{{app.title}}</h2>
        {% if app.app_icon_dataurl %}
          <img src="{{app.app_icon_dataurl}}" class="img-responsive" style="float: right; margin: 0 0 5px 4px; width:80px;">
        {% endif %}
        <div class="body">
          {{app.description.short|safe|truncatewords_html:18}}
        </div>
        <div class="app-metadata pull-left">
          {% if app.authz == "none" %}
            &nbsp;
          {% else %}
            <div>Admin approval required</div>
          {% endif %}
        </div>
      </div>
    </div>

    {% if forloop.counter|divisibleby:4 and 0 %} {# breaks dont play well with client-side search #}
      <div class="visible-sm clearfix"> </div>
      <div class="visible-md clearfix"> </div>
      <div class="visible-lg clearfix"> </div>
    {% endif %}

  {% empty %}
    <div class="col-sm-12">
      <p>There are currently no apps available that can be used to complete that question, sorry!</p>
    </div>
  {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script>
RegExp.escape = function(s) {
  // http://stackoverflow.com/a/18151038
  return String(s).replace(/([-()\[\]{}+?*.$\^|,:#<!\\])/g, '\\$1').
  replace(/\x08/g, '\\x08');
};

// Periodically check if the search box has changed and if so run
// client-side search filtering. Pause until there are no recent
// keypresses so the UI isn't updated while the user is typing.
var app_search_last_keypress_time = Date.now();
var last_app_search = null;
$('#app-search').on('keydown', function() { app_search_last_keypress_time = Date.now(); });
setInterval(do_app_search, 250);
function do_app_search() {
  if ((Date.now() - app_search_last_keypress_time) < 500) return;

  var app_search = $('#app-search').val();
  if (app_search == last_app_search) return;
  last_app_search = app_search;

  $('.app').each(function() {
    var pattern = new RegExp(".*" + RegExp.escape(app_search.toLowerCase()));
    var visible = pattern.test($(this).attr('data-search-haystack').toLowerCase());
    $(this).parent()[visible ? "fadeIn" : "hide"]();
  })
}
</script>
{% endblock %}