{% extends "base.html" %}

{% block title %}
{{app.title}} - App Store
{% endblock %}

{% block head %}
<style>
#start-container {
  margin-top: 20px;
  padding: 1em;
  border: 0px solid #999;
  background-color: #FAFAFA;
  /*border-radius: 15px;*/
  text-align: center;
}
#app-metadata {
  font-size: 0.9em;
  text-align: left;
}
#app-metadata a {
  color: black;
}
.meta-key {
  color: #888;
}
.meta-heading {
  margin-top: 20px;
  color: #888;
  border-bottom: 0.5px solid #888;
  margin-bottom: 6px;
}
</style>
{% endblock %}

{% block breadcrumbs %}
<li class="active"><a href="/store">Compliance App Store</a></li>
<li class="active">{{app.title|truncatewords:6}}</li>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-10">
    {% if app.app_icon_dataurl %}
      <img src="{{app.app_icon_dataurl}}" class="img-responsive" style="float: right; margin: 0 0 5px 4px;">
    {% endif %}

    <h1><small>{{app.vendor}}</small><br/>{{app.title}}</h1>
    <div class="body">
      {{app.description.long|safe}}
    </div>
  </div>
  <div class="col-sm-2">
    <div id="start-container">
      <form method="post">
        {% csrf_token %}
        <input type=hidden name=firstsubmit value=1>
        <button id="start-project" type="submit" class="btn btn-success"
          >Add to project folder</button>
      </form>
      <br /><a href="/store">return to app store</a>

      <div id="app-metadata">
        <div class="meta-heading"><strong>Information</strong></div>
        <div><span class="meta-key">Provider</span>: <a href="{{app.vendor_url}}">{{app.vendor}}</a></div>
        <div><span class="meta-key">Status</span>: {{app.status}}</div>
        <div><span class="meta-key">Version</span>: {{app.version}}</div>
        <div><span class="meta-key">Source</span>: <a href="{{app.source_url}}">{{app.source_url}}</a></div>
        {% if app.authz == "none" %}
          <div><span class="meta-key">Startable</span>: Yes
        {% else %}
          <div><span class="meta-key">Startable</span>: Requires Admin
        {% endif %}

        <div class="meta-heading"><strong>Recommended for</strong></div>
        {% for item in app.recommended_for %}
        <div><span class="meta-key">{{item.key_short}}</span>: {{item.value}}</div>
        {% endfor %}
      </div>

    </div>


  </div>
</div>
{% endblock %}
