{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}
{{app.title}} - Compliance Apps
{% endblock %}

{% block head %}
<style>
#start-container {
  margin-top: 20px;
  padding: 1em;
  border: 1px solid #999;
  background-color: #EEE;
  border-radius: 15px;
}
</style>
{% endblock %}

{% block breadcrumbs %}
<li class="active"><a href="/store">Compliance Apps</a></li>
<li class="active">{{app.title|truncatewords:6}}</li>
{% endblock %}

{% block body %}
<h1>{{app.title}}</h1>

<div class="body">
  {{app.description.short|safe}}
</div>

<form role="form" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button id="start-project" type="submit" class="btn btn-success">Begin &raquo;</button>
    {% endbuttons %}
</form>
{% endblock %}
