{% extends "base.html" %}
{% load static %}

{% block title %}
Assessment Catalog
{% endblock %}

{% block head %}
<style>
.assessment {
  border: 1px solid #D0D0D0;
  border-top: 4px solid #88A;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 2px 3px rgba(0, 0, 0, .2);
  padding: 1.5em;
  background-color: white;
  margin-bottom: 24px;
  height: 240px;
  cursor: pointer;
}
  .assessment h2 {
    margin: -16px -16px 0 -16px;
    padding: 16px;
    /*background-color: #88A;
    color: white;*/
    font-size: 120%;
    font-weight: bold;
  }
  .assessment .body {
    padding: 16px 0 0 0;
  }
    .assessment .body p:last {
      margin: 0; /* not working */
    }

#assessment_details h4 {
  font-weight: bold;
  font-size: 125%;
}
.app-metadata {
  font-size: 0.9em;
  text-align: left;
}
</style>
{% endblock %}

{% block breadcrumbs %}
<li class="active">Compliance App Store</li>
{% endblock %}

{% block body %}
<h1><img alt="GovReady Q logo" src="{% static "img/brand/govready_logo_transparent.png" %}" width="190px" style="margin-top:-18.5px;"> Compliance App Store</h1>
<div class="row">
  {% for module in project_modules %}
    <div class="col-sm-4">
      <div class="assessment"
        data-assessment="{{module.key}}"
        onclick="window.location='/assessment-catalog/{{module.key|urlencode}}'"">
        <h2><small>{{module.provider}}</small><br/>{{module.title}}</h2>
        <div class="body">
          {{module.short_description|safe}}
        </div>
        <div class="app-metadata pull-right">{{module.status}} v{{module.version}}</div>
      </div>
    </div>

    {% if forloop.counter|divisibleby:3 %}
      <div class="visible-sm clearfix"> </div>
      <div class="visible-md clearfix"> </div>
      <div class="visible-lg clearfix"> </div>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
