{% extends "base.html" %}

{% block title %}
{{module.title}} - Assessment Catalog
{% endblock %}

{% block head %}
<style>
#start-container {
  margin-top: 20px;
  padding: 1em;
  border: 0px solid #999;
  background-color: #FAFAFA;
  /*border-radius: 15px;*/
  text-align: center;
}
#app-metadata {
  font-size: 0.9em;
  text-align: left;
}
#app-metadata a {
  color: black;
}
.meta-key {
  color: #888;
}
.meta-heading {
  margin-top: 20px;
  color: #888;
  border-bottom: 0.5px solid #888;
  margin-bottom: 6px;
}
</style>
{% endblock %}

{% block breadcrumbs %}
<li class="active"><a href="/assessment-catalog">Compliance App Store</a></li>
<li class="active">{{module.title|truncatewords:6}}</li>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-10">
    <h1><small>{{module.provider}}</small><br/>{{module.title}}</h1>
    <div class="body">
      {{module.long_description|safe}}
    </div>
  </div>
  <div class="col-sm-2">
    <div id="start-container">
      <form method="post">
        {% csrf_token %}
        <input type=hidden name=firstsubmit value=1>
        <button id="start-assessment" type="submit" class="btn btn-success"
          >Add to project folder</button>
      </form>
      <br /><a href="/assessment-catalog">return to app store</a>

      <div id="app-metadata">
        <div class="meta-heading"><strong>Information</strong></div>
        <div><span class="meta-key">Provider</span>: <a href="{{module.provider_url}}">{{module.provider}}</a></div>
        <div><span class="meta-key">Status</span>: {{module.status}}</div>
        <div><span class="meta-key">Version</span>: {{module.version}}</div>
        <div><span class="meta-key">Source</span>: <a href="{{module.source_url}}">{{module.access}}</a></div>

        <div class="meta-heading"><strong>Recommended for</strong></div>
        <div><span class="meta-key">Org</span>: {{module.org}}</div>
        <div><span class="meta-key">Tech</span>: {{module.tech}}</div>
        <div><span class="meta-key">Role</span>: {{module.role}}</div>
      </div>

    </div>


  </div>
</div>
{% endblock %}
