{% extends "base.html" %}

{% block title %}
{{module.title}} - Assessment Catalog
{% endblock %}

{% block head %}
<style>
#start-container {
  margin-top: 20px;
  padding: 1em;
  border: 0px solid #999;
  background-color: #FAFAFA;
  /*border-radius: 15px;*/
  text-align: center;
}
</style>
{% endblock %}

{% block breadcrumbs %}
<li class="active"><a href="/assessment-catalog">Assessment Catalog</a></li>
<li class="active">{{module.title|truncatewords:6}}</li>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-10">
    <h1>{{module.title}}</h1>

    <div class="body">
      {{module.long_description|safe}}
    </div>
  </div>
  <div class="col-sm-2">
    <div id="start-container">
      <form method="post">
        {% csrf_token %}
        <input type=hidden name=firstsubmit value=1>
        <button id="start-assessment" type="submit" class="btn btn-success"
          >Start This Assessment &raquo;</button>
      </form>
      <br /><a href="/assessment-catalog">return to catalog</a>
    </div>
  </div>
</div>

{% endblock %}
