<style>
#discussion .comment-thread {
  margin: 1em 0 1.5em 0;
}
#discussion .comment .username {
  color: black;
}
#discussion .comment .comment-author-role {
  border: 1px solid #AAA;
  font-size: 90%;
  padding: 2px 4px;
}
#discussion .comment .proposed-answer {
  margin: 1em 0;
  border: 1px solid #EEE;
  padding: .5em 2em .5em 1em;
}
#discussion .comment .commands {
  margin: 0 -15px -15px -15px;
  padding: 10px 15px;
  background-color: #EEE;
  font-size: 11px;
}
#discussion .comment .commands button {
  margin-right: 1em;
}
#discussion .comment .ifeditpriv { display: none; }
#discussion .comment.has-edit-priv .ifeditpriv { display: inline; }
#discussion .comment.author-is-self .ifnotauthor { display: none; }
#discussion .event {
  margin: 15px 0;
}
#discussion .event .event-info {
  font-size: 85%;
  color: #555;
}
#discussion .event .event-info > div {
  display: inline;
  padding-bottom: 5px;
  border-top: 1px solid #AAA;
}
</style>

<div id="discussion" style="display: none;">
  <h2>Activity</h2>

    <div class="comment-thread">
      
    </div>
    <div class="comment-input active-discussion-only" style="display: none">
      <form onsubmit="submit_comment(); return false;">
        <label for="discussion-your-comment">Help answer this question:</label>
        <textarea id="discussion-your-comment" class="form-control" rows="3" placeholder="Enter your message here."></textarea>
        <div style="margin-top: 1em; text-align: right">
          {# <button type="submit" class="btn btn-default">Propose an Answer</button> #}
          <button type="submit" class="btn btn-primary">Comment</button>
        </div>
      </form>
    </div>

    <p class="small">
      Who can see this conversation? <span class="fillin-project_name"></span> members<span class="fillin-guests"></span>.
      <a id="invite-guest" href="javascript:invite_user_to_discussion()">Invite Colleague</a>
    </p>
</div>

<div id="comment-template" style="display: none">
  <div class="comment panel panel-default">
    <div class="panel-heading">
      <span class="comment-author">...</span>
      commented <span class="comment-date"></span>
      <span class="comment-author-role"></span>
    </div>
    <div class="panel-body">
      <div class="comment-text"> </div>

      {% comment %}
      <div class="proposed-answer">
        <div class="radio">
          <label>
            <input type="radio" disabled> No
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" checked disabled> Yes
          </label>
        </div>
      </div>
      {% endcomment %}

      <div class="commands">
          <button title="Edit your comment" class="ifeditpriv">
            <i class="glyphicon glyphicon-pencil"></i>
          </button>
          <button title="React to this comment with an emoji" class="ifnotauthor">
            <i class="glyphicon glyphicon-plus"></i>
            <i class="glyphicon glyphicon-heart"></i>
          </button>
          <button title="Delete this comment" class="ifeditpriv">
            <i class="glyphicon glyphicon-trash"></i>
          </button>
      </div>
    </div>
  </div>
</div>

<div id="event-template" style="display: none">
  <div class="event">
    <div class="body"> </div>
    <div>
      <div class="event-info">
        <div>
          <span class="event-date"></span>
          <span class="event-who"></span>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
var discussion_info = null;

function display_discussion(discussion, is_page_load) {
  discussion_info = discussion.discussion;

  // show the discussion
  $('#discussion').show();
  $('#discussion .active-discussion-only').show();
  $('#discussion #invite-guest').toggle(discussion.discussion.can_invite);

  // fill in the context block on the right side
  $('#discussion .fillin-project_name').text(discussion_info.project.title);
  if (discussion.guests.length > 0 || 1) {
    // show guest count & names
    var text = " and " + discussion.guests.length + " guest";
    if (discussion.guests.length != 1) text += "s";
    if (discussion.guests.length > 1) {
      text += " (";
      for (var i = 0; i < discussion.guests.length; i++) {
        text += discussion.guests[i].name;
        if (i < discussion.guests.length-1)
          text += ", ";
      }
      text += ")";
    }
    $('#discussion .fillin-guests').text(text);
  }

  // show events
  $('#discussion .comment-thread').html('');
  discussion.events.forEach(function(item) {
    if (item.type == "event")
        render_event(item)
    else if (item.type == "comment")
        render_comment(item);
  });

  // add event handlers
  $('#discussion-your-comment').keydown(function (e) {
    if ((e.ctrlKey || e.metaKey) && (e.keyCode == 13 || e.keyCode == 10)) {
      // Ctrl-Enter pressed
      $('#discussion form').submit();
    }
  });
}

function render_comment(item) {
  // Create and fill in a DOM node.
  var n = $('#comment-template > div').clone();
  n.attr('data-sort-order', item.date_posix);
  n.find('.comment-author').text(item.user.name);
  n.find('.comment-date').text(item.date_relative);
  n.find('.comment-date').attr('title', new Date(item.date_posix * 1000));
  n.find('.comment-author-role').text(item.user_role);
  n.find('.comment-text').html(item.text_rendered);
  if (item.user.id == {{request.user.id}}) // TODO: admins too
    n.addClass('has-edit-priv');
  if (item.user.id == {{request.user.id}})
    n.addClass('author-is-self');

  // Add to the DOM.
  var c = $('#discussion .comment-thread');
  c.append(n);
}

function render_event(item) {
  var n = $('#event-template > div').clone();
  n.attr('data-sort-order', item.date_posix);

  n.find('.body').html(item.html);
  n.find('.event-date').text(item.date_relative);
  n.find('.event-date').attr('title', new Date(item.date_posix * 1000));
  if (item.who && !item.who_is_in_text)
    n.find('.event-who').text("by " + item.who.name);

  var c = $('#discussion .comment-thread')
  c.append(n);
}

function submit_comment() {
  function disable_enable_controls(state) {
    var disable_ctrls = $('#discussion .comment-input form');
    disable_ctrls.find('textarea, input, button').prop("disabled", state);
  }
  disable_enable_controls(true);

  ajax_with_indicator({
    url: "{% url 'submit-comment' %}",
    method: "POST",
    data: {
      discussion: discussion_info.id,
      text: $('#discussion .comment-input form textarea').val()
    },
    complete: function() {
      disable_enable_controls(false);
    },
    success: function(c) {
      $('#discussion .comment-input form textarea').val('');
      render_comment(c)
    }
  })
}

function invite_user_to_discussion() {
  show_invite_modal(
    'Invite to Discussion',
    'Invite a colleague to join the discussion. They will be a guest of this discussion if they are not added to the project team.',
    {{send_invitation|safe}},
    'Please join our discussion about ' + discussion_info.title + ' in ' + discussion_info.project.title + '.',
    {
      project: discussion_info.project.id,
      into_discussion: discussion_info.id
    }
  );

  return false;
}
</script>