<style>
#discussion .comment-thread {
  margin: 1em 0 1.5em 0;
}
#discussion .comment .username {
  color: black;
}
#discussion .comment .comment-author-role {
  border: 1px solid #AAA;
  font-size: 90%;
  padding: 2px 4px;
}
#discussion .comment .proposed-answer {
  margin: 1em 0;
  border: 1px solid #EEE;
  padding: .5em 2em .5em 1em;
}
#discussion .comment .commands {
  margin: 0 -15px -15px -15px;
  padding: 10px 15px;
  border-top: 1px solid #EEE;
  font-size: 11px;
}
#discussion .comment .commands a {
  margin-right: 1em;
}
#discussion .comment .ifeditpriv { display: none; }
#discussion .comment.has-edit-priv .ifeditpriv { display: inline; }
#discussion .comment.author-is-self .ifnotauthor { display: none; }
#discussion .event {
  margin: 15px 0;
}
#discussion .event .event-info {
  font-size: 85%;
  color: #555;
}
#discussion .event .event-info > div {
  display: inline;
  padding-bottom: 5px;
  border-top: 1px solid #AAA;
}
</style>

<div id="discussion" style="display: none;">
  <h2>Activity</h2>

    <div class="comment-thread">
      
    </div>
    <div class="comment-input active-discussion-only" style="display: none">
      <form onsubmit="submit_comment(); return false;">
        <label for="discussion-your-comment">Help answer this question:</label>
        <textarea id="discussion-your-comment" class="form-control" rows="3" placeholder="Enter your message here."></textarea>
        <div style="margin-top: 1em; text-align: right">
          {# <button type="submit" class="btn btn-default">Propose an Answer</button> #}
          <button type="submit" class="btn btn-primary">Comment</button>
        </div>
      </form>
    </div>

    <p class="small">
      Who can see this conversation? <span class="fillin-project_name"></span> members<span class="fillin-guests"></span>.
      <a id="invite-guest" href="javascript:invite_user_to_discussion()">Invite Colleague</a>
    </p>
</div>

<div id="comment-template" style="display: none">
  <div class="comment panel panel-default">
    <div class="panel-heading">
      <span class="comment-author">...</span>
      commented <span class="comment-date"></span>
      <span class="comment-author-role"></span>
    </div>
    <div class="panel-body">
      <div class="comment-text"> </div>
      <form class="comment-edit clearfix" style="display: none" onsubmit="do_comment_save(this); return false;">
        <textarea class="form-control" style="width: 100%;"> </textarea>
        <div style="margin: 1em 0; float: right">
          <button type="submit" class="btn btn-cancel" onclick="return close_comment_edit(this);">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>

      {% comment %}
      <div class="proposed-answer">
        <div class="radio">
          <label>
            <input type="radio" disabled> No
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" checked disabled> Yes
          </label>
        </div>
      </div>
      {% endcomment %}

      <div class="commands">
          <a title="Edit your comment" class="ifeditpriv" href="#" onclick="return begin_comment_edit(this);">
            <i class="glyphicon glyphicon-pencil"></i>
          </a>
          <a title="React to this comment with an emoji" class="ifnotauthor">
            <i class="glyphicon glyphicon-plus"></i>
            <i class="glyphicon glyphicon-heart"></i>
          </a>
          <a title="Delete this comment" class="ifeditpriv" href="#" onclick="return do_delete_comment(this);">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
      </div>
    </div>
  </div>
</div>

<div id="event-template" style="display: none">
  <div class="event">
    <div class="body"> </div>
    <div>
      <div class="event-info">
        <div>
          <span class="event-date"></span>
          <span class="event-who"></span>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
var discussion_info = null;

function display_discussion(discussion, is_page_load) {
  discussion_info = discussion.discussion;

  // show the discussion
  $('#discussion').show();
  $('#discussion .active-discussion-only').show();
  $('#discussion #invite-guest').toggle(discussion.discussion.can_invite);

  // fill in the context block on the right side
  $('#discussion .fillin-project_name').text(discussion_info.project.title);
  if (discussion.guests.length > 0 || 1) {
    // show guest count & names
    var text = " and " + discussion.guests.length + " guest";
    if (discussion.guests.length != 1) text += "s";
    if (discussion.guests.length > 1) {
      text += " (";
      for (var i = 0; i < discussion.guests.length; i++) {
        text += discussion.guests[i].name;
        if (i < discussion.guests.length-1)
          text += ", ";
      }
      text += ")";
    }
    $('#discussion .fillin-guests').text(text);
  }

  // for polling, what did we last see
  discussion_info.max_comment_id = 0;
  discussion_info.max_event_time = 0;

  // render events
  $('#discussion .comment-thread').html('');
  render_events(discussion);

  // add event handlers
  $('#discussion textarea').keydown(function (e) {
    if ((e.ctrlKey || e.metaKey) && (e.keyCode == 13 || e.keyCode == 10)) {
      // Ctrl-Enter pressed
      $(this).parents('form').submit();
    }
  });

  // start polling
  discussion_poll();
}

function render_events(discussion) {
  discussion.events.forEach(function(item) {
    if (item.type == "event")
        render_event(item)
    else if (item.type == "comment")
        render_comment(item);
  });
}

function discussion_poll() {
  setTimeout(function() {
    $.ajax({
        url: "{% url 'start_a_discussion' %}",
        method: "POST",
        data: {
            task: {{task.id}},
            question: "{{q.id|escapejs}}",
            comment_since: discussion_info.max_comment_id,
            event_since: discussion_info.max_event_time
        },
        success(res) {
          render_events(res);
          discussion_poll();
        }
    })
    },

    // poll interval (10s)
    10000);
}

function render_comment(item) {
  // Create and fill in a DOM node.
  var n = $('#comment-template > div').clone();
  n.attr('data-id', item.id);
  n.attr('data-sort-order', item.date_posix);
  n.find('.comment-author').text(item.user.name);
  n.find('.comment-date').text(item.date_relative);
  n.find('.comment-date').attr('title', new Date(item.date_posix * 1000));
  n.find('.comment-author-role').text(item.user_role);
  n.find('.comment-text').html(item.text_rendered);
  n.attr('data-text', item.text);
  if (item.user.id == {{request.user.id}}) // TODO: admins too
    n.addClass('has-edit-priv');
  if (item.user.id == {{request.user.id}})
    n.addClass('author-is-self');

  // Add to the DOM.
  var c = $('#discussion .comment-thread');
  c.append(n);

  // Remember the last comment we've seen, for polling.
  if (item.id > discussion_info.max_comment_id)
    discussion_info.max_comment_id = item.id;
}

function render_event(item) {
  var n = $('#event-template > div').clone();
  n.attr('data-sort-order', item.date_posix);

  n.find('.body').html(item.html);
  n.find('.event-date').text(item.date_relative);
  n.find('.event-date').attr('title', new Date(item.date_posix * 1000));
  if (item.who && !item.who_is_in_text)
    n.find('.event-who').text("by " + item.who.name);

  var c = $('#discussion .comment-thread')
  c.append(n);


  // Remember the last event we've seen, for polling.
  if (item.date_posix > discussion_info.max_event_time)
    discussion_info.max_event_time = item.date_posix;
}

function submit_comment() {
  ajax_with_indicator({
    url: "{% url 'discussion-comment-create' %}",
    method: "POST",
    data: {
      discussion: discussion_info.id,
      text: $('#discussion .comment-input form textarea').val()
    },
    controls: $('#discussion .comment-input form').find('textarea, input, button'),
    success: function(c) {
      $('#discussion .comment-input form textarea').val('');
      render_comment(c)
    }
  })
}

function get_comment_from_command_elem(command_elem) {
  var c = $(command_elem).parents(".comment");
  if (c.length == 0) throw "something went wrong";
  return c;
}

function begin_comment_edit(command_elem) {
  var c = get_comment_from_command_elem(command_elem);
  c.find('.commands').hide();
  c.find('.comment-edit textarea').css({ minHeight: c.find('.comment-text').height()+30 });
  c.find('.comment-edit textarea').val(c.attr('data-text'));
  c.find('.comment-text').hide();
  c.find('.comment-edit').show();
  return false;
}

function close_comment_edit(command_elem) {
  var c = get_comment_from_command_elem(command_elem);
  c.find('.commands').show();
  c.find('.comment-text').show();
  c.find('.comment-edit').hide();
  return false;
}

function do_comment_save(command_elem) {
  var c = get_comment_from_command_elem(command_elem);
  ajax_with_indicator({
    url: "{% url 'discussion-comment-edit' %}",
    method: "POST",
    data: {
      id: c.attr('data-id'),
      text: c.find('.comment-edit textarea').val()
    },
    controls: c.find('textarea, input, button'),
    success: function(res) {
      c.attr('data-text', res.text);
      c.find('.comment-text').html(res.text_rendered);
      close_comment_edit(command_elem);
    }
  })
}

function do_delete_comment(command_elem) {
  var c = get_comment_from_command_elem(command_elem);
  show_modal_confirm(
    "Delete Comment",
    "Are you sure you want to delete that comment?",
    "Delete",
    function() {
      ajax_with_indicator({
        url: "{% url 'discussion-comment-delete' %}",
        method: "POST",
        data: {
          id: c.attr('data-id')
        },
        success: function(res) {
          c.slideUp();
        }
      })
    });
  return false;
}

function invite_user_to_discussion() {
  show_invite_modal(
    'Invite to Discussion',
    'Invite a colleague to join the discussion. They will be a guest of this discussion if they are not added to the project team.',
    {{send_invitation|safe}},
    'Please join our discussion about ' + discussion_info.title + ' in ' + discussion_info.project.title + '.',
    {
      project: discussion_info.project.id,
      into_discussion: discussion_info.id
    }
  );

  return false;
}
</script>