<div id="dropContainer">
    <div class="file-droppable" align="center">
        <i class="glyphicon glyphicon-save fa-3x"></i>
        <br>
        <div class="upload-text">Select a file or drag here</div>
        <br>
        <button type="button" class="btn btn-info btn-lg">Select a file</button>
        <span>&times;</span>
        <input type="file" id="json_content"/>
    </div>
</div>
{% block scripts %}
<script>
document.addEventListener("DOMContentLoaded", function() {
  document.querySelectorAll('.file-droppable').forEach(function(droppable) {
    var originalText = droppable.querySelector('div').innerHTML;
    var input = droppable.querySelector('input');
    var fileChanged = function() {
      var files = input.files;
      if (files.length) {
        droppable.querySelector('span').style.display = 'block';
        droppable.querySelector('div').innerHTML = '';
				for (var i = 0; i < files.length; i++) {
					droppable.querySelector('div').innerHTML += files[i].name + '<br>';
        }
        droppable.classList.add('filled');
				fillJSONContent(files)// file json box
      } else {
        droppable.querySelector('div').innerHTML = originalText;
        droppable.classList.remove('filled');
        droppable.querySelector('span').style.display = 'none';
      }
    };
    input.addEventListener('change', fileChanged);
    fileChanged(input);
    droppable.querySelector('span').addEventListener('click', function() {
		  input.value = '';
	    fileChanged(input);
    });
  });

});
</script>

{% endblock %}