<div id="edit_project_modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="invitation_modal_title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="invitation_modal_title">Edit Project</h4>
            </div>
            <form action="{% url 'edit_project' project.id %}" role="form" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group" data-children-count="1">
                        <label class="control-label" for="project_title">Project Title </label>
                        <input class="form-control" id="project_title" type="text" name="project_title" placeholder="{{ project.title }}" value="{{ project.title }}" size="50" required>
                    </div>
                    <div class="form-group" data-children-count="1">
                        <label class="control-label" for="project_version">Project Version </label>
                        <input class="form-control" id="project_version" type="text" name="project_version" maxlength="100" placeholder="{{ project.version }}" value="{{ project.version }}" required>
                    </div>
                    <div class="form-group" data-children-count="1">
                        <label class="control-label" for="project_version_comment">Project Version Comment </label>
                        <input class="form-control" id="project_version_comment" type="text" name="project_version_comment" maxlength="100" placeholder="{{ project.version_comment }}" value="{{ project.version_comment }}" required>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="edit_project_submit" class="btn btn-success btn-submit" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% block scripts %}
    <script>
        function show_edit_project_modal(callback) {
            var m = $('#edit_project_modal');
            m.modal();
        }
    </script>
{% endblock %}
