body {
    background-color: rgb(247,247,247);
    padding-left: 20px;
    padding-right: 20px;
}


#focus-area-wrapper {
  border-radius: 10px;
  border-bottom: 1px solid rgb(204, 204, 204);
  padding: 2em;
  padding-bottom: 3em;
  background-color: white;
}