body {
    background-color: rgb(249,250,252);
}


#focus-area-wrapper {
  border: 1px solid #DDD;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 1.5em;
  background-color: white;
}