{% extends "base.html" %}

{% block title %}
Project Folders
{% endblock %}

{% block breadcrumbs %}
<li class="active">Project Folders</li>
{% endblock %}

{% block head %}
<style>
.folder {
  margin-bottom: 1em;
}
  .folder .glyphicon {
    width: 1.5em;
  }
  .action {
    margin-left: 1em;
    color: #777;
    cursor: pointer;
    font-size: 13px;
    display: none;
  }
    .folder:hover .action {
      display: inline-block;
    }
  .folder .meta {
    margin-left: 1.75em;
    font-style: italic;
  }


.btn .glyphicon { margin-right: 6px; }
.btn.btn-success .glyphicon { color: #FFF; }

</style>
{% endblock %}

<!-- Remove contextbar from top of page -->
{% block contextbar %}{% endblock %}

{% block body %}
<div style="float: right; margin-top: 1em">
  <a id="new-folder" href="#" class="btn btn-default" onclick="new_folder(); return false;"><i class="glyphicon glyphicon-folder-open"></i> New Folder</a>
  <a id="new-project" href="/store" class="btn btn-success"><i class="glyphicon glyphicon-list-alt"></i> Add app to project folder</a>
</div>

<h1>Project Folders</h1>

{% if folders|length == 0 %}
  <p>Start your first app.</p>
{% endif %}

<div id="folder-list">

<!-- List folders -->
{% for folder in folders %}
<div class="folder" data-folder-id="{{folder.id}}">
  <div>
    <span class="glyphicon glyphicon-folder-open"></span>
    <a href="{{folder.get_absolute_url}}" class="folder_name">{{folder.title}}</a>
    {% if folder.is_admin %}
    <span class="action" onclick="rename_folder(this);"><span class="glyphicon glyphicon-pencil"></span></span>
    {% if folder.project_count == 0 %}
      <span class="action" onclick="delete_folder(this);"><span class="glyphicon glyphicon-remove"></span></span>
    {% endif %}
    {% endif %}
  </div>

  <div class="meta">{{folder.description}}</div>

  {% if folder.is_admin and 0 %}
  <div class="meta">{{folder.project_count}} project{{folder.project_count|pluralize}}</div>
  {% endif %}
</div>
{% endfor %}

</div> <!--/folders-->

<div id="new-folder-template" style="display: none">
<div class="folder" data-folder-id="">
  <div>
    <span class="glyphicon glyphicon-folder-open"></span>
    <a class="folder_name"></a>
    <span class="action" onclick="rename_folder(this);"><span class="glyphicon glyphicon-pencil"></span></span>
    <span class="action" onclick="delete_folder(this);"><span class="glyphicon glyphicon-remove"></span></span>
  </div>
</div>
</div>

{% endblock %}

{% block scripts %}
<script>
function new_folder() {
  ajax_with_indicator({
   url: '{% url "new_folder" %}',
   method: "POST",
   data: {
    // could add title: later
   },
   success: function(res) {
    var node = $('#new-folder-template > div').clone();
    node.data("folder-id", res.id);
    node.find(".folder_name").text(res.title).attr("href", '/projects/folders/' + res.id + '/new-folder');
    node.hide();
    $('#folder-list').prepend(node);
    node.slideDown();
   }
  });
}
function rename_folder(elem) {
  var folder = $(elem).parents(".folder");
  var folder_id = folder.data("folder-id");
  var folder_name = folder.find(".folder_name");
  var new_title = prompt("Rename this folder?", folder_name.text());
  if (!new_title) return;
  ajax_with_indicator({
   url: '{% url "rename_folder" %}',
   method: "POST",
   data: {
    folder: folder_id,
    title: new_title
   },
   success: function() {
     folder_name.text(new_title);
   }
  });
}
function delete_folder(elem) {
  var folder = $(elem).parents(".folder");
  var folder_id = folder.data("folder-id");
  ajax_with_indicator({
   url: '{% url "delete_folder" %}',
   method: "POST",
   data: {
    folder: folder_id
   },
   success: function() {
     folder.slideUp(function() { folder.remove(); });
   }
  });
}

function rename_project(elem) {
  var project = $(elem).parents(".project");
  var old_title = project.find('.project_title').text();
  var new_title = prompt("Rename this project?", old_title);
  if (!new_title || new_title == old_title) return false;
  ajax_with_indicator({
   url: 'projects/' + project.data("project-id") + '/__rename',
   method: "POST",
   data: {
    title: new_title
   },
   success: function() {
     project.find('.project_title').text(new_title);
   }
  });
  return false;
}
</script>
{% endblock %}