<div class="col-xs-12">
  <div class="col-xs-3">&copy; GovReady PBC {% now "Y" %}.<br/>All Rights Reserved.</div>
  <div class="col-xs-2 center-text"><a href={% url 'privacy_terms_love' 'privacy' %}>Privacy Policy</a></div>
  <div class="col-xs-2 center-text"><a href={% url 'privacy_terms_love' 'terms-of-service' %}>Terms of Service</a></div>
  <div class="col-xs-2 center-text" ><a href={% url 'privacy_terms_love' 'love-assessments' %}>Support</a></div>
  <div class="col-xs-3 right-text">{{APP_VERSION_STRING}}</div>
</div>
