{% extends "base.html" %}
{% load guardian_tags %}
{% load q %}
{% load humanize %}

{% block title %}
Your Compliance Projects
{% endblock %}

{% block head %}

{% endblock %}

<!-- Remove context bar from top of page -->
{% block contextbar %}{% endblock %}

{% block body %}
{% load static %}
<body class="splash-bg">
<div class="projects-top">

<div class="container">

<div class="project-main">
<!--  <a id="new-project" onclick="show_select_portfolio_modal(); return false;" href="#" class=" btn btn-success">Start a project</a>-->
</div>

<h2 class="home">Welcome to {% if sitename %}{{sitename}}{% else %}GovReady-Q{% endif %}</h2>

<div class="row">

<!-- start module -->
<div class="col-md-12 ">
   <div class="home-box home-hover">
     <div class="home-icon"><img src="{% static "img/icons/home-projects.png" %}" style="width:75px;"></div>
{% if projects_access|length < 0 %}
<h4 class="home">You do not currently have access to any projects.</h4>
{% else %}
<h4 class="home">You have access to {{ projects_access|length }} project{{ projects_access|pluralize }}</h4>
{% endif %}
<p>Projects are your organization's questionnaires, assessments and guides needed for authorizations.</p>
<ol class="home-list">
{% for project in projects %}
<li><a href="{{project.get_absolute_url}}" class="projects-link">{{project.title}}</a></li>
{% endfor %}
</ol>
<span class="home-view-link"><a id="new-project" onclick="show_select_portfolio_modal(); return false;" href="#">Start a new project</a></span>
</div>
</div>

<!-- start module -->
  <div class="col-md-12">
    <div class="home-box home-hover">
      <div class="home-icon"><img src="{% static "img/icons/home-portfolios.png" %}" style="width:75px;"></div>
   {% if portfolios|length < 1 %}
   <h4 class="home">You do not currently have access to any portfolios.</h4>
   {% else %}
   <h4 class="home">You have access to {{ portfolios|length }} portfolio{{ portfolios|pluralize }}</h4>
   {% endif %}
   <p>Portfolios are a way to organize and manage related projects. The owners of the portfolio can manage portfolio members. </p>

  <ol class="home-list">
    {% for portfolio in portfolios %}
    <li><a href={% url 'portfolio_projects' pk=portfolio.id %} id="portfolio_{{portfolio.title}}" class="portfolio-project-link">{{portfolio.title}}</a></li>
      {% endfor %}
  </ol>
<span class="home-view-link"><a id="new-portfolio" href="/portfolios/new">Create a new portfolio</a></span>
   </div>
  </div>

<!-- start module -->
<div class="col-md-12">
  <div class="home-box home-hover">
    <div class="home-icon"><img src="{% static "img/icons/home-components.png" %}" style="width:75px;"></div>
    {% if total_comps > 0 %}
      <h4 class="home">You've got {{ total_comps }} components!</h4>
    {% else %}
      <h4 class="home">You don't have any component yet!</h4>
    {% endif %}
    <p>Components are the building blocks of a System Security Plan. You can add additional components by importing OSCAL files or by <a id="component-new" href="{% url 'new_element' %}">creating a component</a> yourself.</p>
    <span class="home-view-link"><a href="{% url 'component_library' %}">View component library</a></span>
  </div>
</div>

<!-- start module -->
  <div class="col-md-12">
    <div class="home-box home-hover">
      <div class="home-icon"><img src="{% static "img/icons/home-gears.png" %}" style="width:75px;"></div>
      <h4 class="home">Get to know GovReady-Q</h4>
      <p>Check out our documentation to learn how to take full advantage of the GovReady-Q GRC tool.</p>
      <span class="home-view-link"><a href="https://govready-q.readthedocs.org" target="_new">View the documentation</a></span>
    </div>
  </div>

<!-- This is not yet operational (it will replace the "govready documentation" box eventually)...
  <div class="col-md-6">
    <div class="home-box home-hover">
      <div class="home-icon"><img src="{% static "img/icons/home-catalogs.png" %}" style="width:75px;"></div>
      {% if catalogs_access|length < 1 %}
        <h4 class="home">You do not currently have access to any catalogs.</h4>
      {% else %}
        <h4 class="home">You have access to {{ catalogs|length }} catalog{{ catalogs|pluralize }}</h4>
      {% endif %}
      <p>Catalogs provide specific guidance for implementing security controls.</p>
      <ol class="home-list">
        <li>Control catalog here</li>
      </ol>
      <span class="home-view-link"><a href="#">View the control catalog</a></span>
    </div>
  </div>
-->
</div>

<!-- Display grid of options -->

{% endblock %}
