{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block head %}
<style>
.project {
  margin: 0em 0;
  /*background-color: #EEF;
  border-radius: 10px;
  padding: 15px;*/
  border-top:1px solid rgb(240,240,240); 
  padding: 8px 0px; 0px 4px;
}
  .project a {
    font-weight: bold;
  }
  .project a:hover { text-decoration: none; }
  .project a:hover span { text-decoration: underline; }
  .project a:hover span.glyphicon { text-decoration: none; }
.project:hover{
  background-color: rgb(250,250,250); 
}

</style>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-push-1 col-sm-9">
    
<h1 style="margin: 1em 0">System Catalog</h1>

<div style="margin: 2em 0">
<p>Your organization's list of web properties, major applications, and general IT systems.</p>

</div>

<div style="float: right; margin-bottom: 1em">
  <a id="new-project" href="/new-project" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Add system</a>
</div>
<div class="clearfix"> </div>

<!-- List sytem projects -->
{% for project in projects %}
{% if project.title != "Account Settings" and project.title != "Organization" %}
<div class="project">
  <a href="{% if project %}{{project.get_absolute_url}}{% else %}/projects/system{% endif %}">
    {% if project %}
      <span class="glyphicon glyphicon-hdd" style="color:rgb(19,144,50)"></span>
      <span>{{project.title}}</span>
    {% else %}
      <span>Account Modules</span>
    {% endif %}
  </a>

  {% if project and any_have_members_besides_me %}
  <div class="admins small" style="margin-top: 3px">
    owners:
    {% for user in project.get_admins %}
      {{user}}
    {% empty %}
      (none) {# well that's odd #}
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endif %}
{% endfor %}

<!-- List special account settings and organization projects -->
<div class="acct_org_projects" style="margin-top:20px">
{% for project in projects %}
{% if project.title == "Account Settings" or project.title == "Organization" %}
<div class="projectx">
  <a href="{% if project %}{{project.get_absolute_url}}{% else %}/projects/system{% endif %}">
    {% if project %}
      <span>{{project.title}}</span>
    {% else %}
      <span>Account Modules</span>
    {% endif %}
  </a>
</div>
{% endif %}
{% endfor %}
  </div>
</div>
{% endblock %}
