{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block head %}
<style>
.project {
  margin: 1em 0;
  background-color: #EEF;
  border-radius: 10px;
  padding: 15px;
}
  .project a {
    font-weight: bold;
  }
</style>
{% endblock %}

{% block body %}
<h1 style="margin: 1em 0">Home</h1>

<div style="margin: 2em 0">
<p>You can continue working on a project you have already started or start a new one.</p>
</div>

<div style="float: right; margin-bottom: 1em">
  <a href="/new-project" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> New Project</a>
</div>
<div class="clearfix"> </div>

{% for project in projects %}
<div class="project">
  <a href="{% if project %}{{project.get_absolute_url}}{% else %}/projects/system{% endif %}">
    {% if project %}
      {{project.title}}
    {% else %}
      Account Modules
    {% endif %}
  </a>

  {% if project and any_have_members_besides_me %}
  <div class="admins small" style="margin-top: 3px">
    owners:
    {% for user in project.get_admins %}
      {{user}}
    {% empty %}
      (none) {# well that's odd #}
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endfor %}

{% endblock %}
