{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}
{{title}}
{% endblock %}

{% block head %}
<style>
h1 { margin-top: 0; }
</style>
{% endblock %}

{% block breadcrumbs %}
  {% for item in breadcrumbs_links %}
    <li><a href="{{item.link}}">{{item.title}}</a></li>
  {% endfor %}
  <li class="active">{{breadcrumbs_last}}</li>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-push-2 col-md-8">
    <div class="panel panel-primary">
      <div class="panel-body">
        {{body|safe}}

        <div style="text-align: center; margin: 1.5em 0 .5em 0;">
          <a id="continue-btn" class="btn btn-primary" style="margin-right: 3em" 
            href="{{next}}">{{next_text}} &raquo;</a>
        </div>
      </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(function() {
  $('#id_title').focus();
})
</script>
{% endblock %}
