{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}
Invitation to GovReady Q
{% endblock %}

{% block head %}
<style>
{% include "focus-area-styles.css" %}
h1 { margin-top: 0; }
</style>
{% endblock %}

{% block breadcrumbs %}
<li class="active">Invitation</li>
{% endblock %}

{% block body %}
<div class="row">
  {% with picture=inv.from_user.get_profile_picture_absolute_url %}
    {% if picture %}
      <div class="col-md-2">
        <img src="{{picture}}" alt="Profile Picture" class="img-responsive" style="border-radius: 10px">
      </div>
      <div class="col-md-8">
    {% else %}
      <div class="col-md-push-2 col-md-8">
    {% endif %}
  {% endwith %}

   <div id="focus-area-wrapper">
      <h1><strong>{{inv.from_user}}</strong> invited you <strong>{{inv.purpose}}</strong> on <strong>GovReady Q</strong></h1>

      <div style="margin-top: 2em;">
        <p>On {{inv.created|date}} {{inv.from_user}} emailed:</p>
        <blockquote>{{inv.text}}</blockquote>
      </div>
        
      {% if LOGIN_ENABLED %}
      <p style="margin: 2em 0">To accept this invitation, log in or sign up:</p>

      <a id="button-sign-in" class="btn btn-success" href="{% url 'account_login' %}?{{next}}">I am an existing GovReady Q user &raquo;</a>
      <a id="button-sign-up" class="btn btn-success" href="{% url 'account_signup' %}?{{next}}">I am new to GovReady Q &raquo;</a>

      {% else %}
      <a id="button-accept" class="btn btn-success" href="?accept-invitation=1">Accept Invitation</a>      
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(function() {
  $('#id_title').focus();
})
</script>
{% endblock %}
