{% extends "base.html" %}

{% block title %}
{{task.title}}
{% endblock %}

{% block body %}

<style>
	.well p:last-child {
		margin: 0;
	}
</style>

<div class="row">
	<div class="col-sm-push-2 col-sm-8">
    <div style="margin-bottom: 45px" >
      {% include "task-header.html" with col_width="4" col_active="start" %}
    </div>

        {% with source_invitation as inv %}
          {% if inv %}
            <div class="panel panel-warning">
              <div class="panel-heading">Invitation from {{inv.from_user}}</div>
              <div class="panel-body">
                {{inv.text}}
              </div>
            </div>
          {% endif %}
        {% endwith %}

		<div class="well well-lg">
			{{introduction|safe}}
		</div>

		{% if task.is_started %}
		<p>This module has already been started.</p>
		{% endif %}

		<a href="{{task.get_absolute_url}}" class="btn btn-primary">
			{% if task.is_finished %}
				Review answers &raquo;
			{% elif task.is_started %}
				Continue &raquo;
			{% else %}
				Let&rsquo;s get started &raquo;
			{% endif %}
		</a>

    {% if task.can_transfer_owner %}
		<p style="margin-top: 30px">
            Or you can <a href="javascript:invite_user_to_take_over_module()">invite a colleague to edit this module</a>.
            {% if source_invitation %}
            Or you can <a href="javascript:return_to_requestor({{source_invitation.from_user.id}})">send it back to {{source_invitation.from_user}}</a>.
            {% endif %}
    </p>
    {% endif %}
	</div>
</div>

{% endblock %}


{% block scripts %}
<script>
function invite_user_to_take_over_module() {
  show_invite_modal(
    '{{task.title|escapejs}}',
    'Invite a colleague to answer this module?',
    {{send_invitation|safe}},
    'Can you give me a hand completing the module {{task.title|escapejs}} for {{task.project.title|escapejs}}?',
    {
      project: {{task.project.id}},
      into_task_editorship: {{task.id}}
    },
    function() { window.location.reload() }
  );
}

function return_to_requestor(user) {
  show_invite_modal(
    'Return This Module',
    'Let the person that requested this module from you know that you are unable to complete it.',
    {{send_invitation|safe}},
    'I cannot answer {{task.title|escapejs}}.',
    {
      user_id: user,
      project: {{task.project.id}},
      into_task_editorship: {{task.id}}
    });
}
</script>
{% endblock %}
