{% extends "base.html" %}

{% block title %}
{{m.title}}
{% endblock %}

{% block body %}
<style>
table.table {
  border: 1px solid #0369a3;
}
.table>tbody>tr>td {
  border-top: 1px solid #0369a3;
}
thead {
  background-color: #dbe5f1;
}
</style>

<div class="row">
  <div class="col-sm-push-1 col-sm-9">

{% include "task-header.html" with col_width="4" col_active="review" %}

<div style="margin: 2em 0">
  {% with supermodule=task.is_answer_to_unique %}
    {% if supermodule and supermodule.task.editor == request.user %}
      {% if task.is_finished %}
        <p class="text-">...and we're done <span class="glyphicon glyphicon-ok"></span></p>
      {% else %}
        <p class="text-">You skipped some required questions.</p>
      {% endif %}

    {% else %}
      {# every task, except projects, are now subtasks of other tasks, so this only occurs if a task is a subtask to multiple super-tasks #}
      <p class="text-success"><span class="glyphicon glyphicon-ok"></span> Module complete. Continue with <a href="{{task.project.get_absolute_url}}">other modules in {{task.project.title}}</a>.</p>
    {% endif %}
  {% endwith %}

</div>

<div id="accordion" class="panel-group" role="tablist" aria-multiselectable="true">
  {# output documents #}

  {% for document in output %}
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="document-{{forloop.counter}}-title">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#document-{{forloop.counter}}-body" aria-expanded="{% if forloop.first %}true{% endif %}" aria-controls="document-{{forloop.counter}}-body">
            {{document.title}}
          </a>
        </h4>
      </div>
      <div id="document-{{forloop.counter}}-body" class="panel-collapse collapse {% if forloop.first %}in{% endif %}" role="tabpanel" aria-labelledby="document-{{forloop.counter}}-title">
        <div class="panel-body output-document">
          {{document.html|safe}}
        </div>
      </div>
    </div>
  {% endfor %}

  {# change answers #}

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="changeanswers-title">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#changeanswers-body" aria-expanded="false" aria-controls="changeanswers-body">
          Change Answers
        </a>
      </h4>
    </div>
    <div id="changeanswers-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="changeanswers-title">
      <div class="panel-body">
        <p>Click on any question to change your answer.</p>
        {% for rec in all_questions %}
            <p>
              {% if not rec.skipped %}
                <span class="glyphicon glyphicon-ok"> </span>
              {% else %}
                <span class="glyphicon glyphicon-remove"> </span>
              {% endif %}
              <a href="?q={{rec.question.key}}">{{rec.question.spec.title}}</a>
            </p>
        {% endfor %}        
      </div>
    </div>
  </div>
</div>

<div style="margin: 2em 0">
  {% with supermodule=task.is_answer_to_unique %}
    {% if supermodule and supermodule.task.editor == request.user %}
      {% if supermodule.task == supermodule.project.root_task %}
        {# return to project #}
        <p><a href="{{task.project.get_absolute_url}}#tab={{supermodule.question.spec.tab|slugify}}/{{supermodule.question.spec.group|slugify}}/{{supermodule.question.key|slugify}}/{{task.id}}" class="btn btn-success">
          Continue with other modules in {{task.project.title}} &raquo;
        </a></p>
      {% else %}
        {# return to non-project parent task #}
        <p><a href="{{supermodule.task.get_absolute_url}}" class="btn btn-success">
          Continue Answering {{supermodule.task.title}} &raquo;
        </a></p>
      {% endif %}
    {% else %}
      {# every task, except projects, are now subtasks of other tasks, so this only occurs if a task is a subtask to multiple super-tasks #}
      <p><a href="{{task.project.get_absolute_url}}" class="btn btn-success">
        Continue with other modules in {{task.project.title}} &raquo;
      </a></p>
    {% endif %}
  {% endwith %}

</div>

</div> <!-- /col -->
</div> <!-- /row -->

{% endblock %}
