{% extends "base.html" %}

{% block title %}
{{m.title}}
{% endblock %}

{% block body %}
<style>
#finished-tabs-panels .tab-pane {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 30px 15px;
}
#result {
  background-color: #FBF6F4;
  color: black;
}
#finished-tabs .active a[href='#result'] {
  background-color: #FBF6F4;
}
</style>

<div class="row">
  <div class="col-sm-push-2 col-sm-8">

{% include "task-header.html" with col_width="4" col_active="review" %}

<div style="margin: 2em 0">
  <p class="text-success">This module is complete. Go back to
  {% if is_answer_to %}answering <a href="{{is_answer_to.question.task.get_absolute_url}}?q={{is_answer_to.question.question_id}}">{{is_answer_to.question.get_question.title}} in {{is_answer_to.question.task.title}}</a> or {% endif %}
  <a href="/">your home</a>.</p>
</div>

<div>
  <ul id="finished-tabs" class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#result" aria-controls="result" role="tab" data-toggle="tab">Document</a></li>
    <li role="presentation"><a href="#questions" aria-controls="questions" role="tab" data-toggle="tab">Change Answers</a></li>
  </ul>

  <!-- Tab panes -->
  <div id="finished-tabs-panels" class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="result">
        {{output|safe}}
    </div>

    <div role="tabpanel" class="tab-pane" id="questions">
        <p>Click on any question to change your answer.</p>
        {% for q in all_questions %}
            <p><a href="?q={{q.id}}">{{q.title}}</a></p>
        {% endfor %}        
    </div>
  </div>

</div>

</div> <!-- /col -->
</div> <!-- /row -->

{% endblock %}
