<div id="move_project_modal" class="modal"">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="invitation_modal_title">Select a Portfolio</h4>
        </div>
        <form role="form" method="get">
          <div class="modal-body">
            <label for="id_portfolio">Move project to portfolio</label>:&nbsp;
            <select id='selected-portfolio'>
              {% for a in project_form.fields.portfolio.choices %}
                  <option value = {{ a.0 }}> {{ a.1 }} </option>
              {% endfor %}
            </select>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
             <button id="submit-btn" class="btn btn-success" type="submit">Move</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  {% block scripts %}
  <script>
    function show_move_project_modal(callback) {
      $('#move_project_modal').modal();
      $('#submit-btn').on('click', () => callback(document.getElementById("selected-portfolio").value));
    }
  </script>
  {% endblock %}