{% load static %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-target" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
          <img alt="Logo" src="{% static "img/brand/navbar-logo.png" %}">
      </a>
    </div>

    <div id="navbar-collapse-target" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        {% if request.user.is_authenticated and not request.user.is_anonymous %}
          <li><a href="/projects" id="menu-projects">Projects</a></li>
          <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
          <li><a href="/portfolios" id="menu-portfolios">Portfolios</a></li>
          <li><a href="/controls" id="menu-controls">Controls</a></li>
          <li><a href="/controls/components" id="menu-controls">Component Library</a></li>
        {% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right">

        {% if request.user.is_authenticated %}
        <!-- Create new projects, portfolios -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="create-menu-dropdown">
              <span class="glyphicon glyphicon-plus"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a id="" onclick="show_select_portfolio_modal(); return false;">Start a new project&hellip;</a></li>
              <li class="dropdown-item-text small text-muted nav-dropdown-item-text">Begin a project from the assessment library. You will be able to choose any available assessment.
              </li>
              <li><a href="/portfolios/new" id="">Create a portfolio&hellip;</a></li>
              <li class="dropdown-item-text small text-muted nav-dropdown-item-text">Portfolios allow you to organize and manage related projects. Members of a portfolio can access all of its unrestricted projects.
              </li>
            </ul>
          </li>
        {% endif %}

        {% if user.is_staff %}
          <li><a href="{% url "guidedmodules_analytics" %}" aria-label="Analytics" tooltip="Analytics"><span class="glyphicon glyphicon-dashboard" aria-label="Analytics" tooltip="Analytics"></span></a></li>
        {% endif %}
        {# if user.can_see_any_org_settings or user.is_staff #}
        {% if user.is_staff %}
        <li><a href="/settings" id="menu-settings" aria-label="Settings" tooltip="Settings"><span class="glyphicon glyphicon-cog" aria-label="Settings" tooltip="Settings"></span></a></li>
        {% endif %}

        {% if not user.is_anonymous %}{% include "navbar-notifications.html" %}{% endif %}

        {% if request.user.is_authenticated %}
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="user-menu-dropdown">
              {% with url=request.user.get_profile_picture_absolute_url %}
                {% if url %}
                  <img src="{{url}}" height="30" alt="Profile Picture" class="nav-profile">
                {% endif %}
              {% endwith %}
              {{request.user}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{{user.user_settings_task_create_if_doesnt_exist.get_absolute_url}}" id="user-menu-account-settings">Account Settings</a></li>
              <li><a href="/api-keys">Your API Keys</a></li>
              {% if can_upgrade_app %}
              <li role="separator" class="divider"></li>
              <li>{% if is_question_page %}<a href="#" onclick="upgrade_app({{task.project.root_task.module.app.id}});">
                  {% else %}
                  <a href="#" onclick="upgrade_app({{project.root_task.module.app.id}});">
                  {% endif %}
                <em class="glyphicon glyphicon-upload"></em> Upgrade Project</a>
              </li>
              {% endif %}
              <li role="separator" class="divider"></li>
              <li><a href="/accounts/logout/">Log Out</a></li>
            </ul>
          </li>

        {% elif LOGIN_ENABLED %}
          <li><a><form name="form" method="post" action={% url 'homepage' %}>
               {% csrf_token %}
    <input type="submit" name="action" value="login"/>
</form></a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
