{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}
Add System
{% endblock %}

{% block breadcrumbs %}
<li class="active">New Project/System</li>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-push-1 col-sm-9">

<h1 style="margin: 60px 0 30px 0"><span class="glyphicon glyphicon-hdd" style="color:rgb(19,144,50)"></span> New Project/System</h1>

<div style="margin: 30px 0">
  {% if first %}
    <p>Add your first project or system.</p>
  {% else %}
    <p>Add new project or system.</p>
  {% endif %}
</div>

<form role="form" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-success">Create Project/System &raquo;</button>
    {% endbuttons %}
</form>

  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(function() {
  $('#id_title').focus();
})
</script>
{% endblock %}
