{% extends "base.html" %}
{% load bootstrap %}

{% block title %}
New Project
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-push-2 col-sm-8">

<h1 style="margin: 60px 0 30px 0">New Project</h1>

<div style="margin: 30px 0">
  {% if first %}
    <p>Create your first project.</p>
  {% else %}
    <p>Create a new project.</p>
  {% endif %}
</div>

<form role="form" method="post">
    {% csrf_token %}
    {{ form|bootstrap }}
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Create &raquo;</button>
    </div>
</form>

  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(function() {
  $('#id_title').focus();
})
</script>
{% endblock %}