{% extends "base.html" %}
{% load static %}
{% load q %}

{% block title %}
{{project.title}} - All Answers
{% endblock %}

{% block head %}
<style>
{% include "focus-area-styles.css" %}
h1 { margin-bottom: .75em; }
h2 { margin-top: 1.5em; }
</style>
{% endblock %}

{% block contextbar %}
  {# kill #}
{% endblock %}

{% block body %}

<div id="folder-project-context" style="margin-bottom: 20px;">
  <p style="font-size: 120%;">
    <span class="glyphicon glyphicon-folder-open" style="margin-right: .25em"></span>
    <a id="folder-link" href="{{folder.get_absolute_url}}" data-folder-id="{{folder.id}}">{{folder.title}}</a>
  </p>
  {% for parent_project in project.get_parent_projects %}
  <p style="font-size: 110%; margin-left: 15px;">
    {% if parent_project.root_task.get_app_icon_url %}
    <img src="{{parent_project.root_task.get_app_icon_url}}" style="height: 1em">
    {% else %}
    <span class="glyphicon glyphicon-list-alt"></span>
    {% endif %}
    <a href="{{parent_project.get_absolute_url}}" style="margin-left: .25em">
      {{parent_project.title}}
    </a>
  </p>
  {% endfor %}
  <p style="font-size: 110%; margin-left: 15px;">
    {% if project.root_task.get_app_icon_url %}
      <img src="{{project.root_task.get_app_icon_url}}" style="height: 1em">
    {% else %}
      <span class="glyphicon glyphicon-list-alt"></span>
    {% endif %}
    <a href="{{project.get_absolute_url}}">
      {{project.title}}
    </a>
  </p>
</div>

<div class="row">
<div class="col-md-10">
  <div id="focus-area-wrapper">
    <h1 style="text-align: center;">
      {% if project.root_task.get_app_icon_url %}
      <img src="{{project.root_task.get_app_icon_url}}" style="height: 1em">
      {% endif %}
      {{project.title}}
    </h1>

    <h2>All Answers</h2>

    {% for section in answers %}

      <h3>
        {{section.task.title}}
        <a href="{{section.task.get_absolute_url}}" style="margin-left: .5em; font-size: 65%;">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
      </h3>

      {% if section.path %}
      <p style="font-size: 90%; font-weight: 400">
        These fields occur within
        {% for item in section.path %}
          <code>{{item}}</code>
          {% if not forloop.last %}→{% endif %}
        {% endfor %}.
      </p>
      {% endif %}

      <table class="table">
        <thead>
          <tr>
            <th width="40%">Question</th>
            <th>Answer</th>
          </tr>
        </thead>
        <tbody>
        {% for question, answer, value in section.answers %}
          <tr>
            <td>
              {{question.spec.title}}
              <a href="{{answer.taskanswer.get_absolute_url}}" style="margin-right: .5em; font-size: 65%;">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
            </td>
            <td>
              <div style="float: right">
              {% if answer.reviewed == 0 %}<span class="label label-danger">New</span>{% endif %}
              {% if answer.reviewed == 1 %}<span class="label label-info">Reviewed</span>{% endif %}
              {% if answer.reviewed == 2 %}<span class="label label-success">Approved</span>{% endif %}
              </div>
              {{value|safe}}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endfor %}

  </div> <!-- /focus-area-wrapper -->
</div> <!-- /col -->
</div> <!-- /row -->

{% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}