{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block breadcrumbs %}
<li class="active">Assessments</li>
{% endblock %}

{% block head %}
<style>
.folder {
  border-top:1px solid rgb(220,220,220);
  padding-top: 20px;
  padding-bottom: 40px;
}
  .folder .rename_folder {
    margin: 0 1em;
    color: #777;
    cursor: pointer;
    font-size: 13px;
  }
  h2 { font-size: 115%; font-weight: bold; margin: 1em 0; }
  .folder .project { margin: 1em 0; }
  h3 { font-size: 100%; font-weight: bold; margin: 0; }
  h2 .label, h3 .label { margin-left: .75em; font-size: 12px; }
  .folder .project h2 { margin: 0; }
  .folder a:hover { text-decoration: none; }
  .folder a:hover span { text-decoration: underline; }
  .folder a:hover span.glyphicon { text-decoration: none; }

.project {
  padding:4px 4px 4px 4px;
  border-left: 1px solid white;}
.project:hover{
  background-color: rgb(250,250,250); 
  border-left: 1px solid rgb(220,220,220);
}
.project .small {
  color: rgb(90,90,90);
}

.glyphicon-plus { color: #FFF; }

</style>
{% endblock %}

<!-- Remove contextbar from top of page -->
{% block contextbar %}{% endblock %}

{% block body %}
<h1>Assessments</h1>

<div style="text-align: right; margin-bottom: 1em">
  <a id="new-assessment" href="/assessment-catalog" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> New Assessment</a>
</div>

{% if folders|length == 0 %}
  <p>Start by beginning your first assessment.</p>
{% endif %}

<!-- List projects -->
{% for folder in folders %}
<div class="folder" data-folder-id="{{folder.id}}">
  {% if folder.accessible_projects|length != 1 %}
  <h2>
    <span class="glyphicon glyphicon-folder-open"></span>&nbsp;
    <span class="folder_name">{{folder.title}}</span>
    {% if folder.is_admin %}
    <span class="rename_folder" onclick="rename_folder(this);"><span class="glyphicon glyphicon-pencil"></span></span>
    {% endif %}
  </h2>
  {% endif %}

  {% for project in folder.accessible_projects %}
  <div class="project">
  {% if folder.accessible_projects|length != 1 %}
  <h3>
  {% else %}
  <h2>
  {% endif %}
  <a href="{{project.get_absolute_url}}">
    <span class="glyphicon glyphicon-hdd" style="color:rgb(19,144,50)"></span>
    <span>{{project.title}}</span>

    {# how many open tasks for the user? #}
    {% with project.open_tasks|length as count %}
      {% if count > 0 %}
        <span class="label label-primary">{{count}}</span>
      {% endif %}
    {% endwith %}
  </a>
  {% if folder.accessible_projects|length != 1 %}
  </h3>
  {% else %}
  </h2>
  {% endif %}


  <div class="row">
    <div class="col-md-4">
      {# what kind of project is this #}
      <div class="small" style="margin-top: .5em">
        {{project.root_task.module.title}}
      </div>
    </div>

    <div class="col-md-8">
      {% if project and any_have_members_besides_me %}
      <div class="admins small" style="margin-top: .5em">
        owners:
        {% for user in project.get_admins %}
          {{user}}
        {% empty %}
          (none) {# well that's odd #}
        {% endfor %}
      </div>
      {% endif %}

      {% with snippet=project.render_snippet %}
        {% if snippet %}
          <div class="admins small" style="margin-top: .5em">
            {{project.render_snippet|safe}}
          </div>
        {% endif %}
      {% endwith %}
    </div>
  </div>

  </div>
  {% endfor %}

  {% if folder.is_admin and folder.num_hidden_projects > 0 %}
  <p><i>There are {{folder.num_hidden_projects}} other assessment{{folder.num_hidden_projects|pluralize}} in this folder that you do not have permission to see.</i></p>
  {% endif %}
</div>
{% endfor %}


{% endblock %}

{% block scripts %}
<script>
function rename_folder(elem) {
  var folder = $(elem).parents(".folder");
  var folder_id = folder.data("folder-id");
  var folder_name = folder.find(".folder_name");
  var new_title = prompt("Rename this folder?", folder_name.text());
  if (!new_title) return;
  ajax_with_indicator({
   url: '{% url "rename_folder" %}',
   method: "POST",
   data: {
    folder: folder_id,
    title: new_title
   },
   success: function() {
     folder_name.text(new_title);
   }
  });
}
</script>
{% endblock %}