{% extends "base.html" %}
{% load q %}

{% block title %}
{{title}}
{% endblock %}

{% block head %}
<style>
.tab-pane {
  padding-top: 1.5em;
}

/* TODO: Move into side-wide stylesheet. The !important is here
   because something on hover is canceling out the border. */
.nav-tabs>li.active>a {
  font-weight: normal;
  color: black;
  border-top: 3px solid rgb(19,144,50) !important;
}

.nav-tabs>li>a {
  color: rgb(125,125,125);
}

.nav-tabs>li>a:hover {
  color: black;
}

.task-group {
  margin: 1.5em 0;
}

.task-group-title {
  font-weight:bold;
  background-color:rgb(230,230,230);
  border: 1px solid rgb(200,200,200);
  padding: 8px 18px;
  border-radius: 2px;
}

.task {
  border-bottom: 1px solid rgb(200,200,200);
  border-left: 1px solid rgb(200,200,200);
  border-right: 1px solid rgb(200,200,200);
  padding: 8px 18px;
}

  .task:hover {
    background-color: rgb(248,248,248);
  }
  .task.task_finished {
    border-left: 4px solid rgb(30,143,55);
    padding-left: 17px;
  }
  .task .task-title {
    font-weight: bold;
    color: #222;
  }
  .task .task-commands a {
    display: inline-block;
    padding: 0 0.25em;
    color: #666;
    font-size: 0.75em;
  }
  .task-commands a:hover {
    color: rgb(55,123,181);
  }

  .task .invitation {
    font-size: 14px;
    line-height: 128%;
  }
  
.task.deleted span {
  color: #DDD;
  text-decoration: line-through;
}
.task .delete-task {
	display: none;
	color: #F66;
	cursor: pointer;
  text-decoration: none;
}
	.task:hover .delete-task {
		display: inline;
	}
  .task.deleted .delete-task:after {
    content: "(undo)";
  }


span.glyphicon.glyphicon-check {
  color: rgb(30,143,55);
}

#project-members {
	margin-top: 1em;
}
#project-members .admin {
  font-style: italic;
  font-size: 85%;
}
#project-members .you {
  font-weight: bold;
  font-size: 85%;
}
</style>
{% endblock %}

{% block body %}
<h1 style="margin: 1em 0 0 0;color: #666;"><span class="glyphicon glyphicon-hdd" style="color:rgb(19,144,50)"></span> {{title}}</h1>

<div style="margin: 2em 0">
  {{intro|safe}}
</div>

    <ul id="project-tabs" class="nav nav-tabs">
      {# question tabs #}
      {% for tab in tabs %}
        <li role="presentation" {% if forloop.first %}class="active"{% endif %}><a href="#{{tab.title|slugify}}" aria-controls="{{forloop.counter}}-{{tab.title|slugify}}" role="tab" data-toggle="tab">{{tab.title}}</a></li>
      {% endfor %}

      {# output document tabs #}
      {% for document in additional_tabs %}
        <li role="presentation">
          <a href="#document-{{forloop.counter}}" aria-controls="document-{{forloop.counter}}" role="tab" data-toggle="tab">
            {% if document.glyphicon %}<i class="glyphicon glyphicon-{{document.glyphicon}}" style="margin-right: .25em"> </i>{% endif %}
            {{document.title}}
          </a>
        </li>
      {% endfor %}

      {% if not project.is_account_project %}
        <li id="project-settings-tab" role="presentation"><a href="#project-settings" aria-controls="project-settings" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-wrench"></i> Settings</a></li>
      {% endif %}

    </ul>

    <div class="tab-content">
      {# question tabs #}

      {% for tab in tabs %}
        <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="{{tab.title|slugify}}">
            {{tab.intro.html|safe}}

            {% for group in tab.groups.values %}
            <div class="task-group">
              <div class="task-group-title">{{group.title}}</div>

              {% for rec in group.modules %}
                <div id="question-{{rec.question.key}}" class="task {% if is_member and rec.is_finished %}task_finished{% endif %}">

                  <div class="task-title">
                    {{rec.question.spec.title}}
                  </div>

                  <div class="task-body">
                    {% if is_member %}
                      {% for t in rec.tasks %}
                        <div class="task-commands started-task">
                            {% if rec.question.spec.type == "module-set" %}
                              {{t.render_title}} &mdash;
                            {% endif %}
                            <a href="{{t.get_absolute_url}}">
                            {% if t.is_finished %}
                                <span class="glyphicon glyphicon-check"></span>
                                Done
                            {% elif t.is_started %}
                                <span class="glyphicon glyphicon-edit"></span>
                              Continue
                            {% else %}
                              <span class="glyphicon glyphicon-edit"></span>
                              Continue
                            {% endif %}
                            </a>
                        </div>
                      {% endfor %}

                      {% if can_begin_module and rec.can_start_new_task %}
                      <div class="task-commands">
                        <form class="start-task" method="post" action="/tasks/start" style="display:inline;">
                          {% csrf_token %}
                          <input type="hidden" name="project" value="{{project.id}}"/>
                          <input type="hidden" name="question" value="{{rec.question.key}}"/>
                          <a href="#" onclick="$(this).parent('form').submit(); return false;">
                            {% if rec.tasks|length == 0 %}
                              <span class="glyphicon glyphicon-unchecked"></span> Start
                            {% else %}
                              <span class="glyphicon glyphicon-unchecked"></span> Start
                            {% endif %}
                          </a>
                        </form>
                        <a href="#" class="assign-task" onclick="return invite_user_to_start_module('{{rec.module.title|escapejs}}', {{rec.question.id}});"><span class="glyphicon glyphicon-share"></span> Assign</a>
                      </div> <!-- /task-commands -->
                      {% endif %}
                    {% endif %}

                    {% for inv in rec.invitations %}
                      <p class="invitation" data-invitation-id="{{inv.id}}">
                        You invited {{inv.to_display}} {{inv.purpose}} on {{inv.created|date}}.
                        (<a href="#" onclick="return cancel_invitation(this);">cancel</a>)
                      </p>
                    {% endfor %}

                      {# guest participation in discussions within this task #}
                      {% if rec.discussions %}

                      <div>
                        <div><b>Discussions:</b></div>
                        {% for d in rec.discussions %}
                          <div><a href="{{d.get_absolute_url}}">{{d.attached_to.question.spec.title}}</a></div>
                        {% endfor %}
                      </div>
                      {% endif %}
                  </div> <!-- /.task-body -->
                </div> <!-- /#question-__.task -->
              {% endfor %}
              </div> <!-- /task-group -->
            {% endfor %}
        </div> <!-- /.tabpanel -->
      {% endfor %}

      {# output document tabs #}
      {% for document in additional_tabs %}
        <div role="tabpanel" class="tab-pane" id="document-{{forloop.counter}}">
            {{document.html|safe}}
        </div>
      {% endfor %}

    {% if not project.is_account_project or project.is_deletable %}
    <div role="tabpanel" class="tab-pane" id="project-settings">

      <div class="task-group">
        <div class="task-group-title">Project Team</div>
          <div class="task">

            {% if project_has_members_besides_me %}
              <div style="margin-bottom: 1em">
                <div id="project-members">
                  {% for pmbr in project_members %}
                    <div class="clearfix" style="margin-bottom: 4px;">
                    {% with pmbr.user_details as u %}
                      <div style="width: 24px; height: 24px; border: 1px solid #AAA; margin-right: .5em; float: left; margin-top: -2px;">
                      {% if u.picture %}
                        <img src="{{u.picture.url}}" alt="{{u.name}} Profile Picture"
                          style="display:block; width: 100%; height: 100%;">
                      {% endif %}
                      </div>

                      <span {% if u.name != pmbr.user.email %}title="{{pmbr.user.email}}"{% endif %}>
                        {{u.name}}
                      </span>
                      {% if pmbr.user == request.user %}<span class="you">you</span>{% endif %}
                      {% if pmbr.is_admin %}<span class="admin">admin</span>{% endif %}
                    {% endwith %}
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}

            {% if send_invitation.can_add_invitee_to_team %}
              <div style="margin: 1em 0">
                <button id="invite-user-to-project" class="btn btn-success" onclick="return invite_user_into_project();"><span class="glyphicon glyphicon-plus"></span>&nbsp; Invite Colleague to Join Project ...</button>
              </div>
            {% endif %}

            {% if open_invitations %}
              <div id="open-invitations-container">
                <h3>Invitations waiting for a response...</h3>
                <div class="invitation-list">
                {% for inv in open_invitations %}
                  <p data-invitation-id="{{inv.id}}">
                    You invited {{inv.to_display}} {{inv.purpose}} on {{inv.created|date}}.
                    (<a href="#" onclick="return cancel_invitation(this, function() { if ($('#open-invitations-container .invitation-list p').length == 0) { $('#open-invitations-container').remove(); } });">cancel</a>)
                  </p>
                {% endfor %}
                </div>
              </div>
            {% endif %}

            </div>
        </div>

      {% if project.is_deletable %}
      <div class="task-group">
        <div class="task-group-title">Caution!</div>
          <div class="task" style="padding-top: 1em; padding-bottom: 1em;">
              <button class="btn btn-danger" onclick="return delete_project();">Delete Project</button> 
          </div>
        </div>

      <div class="task-group">
        <div class="task-group-title">Share Data</div>
          <div class="task" style="padding-top: 1em; padding-bottom: 1em;">
              {# export #}
              <form method="post" action="{% url "export_project" project.id %}">{% csrf_token %}
                <button class="btn btn-success" style="margin: 1em 0">
                  <span class="glyphicon glyphicon-share" style="margin-right: .25em"></span>
                  {{project.root_task.module.spec.export_button_label|default:"Export Project Data"}}
                </button>
              </form>

              {# import #}
              <button class="btn btn-default" onclick="$('#import-file-input').click()">
                <span class="glyphicon glyphicon-cloud-upload" style="margin-right: .25em"> </span> Import Answers From File
              </button>
              <form id="import-form" style="display: none;"
                method="post" enctype="multipart/form-data" action="{% url "import_project_data" project.id %}">{% csrf_token %}
                <input name="value" type="file" id="import-file-input" class="form-control"
                  style="width: auto; border:  none; padding: 0; display: inline-block"
                  onchange="$('#import-form').submit()" />
              </form>
          </div>
        </div>
        
      </div>
      {% endif %}

    </div> <!-- /tab-panel -->
    {% endif %}

    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
var project_invitation_info = {{send_invitation|json}};

$(function() {
  open_tab_from_url_fragment();
  $(window).on('hashchange', open_tab_from_url_fragment);
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    var tabid = e.target.getAttribute('href').substring(1); // old IE might return absolute URL here?
    window.location.hash = "#tab=" + encodeURIComponent(tabid);
  })

	$('.task .delete-task').click(function() {
    var task_node = $(this).parent('p');
		var task_id = task_node.attr('data-id');
    var task_is_deleted = task_node.hasClass('deleted');
    ajax_with_indicator({
     url: '{% url "task_change_state" %}',
     method: "POST",
     data: {
      id: task_id,
      state: (task_is_deleted ? 'undelete' : 'delete')
     },
     success: function(res) {
       task_node.toggleClass('deleted', !task_is_deleted);
     }
    });
	})
})

function invite_user_into_project() {
  var info = project_invitation_info;
  show_invite_modal(
    'Invite To Project Team (' + info.project_title + ')',
    'Invite a colleague to join this project team.',
    info,
    'Please join the project team for ' + info.project_title + '.',
    {
      project: info.project_id,
      add_to_team: "1"
    },
    function() { window.location.reload() }
  );

  return false;
}

function invite_user_to_start_module(module_title, question_id) {
  var info = project_invitation_info;
  show_invite_modal(
    'Start a Module (' + info.project_title + ')',
    'Invite a colleague to answer the module ' + module_title + '.',
    info,
    'Can you give me a hand completing the module ' + module_title + ' for ' + info.project_title + '?',
    {
      project: info.project_id,
      into_new_task_question_id: question_id
    },
    function() { window.location.reload() }
  );

  return false;
}

function open_tab_from_url_fragment() {
  var tabpath = window.location.hash;
  tabpath = tabpath.substring(tabpath.indexOf('/') + 1).split('?');
  tabpath = tabpath.shift();
  tabpath = parse_qs(tabpath).tab;
  if (tabpath) {
    tabpath = tabpath.split('/');
    var tab = tabpath.shift();
    if (tab === 'document-1') {
      window.location.hash = '#/site-list';
    }
    else if (tab) {
      $('#project-tabs a[href="#' + tab + '"]').tab("show");
    }
  }
}

function delete_project() {
  show_modal_confirm(
    "Delete Project",
    "Are you sure you want to delete this project? All information will be permanently deleted.",
    "Delete",
    function() {
      ajax_with_indicator({
       url: '{% url "delete_project" project.id %}',
       method: "POST",
       success: function() {
         // redirect to home to see other projects
         window.location = "/";
       }
      });
    }
  )
}
</script>
{% endblock %}