{% extends "project-base.html" %}
{% load static %}
{% load q %}

{% block title %}
{{title}}
{% endblock %}

{% block head %}
{{block.super}}
<style>
.tab-pane {
}

.folder_action {
  margin-left: 1em;
  color: #777;
  cursor: pointer;
  font-size: 13px;
  display: none;
}
  *:hover > .folder_action {
    display: inline-block;
  }

.nav-tabs {
    border-bottom: none;
}
/* TODO: Move into side-wide stylesheet. The !important is here
   because something on hover is canceling out the border. */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover  {
  font-weight: normal;
  color: black;
  border: none;
  border-bottom: 3px solid #449d44 !important;
}

.nav-tabs>li>a {
  border: none;
  color: rgb(125,125,125);
}

.nav-tabs>li>a:hover {
  color: black;
}

.question-group {
  margin: 30px 0 20px 0;
}

.question-group-title {
  color: #777;
  padding: 16px 18px;
}

.question {
  padding-top: .75em;
  padding-bottom: .75em;
  {% if layout_mode == "grid" %}
    text-align: center;
  {% endif %}
  border-radius: 15px; /* good for highlighting */
}
  .question:hover {
    background-color: rgb(248,248,248);
  }
  .question .question-icon {
    margin: 0 auto;
    width: 96px;
    height: 96px;
    border: 1px solid #DDD;
    padding:12px;
    {% if layout_mode != "rows" %}
    margin-top: 20px;
    {% endif %}
    border-radius: 10px;
    background-color: #DDD;
  }
    .question.task_finished .question-icon {
      border-left: 0px solid #96B;
    }
    .question.first_start .question-icon {
      border-left: 0px solid #449d44;
    }
  .question .question-title {
    margin-top: .5em;
    color: #222;
  }
  .question .task-commands a {
    display: inline-block;
    padding: 0 0.25em;
    color: #666;
    font-size: 10.5pt;
    margin: 8px 0px 4px 0px;
  }
  .task-commands a:hover {
    color: rgb(55,123,181);
  }
    .question.first_start .start-task a {
      color: #449d44;
      font-weight: bold;
    }

  .question .invitation {
    font-size: 14px;
    line-height: 128%;
  }

#project-members {
	margin-top: 1em;
}
#project-members .role {
  font-style: italic;
  font-size: 85%;
}

.authoring-tool-trigger {
  float: right;
  color: #31708f;
}
</style>
{% endblock %}

{% block action_buttons %}
    {% if not project.is_account_project or project.is_deletable %}
      <button id="show-project-settings" class="btn btn-sm" onclick="$('#project_settings').modal();">
        <i class="glyphicon glyphicon-cog"></i> Settings</a>
      </button>
    {% endif %}
    {% if send_invitation.can_add_invitee_to_team %}
      <button id="show-project-settings" class="btn btn-sm" onclick="invite_user_into_project()">
        <i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-plus"></i>
        Invite
      </button>
    {% endif %}

    <button id="review-answers" class="btn btn-sm" onclick="window.location = '{{project.get_absolute_url|escapejs}}/list';">
      <i class="glyphicon glyphicon-list"></i>
      Review
    </button>

    {% if has_outputs %}
      <button id="review-answers" class="btn btn-sm" onclick="window.location = '{{project.get_absolute_url|escapejs}}/outputs';">
        <i class="glyphicon glyphicon-list"></i>
        Related Controls
      </button>
    {% endif %}

    <a class="btn btn-sm" href="{{project.get_absolute_url}}/api">
      <i class="glyphicon glyphicon-sort"></i>
      API Docs
    </a>

    {# action buttons #}
    {% if action_buttons %}
      {% for rec in action_buttons %}
        {% for t in rec.tasks %}
          <a
            class="btn btn-default" style="background: white"
            href="{{t.get_absolute_url}}?previous=project">
            {{rec.question.spec.title}} &raquo; {# use a stable title - dont make it depend on the task #}
          </a>
        {% empty %}
          {% if can_begin_module and rec.can_start_new_task %}
            <form class="start-task" method="post" action="/tasks/start" style="display:inline;">
              {% csrf_token %}
              <input type="hidden" name="project" value="{{project.id}}"/>
              <input type="hidden" name="question" value="{{rec.question.key}}"/>
              <input type="hidden" name="previous" value="project"/>
              <a class="btn btn-default" style="background: white"
                href="#" onclick="$(this).parent('form').submit(); return false;">
                {{rec.question.spec.title}} &raquo;
              </a>
            </form>
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endif %}
{% endblock %}

{% block above_title %}
    {% if authoring_tool_enabled %}
      <center style="font-size: 90%;"><p class="text-info">
        You are in author mode. Authoring tools have been enabled for this module.
        <br>
        <a href="#" onclick="show_authoring_tool_module_editor(); return false;">
          <span class="glyphicon glyphicon-pencil"></span>
          Edit App
        </a>
      </p></center>
    {% endif %}
{% endblock %}

{% block body_content %}
    {% if project.root_task.module.spec.introduction %}
      <center>
      {{project.root_task.render_introduction|safe}}
      </center>
    {% endif %}

    {% if project.root_task.module.spec.is_app_stub %}
      {# This project is tied to an app that has not yet been imported. #}
      <h2>Activate App</h2>
      <p>This app must be activated by an administrator of your organization. Send them <a href="javascript:invite_user_into_project()">an invitation</a> to join this project. When they get here, they&rsquo;ll be able to activate the app.</p>
    {% endif %}

    {# tabs #}

    {% if tabs|length > 1 %}
    <ul id="project-tabs" class="nav nav-tabs">
      {# question tabs #}
      {% for tab in tabs %}
        <li
          class="{% if forloop.first %}active{% endif %}"
          role="presentation"
          >
            <a
              href="#{{tab.title|slugify}}"
              aria-controls="{{forloop.counter}}-{{tab.title|slugify}}"
              role="tab" data-toggle="tab">
              {{tab.title}}
              {% if tab.unfinished_tasks > 0 %}
                <span class="label label-primary">{{tab.unfinished_tasks}}</span>
              {% endif %}
            </a>
        </li>
      {% endfor %}
    </ul>
    {% endif %}

    {# tab content #}

    <div class="tab-content">
      {# question tabs #}

      {% for tab in tabs %}
        <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="{{tab.title|slugify}}">
            {{tab.intro.html|safe}}


            {% for group in tab.groups.values %}
            <div class="row question-group">
              {% if tab.groups.values|length > 1 %}
              <div class="question-group-title">{{group.title}}</div>
              {% endif %}

              {% for rec in group.modules %}
                <div id="question-{{rec.question.key}}"
                  class="
                    {% if layout_mode == "grid" %}col-sm-3{% else %}col-xs-12{% endif %}
                    question
                    {% if rec.is_finished %}task_finished{% endif %}
                    {% if rec.first_start %}first_start{% endif %}"
                    {% if can_begin_module %}
                    onclick="$(this).find('form').submit();" style="cursor: pointer"
                    {% endif %}
                    >

                  {# For module-type questions, the question is either unstarted, in which case the app icon and title are from the question, or started in which case the app icon and title are from the task (falling back to the question if no icon is set for the task). #}

                  {% if rec.can_start_new_task %}
                    {# For a module-type question, this question is unstarted. For a module-set question, it is always possible to start a new one. Icon and title from the question specification, link goes to compliance apps to start a new app. #}

                    {% if can_begin_module %}
                      {% if not rec.question.spec.protocol %}
                        {# start a task directly using the module type in the specification #}
                        <form class="start-task" method="post" action="/tasks/start">
                          {% csrf_token %}
                          <input type="hidden" name="project" value="{{project.id}}"/>
                          <input type="hidden" name="question" value="{{rec.question.key}}"/>
                          <input type="hidden" name="previous" value="project"/>
                      {% else %}
                        {# start an app that satisfies the interface of the specified module #}
                        <form method="get" action="/store">
                          <input type="hidden" name="q" value="{{project.root_task.id}}/{{rec.question.key}}">
                      {% endif %}
                    {% endif %}

                    {% if layout_mode == "rows" %}
                      <div class="row">
                      <div class="col-sm-3">
                    {% endif %}

                    <div class="question-icon">
                      <img
                        {% if rec.icon %}
                          src="{{rec.icon}}"
                        {% elif not rec.question.spec.protocol %}
                          src="{% static "img/default_app_icon.png" %}"
                        {% else %}
                          src="{% static "img/default_cart_icon_sm.png" %}"
                        {% endif %}
                        class="img-responsive"
                        title="Begin new app.">
                    </div>

                    {% if layout_mode == "rows" %}
                      </div> <!-- /col -->
                      <div class="col-sm-9">
                    {% endif %}

                    <div class="question-title">
                      {% if authoring_tool_enabled %}
                        <div class="authoring-tool-trigger" data-key="{{rec.question.key}}">
                          <span class="glyphicon glyphicon-pencil"></span>
                        </div>
                      {% endif %}

                      <!--{% if can_begin_module and rec.question.spec.protocol %}Add {% endif %} -->
                        {{rec.question.spec.title}}
                    </div>

                    {% if layout_mode == "rows" %}
                      </div> <!-- /col -->
                      </div> <!-- /row -->
                    {% endif %}

                    {% if can_begin_module %}
                      </form>
                    {% endif %}

                    {# For a module-set question, list the existing tasks #}
                    {% if layout_mode == "rows" %}
                      <div class="row">
                      <div class="col-sm-push-3 col-sm-9">
                    {% endif %}
                    <div class="question-task-list">
                      {% for t in rec.tasks %}
                        <div class="started-task">
                            <a href="{{t.get_absolute_url}}?previous=project">
                              {{t.render_title}}
                            </a>
                            {% if t.is_finished %}
                              <span class="label label-primary" style="background-color: #96B">finished</span>
                            {% else %}
                              <span class="label label-primary">in progress</span>
                            {% endif %}
                        </div>
                      {% endfor %}
                    </div>
                    {% if layout_mode == "rows" %}
                      </div> <!-- /col -->
                      </div> <!-- /row -->
                    {% endif %}
                    
                  {% else %}
                    {# This is a module-type question that has been started. Icon, title, and link are for the started task. There is no list of answered modules. Unless rec.question.spec.app_overrides_name_and_icon is false. #}

                    {% for t in rec.tasks %} {# there's just one #}
                    <div onclick="window.location='{{t.get_absolute_url}}';" style="cursor: pointer">
                      {% if layout_mode == "rows" %}
                        <div class="row">
                        <div class="col-sm-3">
                      {% endif %}

                      <div class="question-icon">
                        <img
                          {% if t.get_app_icon_url and rec.question.spec.app_overrides_name_and_icon is None %}
                          src="{{t.get_app_icon_url}}"
                          {% elif rec.icon %}
                          src="{{rec.icon}}"
                          {% elif not rec.question.spec.protocol %}
                          src="{% static "img/default_app_icon.png" %}"
                        {% else %}
                          src="{% static "img/default_cart_icon_sm.png" %}"
                        {% endif %}
                          class="img-responsive">
                      </div>

                      {% if layout_mode == "rows" %}
                        </div> <!-- /col -->
                        <div class="col-sm-9">
                      {% endif %}

                      <div class="question-title">
                        {% if authoring_tool_enabled %}
                          <div class="authoring-tool-trigger" data-key="{{rec.question.key}}">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </div>
                        {% endif %}

                        {% if rec.question.spec.app_overrides_name_and_icon is None %}
                          {{t.title}}
                        {% else %}
                          {{rec.question.spec.title}}
                        {% endif %}

                        {% if layout_mode == "rows" %}
                          {% if t.is_finished %}
                            <span class="label label-primary" style="background-color: #96B">finished</span>
                          {% else %}
                            <span class="label label-primary">in progress</span>
                          {% endif %}
                        {% endif %}

                      </div>

                      {% if layout_mode == "rows" %}
                        </div> <!-- /col -->
                        </div> <!-- /row -->
                      {% endif %}

                    </div>
                    {% endfor %}
                  {% endif %}

                  <div class="question-body">
                    {% for inv in rec.invitations %}
                      <p class="invitation" data-invitation-id="{{inv.id}}">
                        You invited {{inv.to_display}} {{inv.purpose}} on {{inv.created|date}}.
                        (<a href="#" onclick="return cancel_invitation(this);">cancel</a>)
                      </p>
                    {% endfor %}

                      {# guest participation in discussions within this task #}
                      {% if rec.discussions %}

                      <div>
                        <div><b>Discussions:</b></div>
                        {% for d in rec.discussions %}
                          <div><a href="{{d.get_absolute_url}}">{{d.attached_to.question.spec.title}}</a></div>
                        {% endfor %}
                      </div>
                      {% endif %}
                  </div> <!-- /.question-body -->
                </div> <!-- /#question-__.question -->
              {% endfor %}
              </div> <!-- /question-group -->
            {% endfor %}
        </div> <!-- /.tabpanel -->
      {% endfor %}
    </div> <!-- /tabs -->

    {% if authoring_tool_enabled %}
    <center style="font-size: 90%;"><p>
      <span class="glyphicon glyphicon-pencil"></span>

      <a href="#" onclick="authoring_tool_new_question({{project.root_task.id}}, true); return false;" style="margin: 0 1em;">
      <span class="glyphicon glyphicon-plus"></span>
      Add Question
      </a>

      <a href="#" onclick="authoring_tool_reload_app({{project.root_task.id}}); return false;" style="margin: 0 1em;">
      <span class="glyphicon glyphicon-refresh"></span>
      Reload App from {{project.root_task.module.app.source.get_description}}
      </a>
    </p></center>
    {% endif %}

  </div>
</div>
{% endblock %}

{% block modals %}

{# SETTINGS MODAL #}
{% if not project.is_account_project or project.is_deletable %}
<div id="project_settings" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="project_settings_title" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="project_settings_title">{{project.title}} Settings</h4>
      </div>
      <div class="modal-body">
        <h4>Participants</h4>

              <div style="margin-bottom: 1em">
                <div id="project-members">
                  {% for user, authz in project.get_all_participants %}
                    <div class="clearfix" style="margin-bottom: 4px;">
                      <div style="width: 24px; height: 24px; border: 1px solid #AAA; margin-right: .5em; float: left; margin-top: -2px;">
                      {% if authz.user_details.picture %}
                        <img src="{{authz.user_details.picture.url}}" alt="{{authz.user_details.name}} Profile Picture"
                          style="display:block; width: 100%; height: 100%;">
                      {% endif %}
                      </div>

                      <span {% if authz.user_details.name != user.email %}title="{{user.email}}"{% endif %}>
                        {{authz.user_details.name}}
                      </span>
                      <span class="role">{{authz.role}}</span>
                    </div>
                  {% endfor %}
                </div>
              </div>

            {% if send_invitation.can_add_invitee_to_team %}
              <div style="margin: 1em 0">
                <button id="invite-user-to-project" class="btn btn-success" onclick="return invite_user_into_project();"><span class="glyphicon glyphicon-plus"></span>&nbsp; Invite Colleague to Join Project ...</button>
              </div>
            {% endif %}

            {% if open_invitations %}
              <div id="open-invitations-container">
                <h3>Invitations waiting for a response...</h3>
                <div class="invitation-list">
                {% for inv in open_invitations %}
                  <p data-invitation-id="{{inv.id}}">
                    You invited {{inv.to_display}} {{inv.purpose}} on {{inv.created|date}}.
                    (<a href="#" onclick="return cancel_invitation(this, function() { if ($('#open-invitations-container .invitation-list p').length == 0) { $('#open-invitations-container').remove(); } });">cancel</a>)
                  </p>
                {% endfor %}
                </div>
              </div>
            {% endif %}

      {% if project.is_deletable and is_admin %}
        <h4>Project Details</h4>
        <p>
          {% if can_start_any_apps %}
            <a class="btn btn-primary" href="{{project.get_absolute_url}}/startapps">Start Apps</a>
          {% endif %}
          <button class="btn btn-default" onclick="return rename_project();">Change Project Title</button>
          <button class="btn btn-danger" onclick="return delete_project();">Delete Project</button>
        </p>

        <h4>Share Data</h4>
              {# export #}
              <form method="post" action="{% url "export_project" project.id %}" style="display: inline-block; margin: 0; padding: 0;">{% csrf_token %}
                <button class="btn btn-success">
                  <span class="glyphicon glyphicon-share" style="margin-right: .25em"></span>
                  Export Project Data
                </button>
              </form>

              {# import #}
              <button class="btn btn-default" onclick="$('#import-file-input').click()">
                <span class="glyphicon glyphicon-cloud-upload" style="margin-right: .25em"> </span> Import Answers From File
              </button>
              <form id="import-form" style="display: none;"
                method="post" enctype="multipart/form-data" action="{% url "import_project_data" project.id %}">{% csrf_token %}
                <input name="value" type="file" id="import-file-input" class="form-control"
                  style="width: auto; border:  none; padding: 0; display: inline-block"
                  onchange="$('#import-form').submit()" />
              </form>
      {% endif %}
      </div> {# modal-body #}
    </div> {# modal-content #}
  </div> {# /modal #}
</div> {# /project-settings #}
{% endif %}


{% if authoring_tool_enabled %}
{# should be in body so that it comes before the global error modal so that ajax errors show on top of this #}
{% include "authoring-tool-modal.html" %}
{% endif %}

{% endblock %}

{% block scripts %}
<script>
var project_invitation_info = {{send_invitation|json}};

$(function() {
  set_state_from_url_fragment();
  $(window).on('hashchange', set_state_from_url_fragment);
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    var tabid = e.target.getAttribute('href').substring(1); // old IE might return absolute URL here?
    window.location.hash = "#tab=" + encodeURIComponent(tabid);
  })

  // Resize questions so they all have the same height, to the max height of any.
  var max_height = 0;
  $('.question').each(function() {
    var h = $(this).outerHeight();
    if (h > max_height) max_height = h;
  });
  $('.question').css({ height: max_height });
})

function invite_user_into_project() {
  var info = project_invitation_info;
  show_invite_modal(
    'Invite To Project Team (' + info.project_title + ')',
    'Invite a colleague to join this project team.',
    info,
    'Please join the project team for ' + info.project_title + '.',
    {
      project: info.project_id,
      add_to_team: "1"
    },
    function() { window.location.reload() }
  );

  return false;
}

function invite_user_to_start_module(module_title, question_id) {
  var info = project_invitation_info;
  show_invite_modal(
    'Start a Module (' + info.project_title + ')',
    'Invite a colleague to answer the module ' + module_title + '.',
    info,
    'Can you give me a hand completing the module ' + module_title + ' for ' + info.project_title + '?',
    {
      project: info.project_id,
      into_new_task_question_id: question_id
    },
    function() { window.location.reload() }
  );

  return false;
}

function set_state_from_url_fragment() {
  var fragment = window.location.hash.substring(1); // chop off the "#"

  // The GovReady Dashboard React app appends a random code like `?_k=h9zm95` to the
  // hashbang, so we need to strip that out.
  fragment = fragment.split('?').shift();

  var fragment = parse_qs(fragment);

  // Open the tab specified in the fragment.
  var tabpath = fragment.tab;
  if (tabpath) {
    tabpath = tabpath.split('/');
    var tab = tabpath.shift();
    if (tab)
      $('#project-tabs a[href="#' + tab + '"]').tab("show");

    // If the GovReady Dashboard tab is clicked, we need to change the hashbang
    // so that the React app works.
    if (tab === 'document-1')
      window.location.hash = '#/site-list';
  }

  // Highlight the question.
  if (fragment.q) {
    $('.question').each(function() {
      if (this.id == "question-" + fragment.q) {
        var elem = $(this);
        elem.css({ backgroundColor: "#FFA" });
        setTimeout(function() { elem.css({ backgroundColor: "#FFF" }); }, 2000);
      }
    });
  }
}

function rename_project() {
  var new_title = prompt("Rename this project?", "{{project.title|escapejs}}");
  if (!new_title || new_title == "{{project.title|escapejs}}") return;
  ajax_with_indicator({
   url: '{% url "rename_project" project.id %}',
   method: "POST",
   data: {
    title: new_title
   },
   keep_indicator_forever: true, // keep the ajax indicator up forever --- it'll go away when we issue the reload
   success: function() {
     window.location.reload();
   }
  });
}

function delete_project() {
  show_modal_confirm(
    "Delete Project",
    "Are you sure you want to delete this project? All information will be permanently deleted.",
    "Delete",
    function() {
      ajax_with_indicator({
       url: '{% url "delete_project" project.id %}',
       method: "POST",
       success: function(res) {
         // redirect to home to see other projects
         window.location = res.redirect;
       }
      });
    }
  )
}

{% if is_folder_admin %}
function rename_folder(elem) {
  var folder_elem = $("#folder-link");
  var new_title = prompt("Rename this folder?", folder_elem.text());
  if (!new_title || new_title == folder_elem.text()) return;
  ajax_with_indicator({
   url: '{% url "rename_folder" %}',
   method: "POST",
   data: {
    folder: folder_elem.data("folder-id"),
    title: new_title
   },
   success: function() {
     folder_elem.text(new_title);
   }
  });
}
{% endif %}
</script>

{% if authoring_tool_enabled %}
<script src="{% static "vendor/js-yaml.min.js" %}"></script>
<script src="{% static "js/authoring_tool.js" %}"></script>
<style>.dropdown-menu.textcomplete-dropdown { z-index: 99999 !important; }</style> {# show over modal #}
<script>
$(function() {
  $('.authoring-tool-trigger').click(function(e) {
    e.stopPropagation();
    show_question_authoring_tool($(this).data('key'));
  })
  init_authoring_tool({
    task: {{project.root_task.id}},
    module: {{project.root_task.module.spec|json}},
    module_yaml: "{{project.root_task.module.spec_yaml|escapejs}}",
    questions: {
      {% for q in project.root_task.module.questions.all %}
      {{q.key}}: {
        spec: {{q.spec|json}},
        choices: "{{q.choices_as_csv|escapejs}}",
        answer_type_module_id: {% if q.answer_type_module %}{{q.answer_type_module.id}}{% else %}null{% endif %}
      }{% if not forloop.last %},{% endif %}
      {% endfor %}
    },
    answer_type_modules: [{% for m in project.root_task.module.get_referenceable_modules %}
      { id: "{{m.id}}", title: "{{m.title|escapejs}} ({{m.key}})" }{% if not forloop.last %},{% endif %}
      {% endfor %}],
    autocomplete_questions: { }
  });
});
</script>
{% endif %}
{% endblock %}