{% extends "project-base.html" %}
{% load q %}

{% block title %}
{{project.title}} - All Answers
{% endblock %}

{% block head %}
{{block.super}}
<style>
h2 { margin-top: 1.5em; }
.review-state-list {
  margin: 2px 0;
}
  .review-state-list > span {
    display: inline-block;
    padding: 4px 4px 2px 4px;
    cursor: default;
  }
    .review-state-list > span:not(.inactive) {
      border: 1px solid #222;
    }
    .review-state-list > span.inactive {
      opacity: .55;
      cursor: pointer;
    }
</style>
{% endblock %}

{% block body_content %}
    {% for section in answers %}
      {% if not forloop.first %}<hr>{% endif %}

      {% if section.path %}
      <p class="project-list-text">
        {% for item in section.path %}
          <span class="project-list-text-item">{{item}}</span>
          {% if not forloop.last %}→{% endif %}
        {% endfor %}
      </p>
      {% endif %}

      <h2 id="task-{{section.task.id}}" class="project-list-section-task-id">
        <a href="{{section.task.get_absolute_url}}" class="project-list-section-task-link">

        {% if section.task.get_app_icon_url %}
          <img src="{{section.task.get_app_icon_url}}" class="project-list-app-icon" alt="App Icon">
        {% else %}
          <span class="glyphicon glyphicon-list-alt"></span>
        {% endif %}

          {{section.task.title}}
        </a>
      </h2>

      <div class="project-list-section-task">
      <p class="project-list-section-task-text">Started: {{section.task.created|date}}</p>
      {% with m=section.task.get_last_modification %}
      {% if m %}
        <p class="project-list-section-task-text">Last change: {{m.answered_by}} answered <a href="{{m.taskanswer.get_absolute_url}}">{{m.taskanswer.question.spec.title}}</a> on {{m.created|date}}.</p>
      {% endif %}
      {% endwith %}
      </div>

      {% if section.answers %}
      <table class="table">
        <thead>
          <tr>
            <th width="40%">Question</th>
            <th>Answer</th>
          </tr>
        </thead>
        <tbody>
        {% for question, answer, value_html in section.answers %}
          <tr>
            <td>
              <!-- the question title -->
              <a href="{{answer.taskanswer.get_absolute_url}}">
                {{question.spec.title}}
              </a>
            </td>
            <td>
              <!-- the answer -->
              <div>
                {{value_html|safe}}
              </div>

              <!-- for module-type questions, link to the unfurled answers
                   for the task that answered this question lower down on
                   the page -->
              {% if question.spec.type == "module" %}
                [<a href="#task-{{section.task.id}}">see below</a>]
              {% endif %}

              <!-- unsure -->
              {% if answer.unsure %}
              <div>
                <span class="label label-warning">unsure</span>
              </div>
              {% endif %}

              <!-- review state -->
              <div class="review-state-list">
                {% for key, label in review_choices %}
                <span
                  class="label {% if answer.reviewed != key %}inactive{% endif %} task-{{section.task.id}}-answer-{{question.key}}-review-{{key}}"
                  data-task="{{section.task.get_absolute_url}}"
                  data-taskid="{{section.task.id}}"
                  data-question="{{question.id}}"
                  data-answer="{{answer.id}}"
                  data-reviewed="{{key}}" {# css triggers bg color #}
                  {% if section.can_review %}title="Change review state to {{label}}"{% endif %}
                  onclick="change_review_state(this, {% if section.can_review %}true{% else %}false{% endif %});"
                  >
                      {{label}}
                </span>
                {% endfor %}
              </div>


            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>There are no answered questions in this module.</p>
      {% endif %}

    {% empty %}

      <p>No questions have been answered in this app yet.</p>

    {% endfor %}

{% endblock %}

{% block scripts %}
<script>
function change_review_state(elem, can_review) {
  // If the element isn't 'inactive', then it's the current review
  // state and clicking it wouldn't do anything, so ignore the
  // click. By CSS it doesn't have a pointer cursor.
  elem = $(elem);
  if (!elem.hasClass('inactive'))
    return;

  // Check permission flag. (It's of course checked server-side too.)
  // We allow the UI interaction in the first place because it's
  // confusing for an element to be clickable for some users to not
  // be clickable by others --- users who know it can be clickable
  // can get confused why it's not clickable for them.
  if (!can_review) {
    alert("Only organization reviewers have permission to change the review state of answers.");
    return;
  }

  // Save new review state.
  var new_state = elem.attr('data-reviewed');
  ajax_with_indicator({
      url: elem.attr('data-task') + "/_save",
      method: "POST",
      data: {
        question: elem.attr('data-question'), {# database id #}
        answer: elem.attr('data-answer'), {# TaskAnswerHistory id #}
        method: "review",
        reviewed: new_state
      },
      success: function() {
        // Update DOM.
        $('.review-state-list > span[data-taskid=' + elem.attr('data-taskid') + '][data-question='+ elem.attr('data-question') + ']').each(function() {
          $(this).toggleClass("inactive", $(this).attr('data-reviewed') != new_state);
        })
      }
  });
}
</script>
{% endblock %}
