{% extends "project-base.html" %}

{% block title %}
API: {{project.title}}
{% endblock %}

{% block head %}
{{block.super}}
<style>
h2 { margin-top: 1.5em; }
</style>
{% endblock %}

{% block title_suffix_text %}
API
{% endblock %}

{% block body_content %}
    <p>An API is provided for programmatically getting and updating information stored in this {{project.title}} app. The API can be used from command-line tools and programming languages that allow making GET and/or POST HTTP requests.</p>


    <h2>Getting data from the app using the GET API</h2>

    <p>Project data can be read from the API using an HTTP GET request to the following URL:</p>

    <pre>{{project.get_api_url}}</pre>

    <p>An API key must be passed in the HTTP <code>Authorization</code> header. You can get your API key from the <a href="/api-keys">API keys page</a>.</p>

    <p>You&rsquo;ll get the following response from the API:</p>

    <style>
    pre { background-color: white; }
    .highlight .p, .highlight .nt { color: #337ab7; font-weight: bold; }
    .highlight .s2 { color: black; }
    </style>
    <div class="project-api-sample">
    {{sample|safe}}
    </div>

    <p>The schema of the response object is documented below.</p>

    <p>If you are using an operating system with a command line and the <code>curl</code> tool, you can try out the API by running the following command. Replace <code>your-api-key</code> with <a href="/api-keys">your API key</a>. (The slash in the command below indicates a continued line.)</p>

    <pre>curl \
      --header "Authorization: <em>your-api-key</em>" \
      {{SITE_ROOT_URL}}/api/v1/projects/{{project.id}}/answers</pre>


    <!-- -->

    <h2>Updating answers using a POST request with key-value pairs</h2>

    <p>There are two types of POST requests that can be used to update app data. In the first type, described in this section, data values are provided as key-value pairs using the regular web browser form submission method. (In the second form, described below, answers are provided using a JSON data structure that is formatted the same as the JSON data structure returned by a GET request, which may be more appropriate when submitting non-textual and non-binary content.)

    <p>In each of the key-value pairs submitted in the POST request, the <strong>key</strong> is a dotted-path question ID. The key always begins with <code>project.</code> and is followed by the property names on the path to the question being updated, according to the JSON data structure, with property names separated by the <code>.</code> character.</p>

    <p>The <strong>value</strong> of each key-value pair is an answer submitted either as plain text or, for file-type questions, as a binary file. If submitted as plain text and the question expects non-text data, such as a number, the value will be converted. When uploading a binary file, the <a href="https://tools.ietf.org/html/rfc2388">multipart/form-data</a> content type must be used for the POST request.</p>

    <p>For example:</p>

    <div class="project-api-sample">
    <pre>{% for key, value in sample_post_keyvalue %}{{key}}={{value}}
{% endfor %}</pre>
    </div>

    <p>The fields are documented below.</p>

    <p>Updating fields within a <code>module-set</code>-type question creates a single, new answer to the <code>module-set</code>-type question on each POST request.</p>

    <p>As with the GET API, an API key must be passed in the HTTP <code>Authorization</code> header. An API key with write permission must be used. You can get an API key from the <a href="/api-keys">API keys page</a>.</p>

    <p>If you are using an operating system with a command line and the <code>curl</code> tool, you can try out the API using <code>curl</code>. Replace <code>your-api-key</code> in the command below with <a href="/api-keys">your full access API key</a>. Then run the following command. (The slash in the command below indicates a continued line.)</p>

    <pre>curl \
      --header "Authorization: <em>your-api-key</em>" \
      {% for key, value in sample_post_keyvalue %}-F "{{key}}={% if value != "<binary file content>" %}{{value}}{% else %}@filename.ext{% endif %}" \
      {% endfor %}{{SITE_ROOT_URL}}/api/v1/projects/{{project.id}}/answers</pre>

    <p>(<code>curl</code>&rsquo;s <code>-d</code> option can be used in place of <code>-F</code> if none of the fields are file uploads.)

    <!-- -->

    <h2>Updating data using a POST request with JSON</h2>

    <p>The second type of POST request uses a request body in JSON format in the same structure as that returned by the GET request.</p>

    <p>The POST request body always includes:</p>

    <div class="project-api-sample">
    <div class="highlight"><pre><span></span><span class="p">{</span>
  <span class="nt">"schema"</span><span class="p">:</span> <span class="s2">"GovReady Q Project API 1.0"</span><span class="p">,</span>
  <span class="nt">"project"</span><span class="p">:</span> <span class="p">{</span>
    ...
  <span class="p">}</span>
<span class="p">}</span>
</pre></div>
    </div>

    <p>Inside the <code>project</code>, replace <code>...</code> just with the data fields you want to change, including any structure nesting.</p>

    <p>For example:</p>

    <div class="project-api-sample">
    {{sample_post_json|safe}}
    </div>

    <p>The fields are documented below.</p>

    <p>The <code>Content-Type</code> header in the request must be set to <code>application/json</code>.</p>

    <p>As with the GET API, an API key must be passed in the HTTP <code>Authorization</code> header. An API key with write permission must be used. You can get an API key from the <a href="/api-keys">API keys page</a>.</p>

    <p>If you are using an operating system with a command line and the <code>curl</code> tool, you can try out the API using <code>curl</code>. First copy the sample POST request body or make your own and save it in a file named <code>data.json</code>. Replace <code>your-api-key</code> in the command below with <a href="/api-keys">your full access API key</a>. Then run the following command. (The slash in the command below indicates a continued line.)</p>

    <pre>curl \
      --header "Authorization: <em>your-api-key</em>" \
      -XPOST --data @data.json \
      --header "Content-Type: application/json" \
      {{SITE_ROOT_URL}}/api/v1/projects/{{project.id}}/answers</pre>

    <h2>Data Schema</h2>

    <p>The fields returned in the GET response and expected by the POST request body inside the <code>project</code> field are as follows:</p>

    <table class="table">
    <thead>
      <tr>
        <th>Field</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for path, module, question in schema %}
        {% ifchanged path module %}
        <tr>
          <th colspan=3>
            <h3 class="project-api-title">{{module.spec.title}}</h3>
            <p class="project-api-text">
              These fields occur within
              {% for item in path %}
                <code>{{item}}</code>
                {% if not forloop.last %}→{% endif %}
              {% endfor %}.
            </p>
          </th>
        </tr>
        {% endifchanged %}
        <tr>
          <td><code>{{question.key}}</code></td>
          <td>
            <p>{{question.spec.title}}</p>
            <small>
            <p>{{question.spec.help}}</p>
            {% if question.spec.type == "module" or question.spec.type == "module-set" %}
              <p>
              {% if question.answer_type_module %}
               This data field is a JSON object which has sub-fields documented in the &ldquo;<strong>{{question.answer_type_module.spec.title}}</strong>&rdquo; section below.
               {% if question.spec.type == "module-set" %}
                 When updating answers within this key, a new {{question.answer_type_module.spec.title}} is created on each POST request and appended to the existing set of answers.
               {% endif %}
              {% else %}
               An app must be selected manually in Q before schema information for this field can be determined.
              {% endif %}
              </p>
            {% elif question.spec.type == "text" or question.spec.type == "password" %}
              <p>Data type: string (or null).</p>
            {% elif question.spec.type == "email-address" %}
              <p>Data type: string (or null); if set, must be a valid email address.</p>
            {% elif question.spec.type == "url" %}
              <p>Data type: string (or null); if set, must be a valid web address (URL.</p>
            {% elif question.spec.type == "longtext" %}
              <p>Data type: string (or null); if set, uses CommonMark (Markdown) encoding.</p>
            {% elif question.spec.type == "date" %}
              <p>Data type: string representing a date in YYYY-MM-DD format (or null).</p>
            {% elif question.spec.type == "choice" %}
              <p>Data type: string, one of
              {% for item in question.spec.choices %}
                <code>{{item.key}}</code> ({{item.text}})
                {% if not forloop.last %}, {% endif %}
              {% endfor %}; or null.
            {% elif question.spec.type == "multiple-choice" %}
              <p>Data type: array of strings; each element is one of
              {% for item in question.spec.choices %}
                <code>{{item.key}}</code> ({{item.text}})
                {% if not forloop.last %}, {% endif %}
              {% endfor %}; or null. When uploading with the key-value POST method, repeat the key multiple times in the request to set multiple values
            {% elif question.spec.type == "datagrid" %}
              <p>Data type: array of dictionaries; each dictionary element is one of
              {% for item in question.spec.fields %}
                <code>{{item.key}}</code> ({{item.text}})
                {% if not forloop.last %}, {% endif %}
              {% endfor %}; or null. When uploading with the key-value POST method, repeat the key multiple times in the request to set multiple values
            {% elif question.spec.type == "yesno" %}
              <p>Data type: string; either <code>yes</code> or <code>no</code>; or null.</p>
            {% elif question.spec.type == "integer" %}
              <p>Data type: number (or null).</p>
            {% elif question.spec.type == "real" %}
              <p>Data type: number (or null).</p>
            {% elif question.spec.type == "file" %}
              <p>Data type: object containing file metadata and/or content.</p>
              <p>In GET requests, the properties of file objects are <code>url</code> (a link to download the file content), <code>type</code> (the MIME type), and <code>size</code> (the size of the file in bytes).</p>
              <p>In JSON POST requests, the properties must be <code>type</code> and <code>content</code>, which must hold an array of one or more strings containing Base64-encoded binary data.</p>
            {% else %}
              <p>Data type: {{question.spec.type}}.</p>
            {% endif %}
            {% if question.spec.impute %}<p><em>This field&rsquo;s value might be imputed from other values and if so is read-only.</em></p>{% endif %}
            </small>
          </td>
        </tr>
      {% endfor %}
    </tbody>
    </table>

{% endblock %}
