{% extends "project-base.html" %}
{% load humanize %}
{% load guardian_tags %}
{% load static %}
{% load q %}

{% block title %}
  {{title}}
{% endblock %}

{% block head %}
{{block.super}}
<style>

  #focus-area-wrapper {
    padding: 2em 2em 3em 2em;
  }

  .question-column {
    padding: 0px 30px 0px 30px;
    padding: 10px;
    /*background-color: rgb(247,247,247);*/
    /*border-radius: 5px;*/
    max-width:66vw;
    /*box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 2px 3px rgba(0, 0, 0, .2);*/
  }

  .question-group {
    margin: 0px 0 20px 0;
    padding-top: 0px;
  }

  h2.question-column-title {
  }

  h3.question-group-title {
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 0 18px 14px 0;
    margin: 0;
  }

  .question {
    background-color: #F6F7F7;
    border: 1px solid #C1C1C1;
    margin-bottom: 15px;
    padding-top: .5em;
    border-radius: 2px; /* good for highlighting */
    /*box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 2px 3px rgba(0, 0, 0, .2);*/
    /*border-left: 6px solid #999999;*/
  }

  .question-finished {
    border-left: 6px solid #88BB88;
  }

  /*.question:hover {
    background-color: #F6F7F7;
  }*/

  .question .question-icon {
    margin: 0 auto;
    width: 96px;
    height: 96px;
    padding:12px;
  }

  .question .question-title {
    margin-top: .5em;
    color: #222;
    padding-right:20px;
  }

  .question-title {
    text-align: left;
    margin: 0px 0px 0px 40px;
  }

  /*.question:hover:after {
      content:"  Click to edit...";
      font-weight: bold;
      font-style: italic;
      margin-left: 40px;
  }*/

  .question:hover {
      {#font-weight: bold;#}
      background-color: #ececec;
  }
  .question-status {
    margin: 12px auto 20px auto;
    font-size: 0.8;
    color: #777;
  }

  .question .invitation {
    font-size: 14px;
    line-height: 128%;
  }

  .question .question-title {
    line-height: 124%;
  }

  .hr {  }
  .hr span {
      min-width: 130px;
      max-width: 300px;
      border-bottom: 1px solid #ccc;
      display: inline-block;
      margin: 5px;
  }

  #project-members {
    margin-top: 1em;
  }
  #project-members .role {
    font-style: italic;
    /*font-size: 85%;*/
  }
  #project-members .action {
    font-size: 85%;
  }

  /* New styles for project dashboard elements */
  .last-login { font-size:.8em;}
  li { padding-left: -10px; }
  .status { font-size:2em; color:#2D3337;}
  .status-welcome { font-size:2em; margin:0 0 1em 0; }
  .status-box { border:1px solid #C1C1C1; padding:5px; text-align:center; background: rgb(243,250,246);}
  .status-box-invisible {padding:5px; text-align:center;}
  .status-small { font-size: .8em;}

  .input-todo { padding-left:5px; }
  .alert-changed { font-size: 1.2em; margin:0; padding:1em 0 0 0}
  .status-section-header { display:block; border-bottom:1px solid #ccc; margin-bottom:1em; font-size:1.3em; }
  .piechart {
          display: block;
          margin:0 auto 0 auto;
          width: 66px;
          height: 66px;
          border-radius: 50%;
          background-image: conic-gradient(
              #E1F8E2  70deg,
              #B2E0B2 0 235deg);
      }
  .vuln-table { width:100%;}
  .vuln-table-head { font-size: .9em; }
  .vuln-table-component { font-size: 1.2em; font-weight:bold; padding:0; margin:0;}
  .vuln-table-component-desc { font-size: .8em; }
  .vuln-table-bad { color: red;}
  .vuln-table-medium { color: orange;}

  .portfolio-table { width:100%;}
  .portfolio-table-component { font-size: 1.2em; font-weight:bold; padding:0; margin:0;}
  .portfolio-table-component-desc { font-size: .8em; }

  body { height: 100vh; width: 100vw;}
</style>
{% endblock %}

<!-- action buttons included from project-base.html -->

{% block body_content %}

    <div class="row hidden" style="max-width: 1200px; text-align: center;">
      <h3 id="project-title" class="question-group-title hr" style="margin-left: 50px; font-size: 1.5em;">
        <span></span>
        &nbsp;&nbsp;
        {{ project.title }}
        &nbsp;&nbsp;
        <span></span>
      </h3>
      <p>&nbsp;</p>
    </div>

    <div class="row" style="max-width: 1200px;">
      <div class="col-md-3">
        <div id="status-box-controls" class="status-box" onclick="window.location.assign('{% url 'controls_selected' system_id=project.system.id %}')" style="cursor: pointer;">
          <h2 class="status">{{ controls_status_count.Addressed }} of {{ project.system.root_element.controls.all|length }}</h2>
          <span class="status-small">controls addressed</span>
        </div>
      </div>
      <div class="col-md-3">
        <div id="status-box-components" class="status-box" onclick="window.location.assign('{% url 'components_selected' system_id=project.system.id %}')" style="cursor: pointer;">
          <h2 class="status">{{ project.system.get_producer_elements|length }}</h2>
          <span class="status-small">system components</span>
        </div>
      </div>
      <!-- <div class="col-md-3">
        <div id="status-box-poams" class="status-box" onclick="window.location.assign('{% url 'poams_list' system_id=project.system.id %}')" style="cursor: pointer;">
          <h2 class="status">{{ poam_status_count.Open }}</h2> <span class="status-small">open POA&Ms</span>
        </div>
      </div> -->
      <div class="col-md-3">
        <div id="status-box-compliance-piechart" class="status-box-invisible">
          <h2 class="piechart" style="background-image: conic-gradient(#E1F8E2 {{ approx_compliance_degrees }}deg,
                                                                       #B2E0B2 0 235deg);"> </h2>
          <span class="status-small">{{ percent_compliant_100|floatformat:2 }}% compliance (unassessed)</span>
          <br/>
        </div>
      </div>
    </div>
    <!-- TODO: Make sure categorizations work and can be set -->
    <div class="row hidden" style="margin-top: 12px;">
      <div class="col-md-3">
        <div id="systems-security-confidentiality-level" class="status-box status-small" onclick="show_edit_security_objs_modal(); return false;" style="cursor: pointer;">
          confidentiality objective<br/>
          {% if confidentiality %}{{ confidentiality|lower }}{% else %} --{% endif %}
        </div>
      </div>
      <div class="col-md-3">
        <div id="systems-security-integrity-level" class="status-box status-small" onclick="show_edit_security_objs_modal(); return false;" style="cursor: pointer;">
          integrity objective<br/>
          {% if integrity %}{{ integrity|lower }}{% else %} --{% endif %}
        </div>
      </div>
      <div class="col-md-3">
        <div id="systems-security-availability-level" class="status-box status-small" onclick="show_edit_security_objs_modal(); return false;" style="cursor: pointer;">
          availability objective<br/>
          {% if availability %}{{ availability|lower }}{% else %} --{% endif %}
        </div>
      </div>
      <div class="col-md-3">
        <div id="systems-security-sensitivity-level" class="status-box status-small" onclick="" style="">
          mission impact<br/>
          {% if security_sensitivity %}{{ security_sensitivity|lower }}{% else %} --{% endif %}
        </div>
      </div>
    </div>

    <div class="row" style="max-width: 1200px;">
      <div class="col-md-12">
        <div class="question-column">
        <h3 class="question-group-title hr" style="margin-top: 20px;">
                <span></span>
                &nbsp;
                Summary
                &nbsp;
                <span></span>
              </h3>
            <div>{{ project.root_task.module.spec.introduction.template }}</div>
            {% for group in question_groups.groups %}
            {% if group.title %}<div><a id="{{group.title}}"></a>&nbsp;</div>{% endif %}
            <div class="question-group">
              {% if group.title %}
              <h3 class="question-group-title hr" style="margin-bottom: 20px;">
                <span></span>
                &nbsp;
                Modules<!-{{group.title}}-->
                &nbsp;
                <span></span>
              </h3>
              {% endif %}
              <div class="row">
              {% for q in group.questions %}
                <div id="question-{{q.question.key}}"
                  {% if q.task  %}data-task-id="{{q.task.id}}"{% endif %}
                  class="col-xs-12 question {% if q.task.is_finished %}question-finished{% endif %}"
                  style=""
                >

                    {# The user may not have permission to actually start a Task, however. If not, show the same UI but without the form element that actually makes the request to start the Task. #}

                    {% if can_start_task %}

                      {# We need one of three forms here. If this is a module-type question and it's been answered already (it has a Task answer), then we simply link to that Task. Otherwise if it's not answered or if it's a module-set type question that can be answered multiple times, we show a form. If the question is answered by a particular module, clicking the icon submits a form that creates a new Task and redirects to it. If this question instead has a "protocol" field, then the user is simply redirected to the Apps Catalog and is presented with apps that satisfy the protocol. #}

                      {% if not q.can_start_new_task %}
                        {# This is a module-type question that has been started. Clicking the question doesn't start a new task --- instead, it's just a link to the started Task. #}

                        {# Link to the Task. #}
                        {# This is a module-type question that has been answered already (e.g., it has a Task answer). We are making the display of the information about the module one big link. Here we open the link tag and put everything that follows, including the progress bar and the buttons will clickable. #}
                        <a href="{{q.task.get_absolute_url}}" style="display: block;">

                      {% elif not q.question.spec.protocol %}
                        {# Start a task directly using the module type in the specification. #}
                        <form class="start-task" method="post" action="/tasks/start"
                          onclick="$(this).submit();" style="cursor: pointer">
                          {% csrf_token %}
                          <input type="hidden" name="project" value="{{project.id}}"/>
                          <input type="hidden" name="question" value="{{q.question.key}}"/>
                          <input type="hidden" name="previous" value="project"/>

                      {% else %}
                        {# Go to the Apps Catalog to select an app that implements the protocol specified on the question. #}
                        <form method="get" action="{% url 'store' %}" onclick="$(this).submit();" style="cursor: pointer">
                          <input type="hidden" name="portfolio" id="id_portfolio" value="{{ project.portfolio.id }}">
                          <input type="hidden" name="q" value="{{project.root_task.id}}/{{q.question.key}}">
                      {% endif %}
                    {% endif %}

                    <div class="question-title">
                      <span style="font-weight:bold;"><!--{{ forloop.counter }}. -->{{q.question.spec.title}}</span>
                      {% if q.can_start_new_task and q.question.spec.type == "module-set" %}
                        <span class="glyphicon glyphicon-plus pull-right"></span>
                      {% endif %}
                      <div class="pull-right">
                          {{ q.module.questions.all|length }} question{{ q.module.questions.all|pluralize }}
                      </div>

                      <div class="question-status">
                        {% with task=q.task %}
                          {% if task.is_finished %}
                            <div class="">status: Finished</div>
                          {% elif task.is_started %}
                            <div class="">status: In progress</div>
                          {% else %}
                            <div class="">status: Not started</div>

                            {% if q.module.spec.output|length > 0 %}
                              <p>
                                {# If task started we can link artifacts on task finished page, otherwise we can only know artifacts exist #}

                                {{ q.module.spec.output|length }} artifact{{ q.module.spec.output|pluralize }}:

                                {% for artif in q.module.spec.output %}
                                  {{ artif.title }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                              </p>
                            {% endif %}
                          {% endif %}
                        {% endwith %}
                      </div>
                    </div>

                    {# If the user had permission to start a task and we started an 'a' or 'form' element, end it. #}
                    {% if can_start_task %}
                      {% if not q.can_start_new_task %}
                        </a>
                      {% else %}
                        </form>
                      {% endif %}
                    {% endif %}

                    {% if q.task.is_started or q.task.is_finished %}
                    <p class="" style="margin-left: 40px; margin-bottom:12px;">
                      {% if q.module.spec.output|length > 0 %}
                        {# If task started we can link artifacts on task finished page, otherwise we can only know artifacts exist #}
                        {% if q.task %}
                          <a href="{{q.task.get_absolute_url}}/finished">{{ q.module.spec.output|length }} artifact{{ q.module.spec.output|pluralize }} available</a>:
                        {% else %}
                        {% endif %}
                        {% for artif in q.module.spec.output %}
                          {{ artif.title }}{% if not forloop.last %}, {% endif %}
                          {% endfor %}
                      {% endif %}
                    </p>
                    {% endif %}

                </div> <!-- /#question-__.question -->
              {% endfor %} {# question #}
              </div> <!-- /row -->
            </div>
            {% endfor %} {# group #}
        </div> <!-- end .question-column -->
      </div>
    </div>
{% endblock %}

{% block modals %}
{% include "controls/import_project_modal.html" %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
<script>
var project_invitation_info = {{send_invitation|json}};

$(function() {
  set_state_from_url_fragment();
  $(window).on('hashchange', set_state_from_url_fragment);
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    var tabid = e.target.getAttribute('href').substring(1); // old IE might return absolute URL here?
    window.location.hash = "#tab=" + encodeURIComponent(tabid);
  })

  {% if layout_mode == "grid" %}
  // Resize questions so they all have the same height, to the max height of any.
  var max_height = 0;
  $('.question').each(function() {
    var h = $(this).outerHeight();
    if (h > max_height) max_height = h;
  });
  $('.question').css({ height: max_height });
  {% endif %}
})

function invite_user_into_project() {
  var info = project_invitation_info;
  show_invite_modal(
    'Invite To Project Team (' + info.model_title + ')',
    'Invite a colleague to join this project team.',
    info,
    'Please join the project team for ' + info.model_title + '.',
    {
      project: info.model_id,
      add_to_team: "1"
    },
    function() { window.location.reload() }
  );

  return false;
}

function move_project() {
  show_move_project_modal((selectedPortfolioId)=>{
    ajax_with_indicator({
      url: '{% url "move_project" project.id %}',
      method: "POST",
      data: {new_portfolio: selectedPortfolioId},
      keep_indicator_forever: true,
      success: function() {
        window.location.reload();
      }
    });
  });
  return false;
}

function invite_user_to_start_module(module_title, question_id) {
  var info = project_invitation_info;
  show_invite_modal(
    'Start a Module (' + info.model_title + ')',
    'Invite a colleague to answer the module ' + module_title + '.',
    info,
    'Can you give me a hand completing the module ' + module_title + ' for ' + info.model_title + '?',
    {
      project: info.model_id,
      into_new_task_question_id: question_id
    },
    function() { window.location.reload() }
  );

  return false;
}

function set_state_from_url_fragment() {
  var fragment = window.location.hash.substring(1); // chop off the "#"

  // The GovReady Dashboard React app appends a random code like `?_k=h9zm95` to the
  // fragment, so we need to strip that out.
  fragment = fragment.split('?').shift();

  var fragment = parse_qs(fragment);

  // Highlight the question.
  if (fragment.q && fragment.t) {
    $('.question').each(function() {
      if (this.id == "question-" + fragment.q && this.getAttribute("data-task-id") == fragment.t) {
        var elem = $(this);
        elem.css({ backgroundColor: "#FFA" });
        smooth_scroll_to(elem);
        setTimeout(function() { elem.css({ backgroundColor: "#FFF" }); }, 2000);
      }
    });
  }
}

</script>
{% endblock %}