{% extends "base.html" %}

{% block head %}
<style>
{% include "focus-area-styles.css" %}
h1, div.subtitle {
   text-align: center;
}
  div.subtitle {
    margin: .5em 0 .75em 0;
    font-weight: bold;
  }
@media screen and (min-width: 992px) {
  #action-buttons button, #action-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
}
</style>
{% endblock %}

{% block contextbar %}
  {# kill #}
{% endblock %}

{% block body %}
<div id="folder-project-context" style="margin-bottom: 20px;">
  <p style="font-size: 120%;">
    <span class="glyphicon glyphicon-folder-open" style="margin-right: .25em"></span>
    <a id="folder-link" href="{{folder.get_absolute_url}}" data-folder-id="{{folder.id}}">{{folder.title}}</a>
    {% if is_folder_admin %}
      <span class="folder_action" onclick="rename_folder();"><span class="glyphicon glyphicon-pencil"></span></span>
    {% endif %}
  </p>
  <p style="font-size: 90%;margin-top:20px;">
  {% for parent_project in project.get_parent_projects %}
    {% if not forloop.counter == 1 %} &gt; {% endif %}
    <a href="{{parent_project.get_absolute_url}}" style="margin-left: .25em">
      {{parent_project.title}}
    </a>
  {% endfor %}
  {% if not is_project_page %}
    <a href="{{project.get_absolute_url}}">
      {{project.title}}
    </a>
  {% endif %}
  {% if project.get_parent_projects|length > 0 %}
  &gt;
  {% endif %}
  {{project.title}}
</div>

<div class="row">
  {% if is_project_page %}
  <div class="col-md-push-10 col-md-2">
    <div id="action-buttons" style="margin-bottom: 1em">
      {% block action_buttons %}
      {% endblock %}
    </div>
  </div>
  {% endif %}

  <div class="{% if is_project_page %}col-md-pull-2{% endif %} col-md-10">
    <div id="focus-area-wrapper">
      {% block above_title %}
      {% endblock %}

      {% with project.title as title %}
      <h1>
        {% if project.root_task.get_app_icon_url %}
        <img src="{{project.root_task.get_app_icon_url}}" style="height: 1em">
        {% endif %}
        {{title}}
        {% block title_suffix_text %}
        {% endblock %}
      </h1>
      {% if title != project.root_task.module.spec.title %}
      <div class="subtitle">
        {{project.root_task.module.spec.title}}
      </div>
      {% endif %}
      {% endwith %}

      {% block body_content %}
      {% endblock %}
    </div> <!-- /focus-area-wrapper -->
  </div> <!-- /col -->
</div> <!-- /row -->

{% block modals %}
{% endblock %}

{% endblock %}
