{% extends "base.html" %}

{% load q %}

{% block head %}
<style>
{% include "focus-area-styles.css" %}

#project-icon {
  float: left;
  margin: 0 1.5em 1em 0;
  {% if title == project.root_task.module.spec.title %}
   /* if there's no subhead, match icon size to font size */
    width: 50px;
    height: 50px;
  {% else %}
    width: 80px;
    height: 80px;
  {% endif %}
}

h1 {
  margin: 0;
  font-size: 32px;
}

div.subtitle {
  margin: .2em 0 .75em 0;
  font-weight: bold;
}

.breadcrumb {
  font-size: 1.0em;
}
</style>
{% endblock %}

{% block breadcrumbs %}
  <li>
    <a href="/" class="glyphicon-home-icon">
      <span class="glyphicon glyphicon-home"></span>
    </a>
  </li>
  <li class="hidden-xs">
    <a href="{{project.portfolio.get_absolute_url}}">
      {{project.portfolio.title}}
    </a>
  </li>
  {% for parent_project in project.get_parent_projects %}
    {% if not forloop.counter == 1 %} &gt; {% endif %}
    <li>
    <a href="{{parent_project.get_absolute_url}}" class="parent-project smidge-left">
      {{parent_project.title}}
    </a>
    </li>
  {% endfor %}
    <li>
    <a href="{{project.get_absolute_url}}">
      {{project.title}}
    </a>
    </li>
{% endblock %}

{% block body %}
{{block.super}}
<div class="row">
  {% if is_project_page %}
  <div class="col-md-push-10 col-md-2">
    <div id="action-buttons action-row">
      {% block action_buttons %}
      {% endblock %}
    </div>
  </div>
  {% endif %}

  <div class="{% if is_project_page %}col-md-pull-2{% endif %} col-md-9">
    <div id="focus-area-wrapper">
      {% block above_title %}
      {% endblock %}

    <div id="project-title-info" class="row">
      <div class="col-sm-10">
        {% if project.root_task.get_app_icon_url %}
          <img id="project-icon" src="{{project.root_task.get_app_icon_url}}" alt="Project Icon">
        {% endif %}

        {% if project.organization %}
        <h1 id="project-title">
          {{project.title}}
          {% block title_suffix_text %}
          {% endblock %}
        </h1>

        {% if title != project.root_task.module.spec.title %}
        <div class="">
        <br>
          {{project.root_task.module.spec.title}} (ver {{project.root_task.module.spec.version}}) -
          {{project.root_task.module.app.catalog_metadata.description.short|safe|truncatewords_html:18}}

        </div>
        {% endif %}
        {% endif %}
        <div class="clearfix"></div>
      </div>
      <div class="col-sm-2">
        <div id="btn-edit-title" class="center-text">
          {% if not project.is_account_project or project.is_deletable %}
            {% if project.is_deletable and is_admin %}
              <button class="btn btn-default btn-small" onclick="return rename_project();">Edit</button>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div><!-- /project-title-info -->

      {% if project.lifecycle_stage %}
      {% with nstages=project.lifecycle_stage.0.stages|length %}
      <div class="progress" style="cursor: default;">
        {% for stage in project.lifecycle_stage.0.stages %}
          <div class="progress-bar progress-bar-success" style="{% if stage.complete %}width: {{100|div:nstages|floatformat:0|add:-1}}%;{% else %}display: none;{% endif %}">
            {{stage.label}}
          </div>
        {% endfor %}
      </div>
      {% endwith %}
      {% endif %}

      <div class="project-body-block">
      {% block body_content %}
      {% endblock %}
      </div>
    </div> <!-- /focus-area-wrapper -->
  </div> <!-- /col -->
</div> <!-- /row -->

{% block scripts %}
    <script>
        function show_import_project_modal(id, callback) {
            var m = $('#import_project_modal');
            $("#import_loading_spinner").hide();
            m.modal();
        }

        function fillJSONContent(file) {
            filecontents = $('#{{import_project_form.file.auto_id}}').prop('files')[0];
            var reader = new FileReader();
            reader.readAsText(filecontents);
            reader.onload = function (e) {
                $('#{{import_project_form.json_content.auto_id}}').val(e.target.result);
            };
        }

        function show_spinner() {
            $("#import_loading_spinner").show();
        }
    </script>
{% endblock %}
{% include "controls/import_project_modal.html" %}

{% block modals %}
{% endblock %}

{% endblock %}
