{% extends "base.html" %}
{% load q %}

{% block title %}
Your Compliance Projects
{% endblock %}

{% block breadcrumbs %}
<li class="active">Your Compliance Projects</li>
{% endblock %}

{% block head %}
<style>
.btn .glyphicon { margin-right: 6px; }
.btn.btn-success .glyphicon { color: #FFF; }

.lifecycle {
  margin-bottom: 30px;
}

.lifecycle h2 {
  margin: 0 0 1em 0;
}

.lifecycle .stage {
  margin: 0 -10px;
  padding: 10px;
  background-color: rgb(247,247,247);
  border-radius: 5px;
  max-width: 530px; /* so individual cards don't stretch across whole page */
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 2px 3px rgba(0, 0, 0, .2);
}

.lifecycle .stage h3 {
  color: black;
  margin: 5px 0 0 0;
  text-align: center;
}

.lifecycle .stage .stage-subhead {
  text-align: center;
  margin-bottom: 15px;
}

.project {
  background-color: white;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 3px;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.project-image {
  width: 30px;
  float: right;
  margin: 4px 0 5px 8px;
}

.project-text {
}

.project-text h4 {
  margin: 0;
  font-weight: bold;
  font-size: inherit;
}

.project-text > * {
  margin: .5em 0 0 0;
  font-size: 13px;
}

h1.mini {
  font-size: 16px;
  font-family: Hind, sands-serif;
  line-height: 22px;
  color: rgba(51, 51, 51);
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.luna-box {
  border: 1px solid rgb(210, 210, 210);
  height: 160px;
  margin-top: 30px;
  font-size: .8em;
  border-radius: 4px;
  padding: 20px 20px 0px 0px;
}

.luna-box div.glyphicon {
  font-size:3em;
  color: rgb(160, 210, 160);
  margin:30px 0px 0px 40px;
}

</style>
{% endblock %}

<!-- Remove contextbar from top of page -->
{% block contextbar %}{% endblock %}

{% block body %}

<div class="project-top">

{% if lifecycles|length == 0 %}
<div class="container">
  <h2>Welcome to GovReady-Q</h2>

  <p>Assess, test, and authorize together</p>
</div>
{% endif %}


{% if lifecycles|length > 0 %}
<div class="project-main">
  <!-- <a id="new-system" href="/store?protocol=govready.com/apps/compliance/2018/information-technology-system" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Add system </a> -->
  <a id="new-project" href="/store" class="btn btn-success">Start a project</a>
  {% if can_invite_to_org %}
  <a href="#" onclick="show_invite_to_org(); return false;" class="btn btn-success"><i class="glyphicon glyphicon-send"></i> Invite colleague </a>
  {% endif %}
</div>

<h1 class="mini"><span class="glyphicon glyphicon-home smidge-right"></span> Projects</h1>
{% endif %}

</div>

{% if lifecycles|length > 0 %}
{{ lifecycles }}
{% for lifecycle in lifecycles %}
  <div class="clearfix"></div>
  <div class="lifecycle">
    <h2>{{lifecycle.label}}</h2>
    <div class="row">
      <!-- Display projects in RMF lifecycle -->
      {% for stage in lifecycle.stages %}
        <div class="{% for w in lifecycle.stage_col_width %}col-{{w}} {% endfor %}">
          <div class="stage">
            {% if stage.label %}
              <h3>{{stage.label}}</h3>
            {% endif %}
            {% if stage.subhead %}
              <div class="stage-subhead">{{stage.subhead}}</div>
            {% endif %}

            {% for project in stage.projects %}
              <div class="project" data-project-id="{{project.id}}">
                {% if project.root_task.get_app_icon_url %}
                  <a href="{{project.get_absolute_url}}" class="project-image">
                    <img src="{{project.root_task.get_app_icon_url}}" class="img-responsive">
                  </a>
                {% endif %}

                <div class="project-text">
                  <h4>
                    <a href="{{project.get_absolute_url}}">
                      {{project.title}}
                    </a>

                    {# how many open tasks for the user? #}
                    {% with project.open_tasks|length as count %}
                      {% if count > 0 %}
                        <span class="label label-primary">{{count}}</span>
                      {% endif %}
                    {% endwith %}
                  </h4>

                  {# what kind of project is this #}
                  {% if project.root_task.module.title != project.title %}
                    <p>
                      {{project.root_task.module.title}}
                    </p>
                  {% endif %}

                  {% with snippet=project.render_snippet %}
                    {% if snippet %}
                      <div>
                        {{project.render_snippet|safe}}
                      </div>
                    {% endif %}
                  {% endwith %}

                  <div>
                    <span
                      class="glyphicon glyphicon-info-sign"
                      style="color: #995; cursor: pointer;"
                      data-toggle="popover" title="{{project.root_task.module.spec.title}}" data-content="App version: {{project.root_task.module.spec.catalog.version|force_escape}}<br>Started: {{project.created|date}}<br> Updated: {{project.root_task.updated|date}}"
                    ></span>
                  </div>
                </div>

                <div class="clearfix"></div>
              </div> <!-- /project -->
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}
{% endif %}


{% endblock %}

{% block scripts %}
<script>
$(function() {
  // activate popovers
  $('.project-text *[data-toggle=popover]').popover({
    html: true
  });
})
</script>
{% endblock %}
