{% extends "site_base.html" %}

{% block head_title %}
Next Question: {{q.title}} - GovReady
{% endblock %}

{% block body %}

{% if task.editor == request.user %}
  {% with active_invitation_to_transfer_editorship as inv %}
    {% if inv %}
      <div class="panel panel-warning">
        <div class="panel-heading">Invitation sent</div>
        <div class="panel-body">
          On {{inv.created|date}} you invited {{inv.to_display}} to take over editing this module. They haven&rsquo;t yet accepted your invitation. You can keep working on it until they accept the invitation.
        </div>
      </div>
    {% endif %}
  {% endwith %}

  {% with source_invitation as inv %}
    {% if inv %}
      <div class="panel panel-warning">
        <div class="panel-heading">Invitation</div>
        <div class="panel-body">
          <p>On {{inv.created|date}} {{inv.from_user}} asked you to take over editing this module. {{inv.from_user}} wrote:</p>
          <blockquote>{{inv.text}}</blockquote>
          <p style="margin: 0">When you are finished, <a href="javascript:return_to_requestor({{inv.from_user.id}})">send it back to {{inv.from_user}}</a>.</p>
        </div>
      </div>
    {% endif %}
  {% endwith %}
{% else %}
  <div class="panel panel-danger">
    <div class="panel-heading">Someone else is editing this module</div>
    <div class="panel-body">
      This module is being edited by {{task.editor}}. You cannot make changes to it.
    </div>
  </div>
{% endif %}

<h1>{{module.title}}</h1>

<div class="row">
  <div class="col-md-6">
    <div id="question" style="margin: 2em 0">
        <form method="post">
            {% csrf_token %}

            <input type="hidden" name="question" value="{{q.id}}">
            <input type="hidden" name="method" value="set">

            {% if answer.value %}
              <button type="submit" class="btn btn-danger btn-sm" style="float: right"
                onclick="$('#question > form input[name=method]').val('clear')">Clear Answer</button>
            {% endif %}

            {{prompt|safe}}

            {% if q.type == "text" %}
              <div class="form-group">
                <input name="value" type="text" class="form-control" id="inputctrl" placeholder="{{q.placeholder}}" {% if answer.value %}value="{{answer.value}}"{% endif %}>
                <p class="help-block">{{q.help}}</p>
              </div>

            {% elif q.type == "email" %}
              <div class="form-group">
                <input name="value" type="email" class="form-control" id="inputctrl" placeholder="email address" {% if answer.value %}value="{{answer.value}}"{% endif %}>
                <p class="help-block">{{q.help}}</p>
              </div>

            {% elif q.type == "password" %}
              <div class="form-group">
                <input name="value" type="password" class="form-control" id="inputctrl" placeholder="password">
                <p class="help-block">{{q.help}}</p>
              </div>

            {% elif q.type == "longtext" %}
              <div class="form-group">
                <textarea name="value" class="form-control" id="inputctrl" rows="10">{% if answer.value %}{{answer.value}}{% endif %}</textarea>
                <p class="help-block">{{q.help}}</p>
              </div>

            {% elif q.type == "checkboxes" %}
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Item
                </label>
              </div>
              <p class="help-block">{{q.help}}</p>

            {% elif q.type == "choice" %}
              {% for choice in q.choices %}
              <div class="radio">
                <label>
                  <input name="value" value="{{choice.key}}" type="radio" {% if answer.value == choice.key %}checked{% endif %}> {{choice.text}}
                  <p class="help-block">{{choice.help}}</p>
                </label>
              </div>
              {% endfor %}

            {% elif q.type == "yesno" %}
              <div class="radio">
                <label>
                  <input name="value" value="no"  type="radio" {% if answer.value == "no" %}checked{% endif %}> No
                </label>
              </div>
              <div class="radio">
                <label>
                  <input name="value" value="yes" type="radio" {% if answer.value == "yes" %}checked{% endif %}> Yes
                </label>
              </div>
              <p class="help-block">{{q.help}}</p>

            {% elif q.type == "module" %}
              <div class="form-group">
                <label for="inputctrl">Select a module to answer this question:</label>
                <select name="value" class="form-control" id="inputctrl"
                  onchange="if ($(this).val() == '__invite') invite_user_to_start_module();">
                  <option value="">Select...</option>
                  {% for m in answer_tasks %}
                    <option value="{{m.id}}" {% if m == answer.answered_by_task %}selected{% endif %}>
                      {{m.title}}
                      ({% if answer_tasks_show_user %}Edited by {% if m.editor == request.user %}you{% else %}{{m.editor}}{% endif %}; {% endif %}{{m.get_status_display}})
                    </option>
                  {% endfor %}
                  <option value="__new">Start a new module on {{answer_module.title}}...</option>
                  <option value="__invite">Invite a colleague to answer {{answer_module.title}}...</option>
                </select>
                <p class="help-block">{{q.help}}</p>
              </div>

              <p class="help-block">{{q.help}}</p>

            {% else %}
                {{q.type}}

            {% endif %}

          <button type="submit" class="btn btn-success">
            {% if not request.GET.q %}Next{% else %}Submit{% endif %}
            &raquo;
          </button>
        </form>     
    </div>
  </div> <!-- /col -->

  <div class="col-md-6">
  
    <p>Need help? <a href="javascript:invite_to_transfer_editor()">Ask a colleague to finish this module</a>.</p>

  </div> <!-- /col -->
</div> <!-- /row -->



{% if DEBUG %}
<p>
  user: <b>{{user}}</b>
  |
  module: <b>{{module.id}}</b>
  |
  question: <b>{{q.id}}</b>
</p>
{% endif %}

{% endblock %}

{% block extra_body %}
<script>
$(function() {
    $('#inputctrl').focus();

    {% if q.type == "text" or q.type == "password" or q.type == "email" or q.type == "longtext" or q.type == "module" %}
    function validate_answer() {
        var val = $('#inputctrl').val();
        if (/^ *$/.exec(val))
            return "You must enter something."
        return undefined;
    }

    {% elif q.type == "choice" %}
    function validate_answer() {
        var val = $('#question input[type="radio"]:checked').val();
        if (!val)
            return "You must make a selection."
        return undefined;
    }

    {% else %}

    function validate_answer() { }
    
    {% endif %}

    var form = $("#question > form");
    form.on("submit", function() {
        // skip client-side validation if user is trying to clear the answer
        if ($('#question form input[name=method]').val() == "clear")
          return true;

        // client-side validation, block form if not valid
        var problem = validate_answer();
        if (problem) {
            alert(problem);
            return false;
        }

        // ok, submit
        return true;
    })
})

{% if q.type == "module" %}
function invite_user_to_start_module() {
  var info = {{send_invitation|safe}};
  show_invite_modal(
    'Ask a Colleague',
    'Invite a colleague to answer the module {{answer_module.title|escapejs}}.',
    info,
    'Can you give me a hand completing the module {{answer_module.title|escapejs}} for ' + info.project_title + '?',
    {
      project: info.project_id,
      into_new_task_module_id: "{{answer_module.id|escapejs}}"
    });

  return false;
}
{% endif %}

function invite_to_transfer_editor() {
  var info = {{send_invitation|safe}};
  show_invite_modal(
    'Ask a Colleague',
    'Invite a colleague to complete {{task.title|escapejs}}.',
    info,
    'Can you take over answering {{task.title|escapejs}} for ' + info.project_title + ' and let me know when it is done?',
    {
      project: info.project_id,
      into_task_editorship: {{task.id}}
    });
  return false;
}

function return_to_requestor(user) {
  var info = {{send_invitation|safe}};
  show_invite_modal(
    'Return This Module',
    'Let the person that requested this module from you know you are finished by inviting them to take back editor ownership of it.',
    info,
    'I finished answering {{task.title|escapejs}}.',
    {
      user_id: user,
      project: info.project_id,
      into_task_editorship: {{task.id}}
    });
  return false;
}
</script>
{% endblock %}