{% extends "base.html" %}
{% load static %}
{% load q %}
{% load question_tags %}

{% block title %}
Question editor
{% endblock %}

{% block head %}
<meta name="description" content="Edit compliance app questioonaire.">

<link href="{% static "vendor/emojione/emojione-sprite-24.min.css" %}" rel="stylesheet">
{% if q.spec.type == "longtext" %}
  <link href="{% static "vendor/quill/quill.snow.css" %}" rel="stylesheet">
{% endif %}

{{block.super}}

<style>

  h1 {
    margin: 4px 0 18px 0;
    font-size: 22px;
    font-weight: bold;
  }

  /*  .form-control {
    font-size: 14pt;
    height: 34pt;
  }*/

  .question {
    font-size: 10pt;
  }
    .question form.disabled label {
      color: #777;
      cursor: not-allowed;
    }

  .question-prompt blockquote {
    font-size: inherit;
  }

  .question-prompt {
    margin: 10px 10px 10px 0px;
    font-weight: 700;
  }

  /* since prompts will likely use Markdown ##'s to delimit sections,
      which we render as h3 because we demote all levels, re-adjust
      styles */
  .question-prompt h3 {
    font-size: 110%;
    font-weight: bold;
  }

  .question-row:hover { background-color: #efefef; }
  .question-cell { vertical-align: top; white-space: pre-wrap; }

  {% if q.spec.type == "module" %}
  .question .radio label {
    margin: .25em 0;
  }
  {% endif %}

  {% if q.spec.type == "interstitial" %}
    .question img {
      display: block; /* so that horizontal auto margin centers */
      margin: 30px auto;
    }
  {% endif %}

  {% if q.spec.type == "longtext" %}
  .question .ql-container {
    font-size: 10pt !important; /* override default quill style */
    /*font-family: trebuchet ms;*/
  }
  .question .ql-container p {
    margin-bottom: .75em;
  }
    .question .ql-container p:last-child {
      margin-bottom: 0;
    }
  {% endif %}

  label .onhover { display: none; }
  label:hover .onhover { display: inline; }


  #reference-text-wrapper *:first-child { margin-top: 0; }

  /* Legacy background and focus area styling for question pages */
  body { /*background-color: rgb(247,247,247);*/ }

  #focus-area-wrapper {
    border-radius: 3px;
    border: 3px solid rgb(204, 204, 204);
    padding: 2em 2em 3em 2em;
    background-color: white;
    /*background-color: rgba(253,253,253,1);*/
    /* on mobile, space between columns */
    margin-bottom: 30px;
    font-size: 10pt;
  }

  .datagrid-text {
    font-size: 0.8em;
  }

  .datagrid-text-select {
    font-size: 1.0em;
  }

  textarea {
    padding: 12px 12px 12px 12px;
  }

  input, textarea, select {
    margin-bottom: 8px;

  }

  label {
    margin-top: 8px;
  }

  /* styles for the table */
  table.question_grid  {width:100%;}
  .question_grid td { padding: 0 10px 0 0; }
  .question_grid tr { border-bottom:1px solid #eee; padding: 5px; }
  .question_grid th { font-size:.8em;}
  .question_grid th.edit_col { width:10%; }
  .question_grid th.order_col { width:5%; }
  .question_grid th.key_col { width: 25%; }
  .question_grid th.title_col { width:15%; }
  .question_grid th.type_col { width: 10%; }
  .question_grid th.prompt_col { width: 40%; }
  .question_grid td { padding: 6px 4px 8px 4px; }

  .leftbox { display:block; font-size:.9em; padding:.5em; border:1px solid #E5E5E5; background:#F8F8F8; margin-bottom:.5em; color:#808080; }
  .tot_q {  font-size:.8em; }

  .leftbox:hover { background:#DCDCDC; color:#505050; }

  .hidden-field { display: none; }

  .current-module { background:#DCDCDC; color:#505050; font-weight: bold;}

  .edit_col { min-width: 120px;}

  .modal-body, .modal-header, .modal-header-authoring{ padding: 5px 25px 0 5px; }


  .modal-header .form-group {margin-bottom:0;}
  .modal-body { padding-top:25px;}

  .edit_button { margin-top:1em; border-left:1px solid #DCDCDC; border-bottom:1px solid #DCDCDC; padding:.2em .6em;}
  .edit_button:hover { background-color:#DCDCDC;}


  h3.module-top-title { font-weight:normal; font-size:1.2em; padding:0; margin:0 0 .5em 0;}
  .header-modules-head { font-size:.8em; color:#505050;}

  .add_new_question { color:#505050; font-size: 0.75em; text-align: center; }

</style>
{% endblock %}

{% block contextbar %}
  {# kill breadcrumbs but add some space below site header #}
  <div id="contextbar">
    &nbsp;
  </div>
{% endblock %}

{% block body %}

  <div id="" style="margin-top: 20px !important;">
        <a href="/" class="glyphicon-home-icon">
          <span class="glyphicon glyphicon-home"></span>
        </a>
        / <a href="{% url 'store' %}">Template Library</a>
        / {{ module.app.catalog_metadata.title }}
        / {{ module.title }}
  </div>
  <p>&nbsp;</p>

{{block.super}}

<div class="row" style="width: 100%;  margin: auto; ">
  <div class="col-md-2">

    <h2 style="font-weight:bold; padding-top:0; margin:0;">
      {{ module.app.catalog_metadata.title }}&nbsp;&nbsp;<a onclick='console.log("{{module.app.catalog_metadata.description.short}}");show_edit_appversion_modal("{{ module.id }}", "{{ module.app.catalog_metadata.title }}", "{{ module.app.catalog_metadata.description.short }}", "{{ module.app.version_number }}"); return false;' style="cursor: pointer;"><span class="glyphicon glyphicon-pencil"></span></a>
      {% if app.icon %}<img src="{{ app.icon }}" class="img-responsive" style="height:60px;" alt="App Icon">{% endif %}
    </h2>
    <div style="font-size:0.8em;">{{ module.app.catalog_metadata.description.short }}</div>
    <div style="font-size:0.8em;">Version: {{ module.app.version_number }}</div>

    <br /><br />
    <!-- Display app.yaml project module -->
    {% with app=module.app %}
      {% for m in app_modules  %}
        {% if m.spec.type == 'project' %}
        <a href="/tasks/module/{{m.id}}/questions" style="text-decoration:none;"><div class="leftbox {% if module.id == m.id %}current-module{% endif %}">
          Main Project Template Module (app.yaml)<br /><span class="tot_q">{{ m.questions.all|length }} module{{ m.questions.all|pluralize }}</span>
          {% if m.spec.output and m.spec.output|length > 0 %}&nbsp;<span class="tot_q">{{ m.spec.output|length }} artifact{{ m.spec.output|pluralize }}</span>{% endif %}
            </div></a>
        {% endif %}
      {% endfor %}
    {% endwith %}

    <br />  <br /><span class="header-modules-head">Included modules</span>

    {% with app=module.app %}
      {% for m in app_modules  %}
        {% if m.spec.type != 'project' %}
        <a href="/tasks/module/{{m.id}}/questions" style="text-decoration:none;"><div class="leftbox {% if module.id == m.id %}current-module{% endif %}">
          {{ m.title }}<br /><span class="tot_q">{{ m.questions.all|length }} question{{ m.questions.all|pluralize }}</span>
          {% if m.spec.output and m.spec.output|length > 0 %}&nbsp;<span class="tot_q">{{ m.spec.output|length }} artifact{{ m.spec.output|pluralize }}</span>{% endif %}
            </div></a>
        {% endif %}
      {% endfor %}
    {% endwith %}
    <br />
  </div>
  <div class="col-md-10" style="padding-left:2em;">
    <div class="row" style="margin-bottom:1.5em;">
      <div class="col-md-10">
          {% if module.spec.type == 'project' %}
            <h3 class="module-top-title"><strong>"{{ module.title }}"</strong> main project template contains <strong>{{ module_questions|length }}</strong> module{{ module_questions|pluralize }}
              {% if module.spec.output and module.spec.output|length > 0 %} and <strong>{{module.spec.output|length }}</strong>  artifact{{module.spec.output|length|pluralize }}{% endif %}
            </h3>
          {% else %}
            <h3 class="module-top-title"><strong>"{{ module.title }}"</strong> module contains <strong>{{ module_questions|length }}</strong> question{{ module_questions|pluralize }}
              {% if module.spec.output and module.spec.output|length > 0 %} and <strong>{{module.spec.output|length }}</strong>  artifact{{module.spec.output|length|pluralize }}{% endif %}
            </h3>
          {% endif %}
      </div>
      <div class="col-md-2 hidden"><button type="button" class="btn btn-success pull-right" data-dismiss="modal">Add a new question</button></div>
    </div>

    {% if module.spec.type == 'project' %}
      <h3>Modules</h3>
    {% else %}
      <h3>Questions</h3>
    {% endif %}
    <table class="question_grid"><tr><th class="order_col">Order</th><th class="prompt_col">Prompt</th><th class="key_col">Key/Title</th><th class="type_col">Type</th><th class="edit_col">Edit</th></tr>
      {% for q in module_questions %}
        <tr class="question-row">
          <td class="question-cell">{{q.definition_order}}</td>
          <td title="{{q.spec.prompt}}" class="question-cell">{{q.spec.prompt|first_line_only|truncatechars:160}}</td>
          <td class="question-cell">Key: {{q.key}} <br>Title: {{q.spec.title}}</td>
          <td class="question-cell" width="20" style="width: 20px;">{{q.spec.type}}</td>
          <td style='vertical-align: top;'>
            <form autocomplete="off" action="" method="post" class="question-form" onsubmit="return false;">
              <input type="hidden" name="method" value="save">
              <input type="hidden" name="q_id" value="{{q.id}}">
              <input type="hidden" name="q_key" value="{{q.key}}">
              <textarea class="hidden-field" name="q_spec_obj">{{q.spec|json}}</textarea>
              <textarea class="hidden-field" name="m_spec_obj">{{module.spec|json}}</textarea>
              <textarea class="hidden-field" name="answer_type_modules">[{% for m in q.module.get_referenceable_modules %}
                { "id": "{{m.id}}", "title": "{{m.title|escapejs}} ({{m.module_name|escapejs}})" }{% if not forloop.last %},{% endif %}
                {% endfor %}]</textarea>
              <textarea class="hidden-field" name="autocomplete_questions">{ {% for q in q.module.get_questions %}
                "{{q.key|escapejs}}": "{{q.value_explanation|truncatechars:50|escapejs}}"{% if not forloop.last %}, {% endif %}{% endfor %}}</textarea>
              <textarea class="hidden-field" name="q_choices">{{q.choices_as_csv}}</textarea>
              <div class="form-group">
                <input class="submitform btn edit_button" name="submit" type="submit" id="submit" value="edit">
                <input class="submitform btn edit_button" type="submit" onclick="authoring_tool_new_question2({{q.id}}); return false;" value="insert &#8595;">
                </a>
              </div>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>

    <p>&nbsp;</p>
    <h3>Artifacts</h3>
      <table class="question_grid">
        {% if module.spec.output|length  > 0 %}
          <tr><th class="key_col">ID</th><th class="title_col">Title</th><th class="type_col">Format</th><th class="">Filename</th><th class="edit_col">Edit</th></tr>
        {% endif %}

      {% for artifact in module.spec.output %}
         <tr class="question-row">
          <td>{% if artifact.id %}{{artifact.id}}{% else %}<span class="text-danger">Artifact error. Please ask adimistrator "Fix missing artifact.id for module {{module.id}}."{% endif %}</span></td>
          <td>{{artifact.title}}</td>
          <td>{{artifact.format}}</td>
          <td title="{{artifact.template|truncatechars:600}}">{{artifact.filename}}</td>
          <td>
            {% if artifact.id %}
            <form action="{% url 'show_module_artifact' module.id artifact.id %}" method="post" class="artifact-form">
              {% csrf_token %}
              <div class="form-group">
                <input class="submitform btn edit_button" name="submit" type="submit" id="submit" value="edit">
                  <!-- <span class="glyphicon glyphicon-plus-sign task-glypicons" title="New Question"></span> -->
                </a>
              </div>
            </form>
            {% else %}
            <span class="text-danger">Artifact error.</span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    <form action="{% url 'add_module_artifact' module.id %}" method="post" class="artifact-form">
      {% csrf_token %}
      <input class="submitform btn edit_button" name="submit" type="submit" id="submit" value="add artifact">
    </form>
  </div>
</div>

<script>
  // function show_edit_appversion_modal() {
  //   var m = $('#appversion_authoring_tool');
  //   m.modal();
  // }

  function show_edit_appversion_modal(module_id, title, description, version) {
    document.getElementById("module_id").value = module_id;
    document.getElementById("appversion_title").value = title;
    document.getElementById("appversion_description").value = description;
    document.getElementById("appversion_version").value = version;
    $('#appversion_authoring_tool').modal();

    // $('#submit-btn').on('click', (e) =>{
    //   e.preventDefault();
    //   alert('is_submitting');
    //   var formElm = $(this);
    //   var appversion_id = formElm.find('input[name="appversion_id"]').val();
    //   var appversion_title = formElm.find('input[name="appversion_title"]').val();
    //   var appversion_version = formElm.find('input[name="appversion_version"]').val();

    //   ajax_with_indicator({
    //       url: "/tasks/_authoring_tool/edit-appversion",
    //       method: "POST",
    //       data: {
    //         id: appversion_id,
    //         title: appversion_title,
    //         version: appversion_version
    //       },
    //       keep_indicator_forever: true, // keep the ajax indicator up forever --- it'll go away when we issue the redirect or reload
    //       success: function(res) {
    //         location.reload();
    //       }
    //   });
    //   // callback(document.getElementById("appversion_title").value,document.getElementById("appversion_version").value);
    // });
  }
  function hide_edit_appversion_modal(){
    $('#appversion_authoring_tool').modal('hide');
  }
  function show_edit_appversion_modal_error(errorMessage){
    $("#error-alert").html(errorMessage);
    $('#error-alert').fadeIn();
  }


</script>

<script>
$('.question-form').on('submit', function(e) {
  e.preventDefault();
  var formElm = $(this);
  var q_id = formElm.find('input[name="q_id"]').val();
  var q_key = formElm.find('input[name="q_key"]').val();
  var q_choices = formElm.find('textarea[name="q_choices"]').val();
  var q_spec_obj = JSON.parse(formElm.find('textarea[name="q_spec_obj"]').val());
  var questions = {}
  // TODO better error handling for empty values, etc.
  questions[q_key] = { spec: q_spec_obj,
                      choices: q_choices,
                      answer_type_module_id: null
                    }
  var m_spec_obj = JSON.parse(formElm.find('textarea[name="m_spec_obj"]').val());
  answer_type_modules = JSON.parse(formElm.find('textarea[name="answer_type_modules"]').val());
  // autocomplete_questions = JSON.parse(formElm.find('input[name="autocomplete_questions"]').val());

  init_authoring_tool({
    module: m_spec_obj,
    questions: questions,
    answer_type_modules: answer_type_modules,
    autocomplete_questions: {}
  });

  show_question_authoring_tool(q_id, q_key);
  return false
});
</script>

{% if authoring_tool_enabled %}
  {% include "authoring-tool-modal.html" %}
  <script src="{% static 'vendor/js-yaml.min.js' %}"></script>
  <script src="{% static 'js/authoring_tool.js' %}"></script>
  <style>.dropdown-menu.textcomplete-dropdown { z-index: 99999 !important; }</style> {# show over modal #}
{% endif %}

{% endblock %}

{% block scripts %}
    {{ block.super }}

{% endblock %}
