{% extends "base.html" %}
{% load static %}
{% load q %}

{% block title %}
Question editor
{% endblock %}

{% block head %}
<meta name="description" content="Edit compliance app questioonaire.">

<link href="{% static "vendor/emojione/emojione-sprite-24.min.css" %}" rel="stylesheet">
{% if q.spec.type == "longtext" %}
  <link href="{% static "vendor/quill/quill.snow.css" %}" rel="stylesheet">
{% endif %}

{{block.super}}

<style>

  h1 {
    margin: 4px 0 18px 0;
    font-size: 22px;
    font-weight: bold;
  }

  /*  .form-control {
    font-size: 14pt;
    height: 34pt;
  }*/

  .question {
    font-size: 10pt;
  }
    .question form.disabled label {
      color: #777;
      cursor: not-allowed;
    }

  .question-prompt blockquote {
    font-size: inherit;
  }

  .question-prompt {
    margin: 10px 10px 10px 0px;
    font-weight: 700;
  }

  /* since prompts will likely use Markdown ##'s to delimit sections,
      which we render as h3 because we demote all levels, re-adjust
      styles */
  .question-prompt h3 {
    font-size: 110%;
    font-weight: bold;
  }

  .question-row:hover {}

  {% if q.spec.type == "module" %}
  .question .radio label {
    margin: .25em 0;
  }
  {% endif %}

  {% if q.spec.type == "interstitial" %}
    .question img {
      display: block; /* so that horizontal auto margin centers */
      margin: 30px auto;
    }
  {% endif %}

  {% if q.spec.type == "longtext" %}
  .question .ql-container {
    font-size: 10pt !important; /* override default quill style */
    /*font-family: trebuchet ms;*/
  }
  .question .ql-container p {
    margin-bottom: .75em;
  }
    .question .ql-container p:last-child {
      margin-bottom: 0;
    }
  {% endif %}

  label .onhover { display: none; }
  label:hover .onhover { display: inline; }


  #reference-text-wrapper *:first-child { margin-top: 0; }

  /* Legacy background and focus area styling for question pages */
  body { /*background-color: rgb(247,247,247);*/ }

  #focus-area-wrapper {
    border-radius: 3px;
    border: 3px solid rgb(204, 204, 204);
    padding: 2em 2em 3em 2em;
    background-color: white;
    /*background-color: rgba(253,253,253,1);*/
    /* on mobile, space between columns */
    margin-bottom: 30px;
    font-size: 10pt;
  }

  .datagrid-text {
    font-size: 0.8em;
  }

  .datagrid-text-select {
    font-size: 1.0em;
  }

  textarea {
    padding: 12px 12px 12px 12px;
  }

  input, textarea, select {
    margin-bottom: 8px;
  }

  label {
    margin-top: 8px;
  }

  /* styles for the table */
  .question_grid td { padding: 10px 10px 10px 0; }
  .question_grid tr { border-bottom:1px solid #ccc; padding: 5px; }
  .question_grid th { font-size:.8em;}
  .question_grid th.edit_col { width: 5%;}
  .question_grid th.order_col { width: 5%; }
  .question_grid th.key_col { width: 20%; }
  .question_grid th.title_col { width: 25%; }
  .question_grid th.type_col { width: 20%; }
  .question_grid th.prompt_col { width: 25%; }

  .leftbox { display:block; font-size:.9em; padding:.5em; border:1px solid #E5E5E5; background:#F8F8F8; margin-bottom:.5em; color:#808080; }
  .tot_q {  font-size:.8em; }

  .leftbox:hover { background:#DCDCDC; color:#505050; }

  .hidden-field { display: none; }

  .current-module { background:#DCDCDC; color:#505050; font-weight: bold;}

.the_edit_col { }

.modal-body, .modal-header, .modal-header-authoring{ padding: 35px 50px 25px 25px; }
.edit_button { margin-top:1em; border-left:1px solid #DCDCDC; border-bottom:1px solid #DCDCDC; padding:.2em .6em;}
.edit_button:hover { background-color:#DCDCDC;}
</style>
{% endblock %}

{% block body %}
{{block.super}}

<div class="row" style="width: 100%; margin: auto; margin-bottom: 12px;">
<div style="padding-left:15px;">
  <h2 style="font-weight:bold; padding-top:0; margin:0;">
    {{ module.app.catalog_metadata.title }}
    {% if app.icon %}<img src="{{ app.icon }}" class="img-responsive" style="height:60px;" alt="App Icon">{% endif %}
  </h2><span style="font-size:1em;">Version {{ module.app.version_number }}</span>
</div>
</div>
<br />
<div class="row" style="width: 100%;  margin: auto; ">
  <div class="col-md-2">
    {% with app=module.app %}
      {% for m in app.modules.all %}
        {% if not forloop.last %}
        <a href="/tasks/module/{{m.id}}/questions" style="text-decoration:none;"><div class="leftbox {% if module.id == m.id %}current-module{% endif %}">
          {{ m.title }}<br /><span class="tot_q">{{ m.questions.all|length }} question{{ m.questions.all|pluralize }}</span>
            </div></a>
        {% endif %}
      {% endfor %}
    {% endwith %}
  </div>
  <div class="col-md-10" style="padding-left:2em;">
    <p><strong>{{ module.title }}</strong> module contains <strong>{{ module_questions|length }} questions</strong>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; <a href="#">Add a Question</a><br />
    </p>
    <table class="question_grid"><tr><th class="edit_col"></th><th class="order_col">Order</th><th class="key_col">Key</th><th class="title_col">Title</th><th class="type_col">Type</th><th class="prompt_col">Prompt</th></tr>
      {% for q in module_questions %}
        <tr class="question-row">
          <td class="the_edit_col">
            <form autocomplete="off" action="" method="post" class="question-form" onsubmit="return false;">
              <input type="hidden" name="method" value="save">
              <input type="hidden" name="q_id" value="{{q.id}}">
              <input type="hidden" name="q_key" value="{{q.key}}">
              <textarea class="hidden-field" name="q_spec_obj">{{q.spec|json}}</textarea>
              <textarea class="hidden-field" name="m_spec_obj">{{module.spec|json}}</textarea>
              <textarea class="hidden-field" name="answer_type_modules">"[{% for m in q.module.get_referenceable_modules %}
                { id: "{{m.id}}", title: "{{m.title|escapejs}} ({{m.module_name}})" }{% if not forloop.last %},{% endif %}
                {% endfor %}]"</textarea>
              <textarea class="hidden-field" name="autocomplete_questions">{ {% for q in q.module.get_questions %}
                "{{q.key|escapejs}}": "{{q.value_explanation|truncatechars:50|escapejs}}"{% if not forloop.last %}, {% endif %}{% endfor %}}</textarea>
              <textarea class="hidden-field" name="q_choices">{{q.choices_as_csv}}</textarea>
              <div class="form-group col-sm-12">
                <input class="submitform btn edit_button" name="submit" type="submit" id="submit" value="edit">
              </div>
              <!--<a id="show_question_authoring_tool" href="#" onclick=" console.log('1'); return false;">
                <span class="glyphicon glyphicon-pencil task-glypicons" title="Edit"></span>
              </a>-->
            </form>
          </td>
          <td>{{q.definition_order}}</td>
          <td>{{q.key}}</td>
          <td>{{q.spec.title}}</td>
          <td>{{q.spec.type}}</td>
          <td title="{{q.spec.prompt}}">{{q.spec.prompt|truncatechars:50}}</td>

        </tr>
      {% endfor %}
    </table>
  </div>
</div>

<script>
$('.question-form').on('submit', function(e) {
  e.preventDefault();
  var formElm = $(this)
  var q_id = formElm.find('input[name="q_id"]').val();
  var q_key = formElm.find('input[name="q_key"]').val();
  var q_choices = formElm.find('textarea[name="q_choices"]').val();
  var q_spec_obj = JSON.parse(formElm.find('textarea[name="q_spec_obj"]').val());
  var questions = {}
  // TODO better error handling for empty values, etc.
  questions[q_key] = { spec: q_spec_obj,
                      choices: q_choices,
                      answer_type_module_id: null
                    }
  console.log('questions:');
  console.log(questions);
  var m_spec_obj = JSON.parse(formElm.find('textarea[name="m_spec_obj"]').val());

  // module and module-set questions that we wont support moving forward
  // answer_type_modules = JSON.parse(formElm.find('input[name="answer_type_modules"]').val());
  // autocomplete_questions = JSON.parse(formElm.find('input[name="autocomplete_questions"]').val());

  // TODO remove task: key as not needed
  init_authoring_tool({
    module: m_spec_obj,
    questions: questions,
    answer_type_modules: [],
    autocomplete_questions: {}
  });

  show_question_authoring_tool(q_id, q_key);
  return false
});
</script>

{% if authoring_tool_enabled %}
  {% include "authoring-tool-modal.html" %}
  <script src="{% static 'vendor/js-yaml.min.js' %}"></script>
  <script src="{% static 'js/authoring_tool.js' %}"></script>
  <style>.dropdown-menu.textcomplete-dropdown { z-index: 99999 !important; }</style> {# show over modal #}
{% endif %}

{% endblock %}

{% block scripts %}
    {{ block.super }}

{% endblock %}
