<h1>Welcome to GovReady-Q</h1>
<p>A better way to assess and support compliance</p>
<ul>
  <li><a href="https://govready-q.readthedocs.io/en/latest/introduction.html#why-govready-q">Why GovReady-Q?</a></li>
  <li><a href="https://github.com/govready/govready-q">GovReady-Q on GitHub</a></li>
  <li><a href="https://govready-q.readthedocs.org">Technical documentation</a></li>
</ul>
<p>By signing up for and by signing in to this service you accept our:</p>
<ul>
  <li><a href="/privacy">Privacy Policy</a></li>
  <li><a href="/terms-of-service">Terms of Service</a></li>
</ul>
