<style>
h4.summary-sidebar { border-bottom:1px solid #B3B3B3; color:#404040; font-weight: bold; font-size:.8em; margin-top:3em; padding-bottom:5px;}
.summary-sidebar-overview { background-color:#F8F8F8; border:1px solid #8C8C8C; padding:15px; border-radius: 5px; font-size: .8em;}
.summary-sidebar-overview-details { font-weight:bold;}
h4.no-line { border-bottom:0px; }


.summary-sidebar-progress { font-size: .8em; color:#333333; padding:10px 15px; }
.summary-sidebar-prog-box { width:100%; background-color: #E6E6E6; height:15px; display:block; margin-bottom:1em; margin-top:5px;}
.summary-sidebar-prog-box-progress {background-color:#BFBFBF;height:15px;}

.summary-sidebar-vulnerabilities { padding:15px; }
.summary-sidebar-vuln-box { border:1px solid #ccc; background:#F2F2F2; text-align:center; padding:12px 5px 8px 5px;}
h4.summary-sidebar-vuln-box-num {font-weight:bold; font-size:1em; color:#1A1A1A; margin:0; padding:0; line-height:.8em;}
.summary-sidebar-vuln-box-cat { font-size:.7em; display:block; margin:0; padding:0;}

.summary-sidebar-artifacts { padding:15px;}
</style>

<h4 class="summary-sidebar no-line">Overview</h4>
<div class="summary-sidebar-overview">
<ul>
  <li>System ID: <span class="summary-sidebar-overview-details">23742348237235</span></li>
  <li>Operational Status: <span class="summary-sidebar-overview-details">Operational</span></li>
  <li>System Type: <span class="summary-sidebar-overview-details">General Support System</span></li>
  <li>System Created: <span class="summary-sidebar-overview-details">724 days</span></li>
  <li>Hosting Facility: <span class="summary-sidebar-overview-details">DISC</span></li>
</ul>
</div>

<h4 class="summary-sidebar">Progress Report</h4>
<div class="summary-sidebar-progress">
85% compliance (unaccessed)
<div class="summary-sidebar-prog-box"><div class="summary-sidebar-prog-box-progress" style="width:85%;">&nbsp;</div></div>
100 of 200 controls addressed
<div class="summary-sidebar-prog-box"><div class="summary-sidebar-prog-box-progress" style="width:50%;">&nbsp;</div></div>
</div>

<h4 class="summary-sidebar">Vulnerabilities</h4>
<div class="row summary-sidebar-vulnerabilities">
  <div class="col-md-4"><div class="summary-sidebar-vuln-box"><h4 class="summary-sidebar-vuln-box-num">12</h4><span class="summary-sidebar-vuln-box-cat">new</span></div></div>
  <div class="col-md-4"><div class="summary-sidebar-vuln-box"><h4 class="summary-sidebar-vuln-box-num">6</h4><span class="summary-sidebar-vuln-box-cat">resolved</span></div></div>
  <div class="col-md-4"><div class="summary-sidebar-vuln-box"><h4 class="summary-sidebar-vuln-box-num">4</h4><span class="summary-sidebar-vuln-box-cat">ongoing</span></div></div>
</div>

<h4 class="summary-sidebar ">Artifacts</h4>
<div class="summary-sidebar-artifacts">
<ul>
<li><span class="glyphicon glyphicon-list" style="font-size:.8em; padding-right:5px; color:#808080;"></span>Assessments (1)
<li><span class="glyphicon glyphicon-list" style="font-size:.8em; padding-right:5px; color:#808080;"></span>PTAs (3)
<li><span class="glyphicon glyphicon-list" style="font-size:.8em; padding-right:5px; color:#808080;"></span>SSPs (1)
</ul>
</div>
