{% if DEBUG %}
<div id="question-debug-links" class="task-question-debug-links">
<p class="">
  module:
    {% if user.is_staff %}<a href="{{ADMIN_ROOT_URL}}/guidedmodules/module/{{m.id}}">{% endif %}
    <span id="debug-module-key">{{m.source.slug}}/{{m.app.appname}}/{{m.module_name}}</span>{% if user.is_staff %}</a>{% endif %}
  {% if q %}
  <br />
  question id:
    {% if user.is_staff %}<a href="{{ADMIN_ROOT_URL}}/guidedmodules/modulequestion/{{q.id}}">{% endif %}
    <span id="debug-question-key">{{q.key}}</span>{% if user.is_staff %}</a>{% endif %}
  {% endif %}
  <br />
  task id:
    {% if user.is_staff %}<a href="{{ADMIN_ROOT_URL}}/guidedmodules/task/{{task.id}}">{% endif %}
    {{task.id}}
    {% if user.is_staff %}</a>{% endif %}
  {% if answer_obj %}
  <br />
  answer:
    {% if user.is_staff %}<a href="{{ADMIN_ROOT_URL}}/guidedmodules/taskanswerhistory/{{answer_obj.id}}">{% endif %}
    {{q.key}} ({{answer_obj.id}}){% if user.is_staff %}</a>{% endif %}
  {% endif %}
</p>
</div>
{% endif %}
