{% load q %}
<style>
{% include "focus-area-styles.css" %}
#question-history-context {
  margin-top: 1em;
  font-size: 0.85em;
}
  #question-history-context ul {
    list-style-type: none;
    padding: 0;
    color: #888;
    line-height: 128%;
  }
  #question-history-context ul li {
    margin-bottom: .25em;
  }
  #question-history-context ul li a {
    color: inherit;
  }
  #question-history-context ul li.this {
    color: #333;
  }
  #question-history-context ul li.other {
  }
.glyphicon.glyphicon-check {
  color: rgb(30,143,55);
}

#page-transition-paragraph p {
  margin-bottom: 1em;
  font-style: italic;
}

.help-block {
  font-size: .85em;
}
</style>

<div id="auth-status">
{% if task.editor == request.user %}

    {% for inv in open_invitations %}
      <div data-invitation-id="{{inv.id}}" class="panel panel-warning" style="margin-top: 30px">
        <div class="panel-body">
          You invited {{inv.to_display}} {{inv.purpose}} on {{inv.created|date}}.
          (<a href="#" onclick="return cancel_invitation(this);">cancel</a>)
        </div>
      </div>
    {% endfor %}

{% elif is_discussion_guest %}

<div class="text-danger small" style="margin-top: 30px">
    You are participating in the discussion on this question as a guest.
</div>

{% else %}
<div class="text-danger small" style="margin-top: 30px">
    <i class="glyphicon glyphicon-alert" style="margin-top: 4px; margin-right: 2px"></i>
    {{task.editor}} is editing this module.
    {% if write_priv %}
      But you are a project admin so you can edit it.
    {% else %}
      You cannot make changes to it.
    {% endif %}
</div>
{% endif %}
</div>

<script>
function invite_to_transfer_editor() {
  var info = {{send_invitation|json}};
  show_invite_modal(
    'Ask a Colleague',
    'Invite a colleague to complete {{task.title|escapejs}}.',
    info,
    '{{task.render_invitation_message|escapejs}}',
    {
      project: info.project_id,
      into_task_editorship: {{task.id}}
    });
  return false;
}
</script>