{% for q in context %}
{% if not q.imputed %}
  <li id="link-to-question-{{q.key}}"
      >
    {% if not q.is_this_question %}<a href="{{q.link}}?previous={{previous|urlencode}}"

    >{% endif %}

    <span class="truncate {% if q.is_this_question %}this{% else %}other{% endif %}"
          style="margin:0px;
             /*border-top:0.5px dotted #ddd;*/
             font-family: Arial Narrow;
             font-size: 1.0em; padding: 2px 0px 0px 3px; text-overflow: ellipsis;
             color: {% if q.is_this_question %}rgb(120, 135, 120);
                    {% elif q.skipped %}rgb(221, 200, 199);
                    {% elif q.answered or q.imputed %}rgb(198, 223, 181);
                    {% endif %};
                 "
    >
      {% if q.is_this_question %}<span class="glyphicon glyphicon-play-circle"> </span>
      {% elif q.skipped %}<span class="glyphicon glyphicon-pushpin"> </span>
      {% elif q.answered or q.imputed %}<span class="glyphicon glyphicon-check"> </span>
      {% else %}<span class="glyphicon glyphicon-unchecked"> </span>{% endif %}
    </span>
    <span style="font-weight: {% if q.is_this_question %}bold;{% endif %};">{{q.title}}</span>
    </a>

    {% if not q.is_this_question %}{% endif %}
    {% if q.imputed %}<span class="glyphicon glyphicon-retweet pull-right"> </span>{% endif %}
  </li>
{% endif %}
{% endfor %}
