<div class="truncate task-progress-project-truncate">
    PROJECT:&nbsp; <a href="{{task.project.get_absolute_url}}" class="task-progress-project-url">
      {{task.project.title}}
    </a>
    {% if current_group %}
    <br>
    SECTION:&nbsp; <a href="{{task.project.get_absolute_url}}#{{current_group}}" class="task-progress-project-url">{{current_group}}
    </a>
    {% endif %}
</div>

<div>
{% for pt in task_progress_project_list %}
  {% if pt.group == current_group %}
    <div class="truncate task-progress-project-group">
      {% if pt.task_id == task.id %}
        <span class="glyphicon glyphicon-play-circle"> </span> <b>{{task.title}}</b>
        {% if context|length > 0 %}
        <div id="question-history-context">
          <ul>
          {% if context %}
            <!-- <p>Progress:</p> -->
            {% include "task-progress-question-list.html" with previous="question" %}
            <div class="task-progress-project-question">
            <li>&nbsp;</li>
            </div>
            <li>
              <a href="{{task.get_absolute_url}}/finished">...and we&rsquo;re done</a>
            </li>
          {% endif %}
          </ul>
        </div> <!-- /question-history-context -->
        {% endif %}
      {% else %}
        {% if pt.link == "/TODO" %}
          {% if pt.type == "module" or pt.type == "module-set" %}
            {# Start a task directly using the module type in the specification. #}
            <form class="" method="post" action="/tasks/start"
              onclick="$(this).submit();" style="cursor: pointer;display: inline;text-align: left;">
              {% csrf_token %}
              <input type="hidden" name="project" value="{{task.project.id}}"/>
              <input type="hidden" name="question" value="{{pt.id}}"/>
              <input type="hidden" name="previous" value="project"/>
          {% else %}
            {# Go to the Apps Catalog to select an app that implements the protocol specified on the question. #}
            <form method="get" action="/store"
              onclick="$(this).submit();" style="cursor: pointer; display: inline">
              <input type="hidden" name="q" value="{{task.project.root_task.id}}/{{q.question.key}}">
          {% endif %}
              <div class="btn btn-sm btn-link truncate task-progress-project-title">
                <span class="glyphicon glyphicon-unchecked"> </span> <!-- Start --> {{pt.title}}
              </div>
            </form>
        {% else %}
          <form class="truncate">&nbsp;&nbsp;
            {% if pt.task_started and pt.task_answered %}
              <span class="glyphicon glyphicon-check"> </span><a href="{{pt.link}}" class="task-progress-project-truncate-link"> {{pt.title}}</a>
            {% elif pt.task_started %}
              <span class="glyphicon glyphicon-edit"> </span> <a href="{{pt.link}}" class="task-progress-project-truncate-link"> {{pt.title}}</a>
            {% else %}
              <span class="glyphicon glyphicon-unchecked"> </span> <a href="{{pt.link}}" class="task-progress-project-truncate-link"> {{pt.title}}</a>
            {% endif %}
          </form>
          {% endif %}
      {% endif %}
    </div>
  {% endif %}
{% endfor %}
