<style>
#project-name {
  margin: 2em 0 5px 0;
  color: #666;
}
  #project-name a {
    color: #666;
  }
h1 { margin: 0; }
h1 a:hover { text-decoration: none; }
h1 a:hover span { text-decoration: underline; }
h1 a:hover span.glyphicon { text-decoration: none; }
#progress-context {
  margin-top: 10px;
}
#progress-context > div > div {
  border-top: 2px solid #C5C5C2;
  padding-top: 2px;
  margin-right: 15px;
  color: #C5C5C2;
  font-size: 13px;
  text-transform: uppercase;
}
#progress-context > div.active > div {
  border-top: 2px solid #2556a1;
  color: #1e5281;
}

h2 {font-weight: normal;
    /*color: rgb(200,200,200);*/
    font-size: 24px;
}

h4 {font-weight: bold;}

#question-history-context {
  margin-top: 1em;
  font-size: 0.85em;
}
  #question-history-context ul {
    list-style-type: none;
    padding: 0;
    color: #888;
  }
  #question-history-context ul li a {
    color: inherit;
  }
  #question-history-context ul li.this {
    color: #333;
  }
  #question-history-context ul li.other {
  }
.glyphicon.glyphicon-check {
  color: rgb(30,143,55);
}
</style>

<div id="auth-status">
{% if task.editor == request.user %}

    {% for inv in open_invitations %}
      <div data-invitation-id="{{inv.id}}" class="panel panel-warning" style="margin-top: 30px">
        <div class="panel-body">
          You invited {{inv.to_display}} {{inv.purpose}} on {{inv.created|date}}.
          (<a href="#" onclick="return cancel_invitation(this);">cancel</a>)
        </div>
      </div>
    {% endfor %}

{% elif is_discussion_guest %}

<div class="text-danger small" style="margin-top: 30px">
    You are participating in the discussion on this question as a guest.
</div>

{% else %}
<div class="text-danger small" style="margin-top: 30px">
    <i class="glyphicon glyphicon-alert" style="margin-top: 4px; margin-right: 2px"></i>
    {{task.editor}} is editing this module.
    {% if write_priv %}
      But you are a project admin so you can edit it.
    {% else %}
      You cannot make changes to it.
    {% endif %}
</div>
{% endif %}
</div>

<script>
function invite_to_transfer_editor() {
  var info = {{send_invitation|safe}};
  show_invite_modal(
    'Ask a Colleague',
    'Invite a colleague to complete {{task.title|escapejs}}.',
    info,
    'Can you take over answering {{task.title|escapejs}} for ' + info.project_title + ' and let me know when it is done?',
    {
      project: info.project_id,
      into_task_editorship: {{task.id}}
    });
  return false;
}
</script>