{% extends "base.html" %}

{% load q %}

{% block head %}
<style>
  {% include "focus-area-styles.css" %}

  #author-tools a {
    color: #666;
  }

  #question-debug-links {
    max-width: 450px;
  }

  #question-history-context, #question-debug-links {
    font-size: 0.85em;
    background-color: rgba(255,255,255,0.2);
    padding: 8px;
    /*max-width: 40vw;*/
    border-radius: 6px;
    border-bottom: 1px solid rgb(204, 204, 204);
    max-height: 550px;
    overflow-y:scroll;
  }

  #question-history-context ul {
    list-style-type: none;
    padding: 0;
    color: #666;
    line-height: 128%;
  }

  #question-history-context ul li {
    margin-bottom: .25em;
  }

  #question-history-context ul li a {
    color: inherit;
  }

  #question-history-context ul li.this {
    color: #333;
  }

  #question-history-context ul li.other {
  }

  .glyphicon.glyphicon-check {
    color: #96B;
  }

  #page-transition-paragraph p {
    margin-bottom: 1em;
    font-style: italic;
  }

  .help-block {
    font-size: .85em;
  }

  .breadcrumb {
    font-size: 1.0em;
  }
</style>
{% endblock %}

  {% block navbar %}
  {% endblock %}

  {% block breadcrumbs %}
    {% if not task.project.is_account_project %}
    <li>
      <a href="/">
        <span class="glyphicon glyphicon-home smidge-right"></span>
      </a>
    </li>
    <li class="hidden-xs">
      <a href="{{task.project.portfolio.get_absolute_url}}">
        {{task.project.portfolio.title}}
      </a>
    </li>
    {% for parent_project in task.project.get_parent_projects %}
      <li class="hidden-xs">
        <a href="{{parent_project.get_absolute_url}}">
          {{parent_project.title}}
        </a>
      </li>
    {% endfor %}

    <li class="hidden-xs">
      <a href="{{task.project.get_absolute_url}}">
        {{task.project.title}}
      </a>
    </li>

    {% if is_question_page and current_group %}
         <li class="hidden-xs">
      <a href="{{task.project.get_absolute_url}}#{{current_group}}">
        {{current_group}}
      </a>
    </li>
    {% endif %}

    {% endif %}
    <li class="active">
      {{task.title}}
    </li>

    {% if is_admin %}
    <div class="pull-right hidden-xs">
      <a href="#" onclick="return delete_task();"><span class="glyphicon glyphicon-trash" title="Delete answers" style="color: #BBB;"></span></a>
    </div>
    {% endif %}

    {% if authoring_tool_enabled %}
    <div id="author-tools" class="pull-right task-authortools">
      <a id="show_question_authoring_tool" href="#" onclick="show_question_authoring_tool('{{q.key|escapejs}}'); return false;">
        <span class="glyphicon glyphicon-pencil task-glypicons" title="Edit"></span>
        <!-- Edit -->
      </a>
      &nbsp;&nbsp;
      <a id="add_new_question" href="#" target="_blank" onclick="authoring_tool_new_question({{task.id}}, false); return false;">
        <span class="glyphicon glyphicon-plus-sign task-glypicons" title="New Question"></span>
        <!-- New -->
      </a>
      &nbsp;&nbsp;
      <a id="download_questionnaire" href="#" target="_blank" onclick="authoring_tool_download_app('{{q.key|escapejs}}'); return false;">
        <span class="glyphicon glyphicon-eye-open task-glypicons" title="View Source"></span>
        <!-- Source -->
      </a>
    </div>
    {% endif %}

  {% endblock %}

{% block body %}
<div id="auth-status">
{% if task.editor == request.user %}

    {% for inv in open_invitations %}
      <div data-invitation-id="{{inv.id}}" class="panel panel-warning task-invitation">
        <div class="panel-body">
          You invited {{inv.to_display}} {{inv.purpose}} on {{inv.created|date}}.
          (<a href="#" onclick="return cancel_invitation(this);">cancel</a>)
          <br />You may <a href="{{task.project.get_absolute_url}}">close</a> this task.
        </div>
      </div>
    {% endfor %}

{% elif is_discussion_guest %}

<div class="text-danger small task-invitation">
    You are participating in the discussion on this question as a guest.
</div>

{% endif %}
</div>

<script>
function invite_to_transfer_editor() {
  var info = {{send_invitation|json}};
  show_invite_modal(
    'Ask a Colleague',
    'Invite a colleague to complete {{task.title|escapejs}}.',
    info,
    '{{task.render_invitation_message|escapejs}}',
    {
      project: info.project_id,
      into_task_editorship: {{task.id}}
    });
  return false;
}

function delete_task() {
  show_modal_confirm(
    "Delete Task",
    "Are you sure you want to delete {{task.title|escapejs}}?",
    "Delete", function() {
      ajax_with_indicator({
          url: "{% url 'delete_task' %}",
          method: "POST",
          data: {
            id: {{task.id}}
          },
          keep_indicator_forever: true, // keep the ajax indicator up forever --- it'll go away when we issue the redirect
          success: function(res) {
            window.location = "{{task.project.get_absolute_url|escapejs}}";
          }
      });
    });
  return false; // cancel link
}
</script>
{% endblock %}
