{% extends "base.html" %}

{% load q %}

{% block head %}
<style>
{% include "focus-area-styles.css" %}
#question-history-context {
  margin-top: 1em;
  font-size: 0.85em;
}
  #question-history-context ul {
    list-style-type: none;
    padding: 0;
    color: #888;
    line-height: 128%;
  }
  #question-history-context ul li {
    margin-bottom: .25em;
  }
  #question-history-context ul li a {
    color: inherit;
  }
  #question-history-context ul li.this {
    color: #333;
  }
  #question-history-context ul li.other {
  }
.glyphicon.glyphicon-check {
  color: #96B;
}

#page-transition-paragraph p {
  margin-bottom: 1em;
  font-style: italic;
}

.help-block {
  font-size: .85em;
}
</style>
{% endblock %}


{% block breadcrumbs %}
  {% if not task.project.is_account_project %}
  <li>
    <a href="/">
      <span class="glyphicon glyphicon-home" style="margin-right: .25em"></span>
    </a>
  </li>
  {% for parent_project in task.project.get_parent_projects %}
    <li>
      <a href="{{parent_project.get_absolute_url}}">
        {{parent_project.title}}
      </a>
    </li>
  {% endfor %}
  <li>
    <a href="{{task.project.get_absolute_url}}">
      {{task.project.title}}
    </a>
  </li>
  {% endif %}
      <!-- <span class="glyphicon glyphicon-th-list" style="margin-right: .25em"></span> -->
  <li class="active">
    {{task.title}}
  </li>
{% endblock %}

{% block body %}
<div id="auth-status">
{% if task.editor == request.user %}

    {% for inv in open_invitations %}
      <div data-invitation-id="{{inv.id}}" class="panel panel-warning" style="margin-top: 30px">
        <div class="panel-body">
          You invited {{inv.to_display}} {{inv.purpose}} on {{inv.created|date}}.
          (<a href="#" onclick="return cancel_invitation(this);">cancel</a>)
          <br />You may <a href="{{task.project.get_absolute_url}}">close</a> this task.
        </div>
      </div>
    {% endfor %}

{% elif is_discussion_guest %}

<div class="text-danger small" style="margin-top: 30px">
    You are participating in the discussion on this question as a guest.
</div>

{% endif %}
</div>

<script>
function invite_to_transfer_editor() {
  var info = {{send_invitation|json}};
  show_invite_modal(
    'Ask a Colleague',
    'Invite a colleague to complete {{task.title|escapejs}}.',
    info,
    '{{task.render_invitation_message|escapejs}}',
    {
      project: info.project_id,
      into_task_editorship: {{task.id}}
    });
  return false;
}
</script>
{% endblock %}