<div style="margin: 12px 0 12px 6px; text-align: center;">
    <a href="{{task.project.get_absolute_url}}" style="color:black;">
      <div style="color: #787878;">
        <span class="glyphicon glyphicon-list-alt" style=""></span>&nbsp;<!-- {{task.project.title}} -->
        PTA (Privacy Threshold Analysis)
      </div>
    </a>
</div>

{% for pt in task_progress_project_list %}
  {% if pt.group == "PTA (Privacy Threshold Analysis)" %}
    <div class="truncate" style="margin: 0 0 6px 0; padding: 2px; font-size: .8em;">
      {% if pt.title == task.title %}
      <span class="glyphicon glyphicon-play-circle"> </span> <b>{{pt.title}}</b>
        <!-- <div class="truncate" 
             style="font-weight: bold;
                    border: 1px solid #ddd;
                    padding: 12px 4px 12px 4px;
                    background-color: rgb(247, 247, 247);
                    margin-bottom: 4px;
                    text-align: center;
                   "> -->
          <!-- <span class="glyphicon glyphicon-play-circle"> </span> --> <!-- &raquo; {{task.title}} &laquo; -->
        <!-- </div> -->
        <div id="question-history-context">
          <ul>
          {% if context %}
            <!-- <p>Progress:</p> -->
            {% include "task-progress-question-list.html" with previous="question" %}
            <div style="font-size: 10px; line-height: 120%; padding-left: 2em; color: #222;">
            <li>&nbsp;</li>
            <!-- <li>&middot;</li>
            <li>&middot;</li>
            <li>&middot;</li> -->
            </div>
            <li>
              ...and we&rsquo;re done
            </li>
          {% endif %}
          </ul>
      </div> <!-- /question-history-context -->
      {% else %}
      <div class="truncate" style="color: #787878;">
        <span class="glyphicon glyphicon-unchecked"> </span> <a href="{{pt.link}}">{{pt.title}}</a>
      </div>
      {% endif %}
    </div>
  {% endif %}
{% endfor %}


{% for q in context %}
{% if not q.imputed %}
<!--   <div id="link-to-question-{{q.key}}" 
      class="truncate
             {% if q.is_this_question %}this{% else %}other{% endif %}
             "
      style="margin: 0px 0px 0px 0px;
             {% if not q.is_this_question %}height: 30px;{% endif %}
             {% if q.is_this_question %}max-height: 400px;{% endif %}

             font-size: .8em; padding: 2px 0px 0px 3px; text-overflow: ellipsis;
             {% if q.is_this_question %}
             border: 1px solid #999;
             {% elif q.skipped %}
             {% elif q.answered %}
             {% endif %}
            ">
    {% if not q.is_this_question %}<a href="{{q.link}}?previous={{previous|urlencode}}"></a>{% endif %}

    {% if q.is_this_question  %}<span class="glyphicon glyphicon-play-circle"> </span>
    {% elif q.skipped %}<span class="glyphicon glyphicon-edit"> </span>
    {% elif q.answered %}<span class="glyphicon glyphicon-check"> </span>
    {% else %}<span class="glyphicon glyphicon-unchecked"> </span>{% endif %}

    {{q.title}}

    {% if not q.is_this_question and q.can_link %}</a>{% endif %}
  </div> -->
{% endif %}
{% endfor %}
