<div id="select_portfolio_modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="invitation_modal_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="invitation_modal_title">Select a Portfolio</h4>
      </div>
      <form action="{% url 'store' %}" role="form" method="get">
        <div class="modal-body">
          <label for="id_portfolio">{{ project_form.portfolio.label }}</label>:&nbsp;
          {{ project_form.portfolio }}
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
           <button id="select_portfolio_submit" class="btn btn-success btn-submit" type="submit">Start Project</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% block scripts %}
<script>
  function show_select_portfolio_modal(callback) {
    var m = $('#select_portfolio_modal');
    m.modal();
  }
</script>
{% endblock %}