{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block title %}
    {{ portfolio.title }} Components Selected
{% endblock %}

{% block head %}
    {% include "controls/_style-controls.html" %}
    <style>
.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 100%;
    float: left;
    padding: 20px;
    border: 2px solid slategray;
}

    </style>

{% endblock %}

{% block contextbar %}{% endblock %}

{% block body %}

<div class="float-container">

    <div class="float-child">
     <h1>Component compared against</h1>
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <h2 class="sub-header">{{ compare_prime.name }}</h2>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Control Number</th>
                        <th scope="col">Catalog</th>
                        <th scope="col">Statement</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for prime_smt in prime_smts %}
                            <tr>
                                <th scope="row">{{ prime_smt.sid }}{% if prime_smt.pid %}.{{ prime_smt.pid }}{% endif %}</th>
                                <td>{{ prime_smt.sid_class }}</td>
                                <td>{{ prime_smt.body|safe }}</td>
                            </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="float-child">
        {% with comp_differences=differences %}
            {% include "components/compare_block.html" %}
        {% endwith %}
    </div>

</div>

{% endblock %}

