body {
  padding-top: 50px !important; /* the !important is to fix a bug with the dashboard integration, remove it eventually */
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  overflow-y: scroll;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-family: 'Hind', sans-serif;
}

body, blockquote {
  font-size: 16px;
}

.navbar .notification.unread a span {
  font-weight: bold;
}

#context-bar {
  padding: 25px 0 8px 0;
  margin-bottom: 8px;
}

#context-bar .breadcrumb {
  margin: 0;
  background-color: rgba(255,255,255,1);
  padding: 8px;
  cursor: default;
}

#context-bar .breadcrumb a {
  color: black;
}

.glyphicon-globe { color: #888; }

h1, h2 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

h1 { font-size: 44px; color: #444; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }

.btn { white-space: normal; font-size: inherit; }
.btn.btn-sm { font-size: 12px; }
.btn.btn-xs { font-size: 12px; }

footer { margin-top:60px;
  font-size: .75em;
  color: #555555;
}

footer .container-fluid {
  background-color: rgba(255,255,255,0.1);
  padding:8px;
}

.ql-editor {
  min-height: 6em;
}

.question-answer[data-answer-type="skipped"] {
  background-color: #eeee99;
  padding: 1px 1px;
}

span.question-answer[data-reviewed] {
  background-repeat: repeat-x;
  background-origin: content-box;
  background-clip: content-box;
  background-position-y: 1.15em;
  background-size: .5em .35em;
}

div.question-answer[data-reviewed] {
  margin-bottom: 1em;
  padding-right: .66em;
  background-repeat: repeat-y;
  background-position-x: 100%;
  background-size: .5em .4em;
}

div.question-answer[data-reviewed] p { margin: 0; }
div.question-answer[data-reviewed] a { text-decoration: underline; }

.question-answer[data-reviewed="0"] {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAA4UlEQVQY063PywqCQBTG8WMNXegyI+0CG9z0ALUpjKBlj9d7tPAhFNskbSI3EipMEEKadiWjxYh0cdny/Djw8ReezwQAACC5n/br+dm3CB23ulMu/ka1tZnAnx7XIHC0mJn1do/QEaqQVHarqigj/hE6+tFbNKWBKE+KpdqXoOR+Chzt6C2wNMRUKZZqv4L26/ktcJrSAFMlW4nYMhMAQGffwh0ldyUV10CEjnFnmLvCJXT1j7qILRvt/kcdM8uE/rHO36iXw/arLmbme13B1mZVURblCb9D1whdvUxoJgDwAuRFz6Fquj96AAAAAElFTkSuQmCC);
}

.question-answer[data-reviewed="1"] {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAA30lEQVQY02P89fMPAwMDAwPDj++/92y4cf/WG2MbOStnZYjIgW23Vi7czQhR9PnTj4snnly/8ELTQELfQoaXjwMicuPSCxlFQRa4ikunn+qZSpvYynNwsqKJMP34/hvO17eQ4eBkxRRh2bPhxvPHHyF8uC1Xzz+HizAwMLDcv/XG0FIWqy0Qkcunn7IY28jpmkpjtQUicv74YxTfXT3/XNtQEtne6xdeSMryU9F3B7bdenL/PZrvrl94gew7ZqYvKlYO2lYuytw87AwMDGePPDx37LGskpCNuwpEhIGBAQDIZc55AMSNhQAAAABJRU5ErkJggg==);
}

.label[data-reviewed="0"] {
  background-color: #bda27e;
}

.label[data-reviewed="1"] {
  background-color: #907ebd;
}

.label[data-reviewed="2"] {
  background-color: #5cb85c;
}

.textcomplete-item {
  cursor: pointer;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.not-provided {color: #888; font-style: italic;}

/* New CSS based on removing inline CSS */
.btn-sm { width:95%; max-width:200px;  } /* this makes the action buttons all the same width.

/* 508 related */
.text-muted {color: #555555;}
.project-settings-desc-item { font-weight:bold;}

.project-status-not-started { color:#444444; font-size:.8em;}
.project-status-finished {color:#444444; font-size:.8em;}
.project-status-inprogress {color:#444444; font-size:.8em;}

/*.glyphicon-pencil:before { color:#555555;}*/

.navbar-inverse .navbar-nav>li>a { color:#ccc;}

.dropdown-toggle { }

.button-sidebar-react { background: none; border: none; padding:none;}

a:focus-visible {
  outline: 2px dashed #60BF60;
}



/* misc templates */
.task-progress-project-truncate { margin: 12px auto 12px auto; text-align: center; }
.task-progress-project-url { color:#444; }
.task-progress-project-group { margin: 0 0 0 0; padding: 0px; font-size: 1.0em; text-align:left; }
.task-progress-project-question { font-size: 10px; line-height: 120%; padding-left: 2em; color: #222; }
.task-progress-project-title { color: black; font-size: 1.0em; text-align: left; }
.task-progress-project-truncate-link { color: black; }
.task-question-debug-links { color: #666; font-size: 70%; position: fixed; bottom: 12px;}
.task-question-debug-links a:link { color: #666 }

.question-source-invitation { margin-bottom: 2em; }
.question-source-invitation-show { text-align: right; margin-bottom: -1.5em; }
.question-source-invitation-link { color: #448; font-size: 85%; }
.question-example-answer { margin: 35px 0; font-size: 80%; border-left: 2px solid #CCC; padding-left: 8px; }
.question-example-answer-expand { max-height: 4.25em; overflow: hidden; }
.question-example-small { color: #666; }
.question-toggle { text-align: left; font-style: italic; font-size: 90%; }
.question-reference-text { font-size: 80%; color: #666; }
.question-reference-well { display: none; font-size: 80%; }
.question-form-style { width: auto; display: inline-block; }
.question-choice { margin: 1em 0 1.5em 0; }
.question-yesno { margin: 1em 0 1.5em 0; }
.question-multiple-choice { margin: 1em 0 1.5em 0; }
.question-datagrid { margin: 1em 0 1.5em 0; }
.question-file { margin: 1em 0; }
.question-current-answer { color: #666; }
.question-absolute-url { color: #999; margin-left: 3px; font-size: 90%;}

.question-radio { margin-bottom: 1.5em; }
.question-button { color: #999; font-size: 0.9em; }
.question-can-review { margin-top: -10px; }
.question-select-review { display: block; margin: 1em 0; font-size: 80%; background-color: white; padding: .2em .2em .15em .2em; }
.question-review-status { margin-top: 1em; font-size: 85%; color: #666; }
.question-progress-project {  }
.question-form-group { width: auto; border: none; padding: 0; display: inline-block; }
.question-input-font { font-size: 14px; }
.question-glyphicon-comment { color: #56A; }

/* within navbar and base.html */
.navbar-brand img { margin: -1px 20px; width:160px; }
.dropdown-menu { width: 300px; }
.nav-dropdown-item-text { margin: 0px 12px 8px 20px; }
.nav-profile { margin: -5px 5px; }
.message-margin { margin-top: 0em; margin-bottom: 0px; padding: 0px; position:absolute; right: 0px; top: 52px; z-index: 100; width: 340px;}
.toast-msg { width: 340px; margin: 0px;}
.footer-row { width: 768px; margin: auto; border-top: 1px solid #eee; padding-top: 24px; }

.invite-message-size { width: 100%; height: 4em; }
.invite-message-container { margin-top: 1em; }

.center-text { text-align: center; }
.right-text { text-align: right;}
.left-text { text-align: left; }

.form-by-email { margin-right: 1em; display: none; }
.form-group-margin { margin-right: 1em; }
.form-checkbox { margin-top: 1em; }
.modal-text { margin: 1em 0 2em 0; }
.form-email-width { width: 25em; }

.no-display { display: none; }

/* within app-store */
a.glyphicon-home-icon { color: black; margin-right: .25em; text-decoration:none; }
.create-nav { margin-bottom: 1em; }
.create-new-project { margin: 0 0.5em 0em 0; }
.app-icon-appstore { padding-top: 1px; }

.app-category { margin: auto; width: 80%; text-align: left; }
.app-bottom-margin { margin-bottom: 30px; }
.app-quick-start-form { margin-top: .5em; }

.control-label { font-size:.8em;} /* within modal, the word description was breaking */

/* app-store-item */
.breadcrumb-link { color: black; }
.app-header { max-width:968px; margin: auto; padding-top: 30px;}
.btn-start-project { width:100%;}
.back-to-link { color: #555555; }
.app-max-width-row { max-width:968px; margin: auto; }
.app-information-row { border-top: 1px solid #eee; padding-top: 0px; }
.app-form-margin { margin: 1em; }
.app-margin-bottom { margin-bottom: 1em; }
.app-add-to-label { font-weight: normal; margin: 0; font-size: 90%; }
.app-button-width { width: 100%; }
.app-description { margin-top:20px; }
.app-info-height { height: 24px; }
.app-bottom-spacer { height:40px; }

/* search */
#searchbox { padding-left:28px; }
#searchclear { position: absolute; right: 5px; top: 0; bottom: 0; height: 14px; margin: auto; font-size: 14px; cursor: pointer; color: #ccc; text-decoration: none; }
#searchicon { position: absolute; left: 8px; top: 0; bottom: 0; height: 14px; margin: auto; font-size: 14px; cursor: default; color: #999; text-decoration: none; }

/* project */
/* leaving display tags within the html to prevent issues */

.authoring-tool-style { margin: 0 1em; }
.action-button-box { margin-top: 1em; }
.action-button { background: white; }
.authoring-tool-box { font-size: 90%; }
.action-button-app-title {text-align: center; font-size: 0.8em; max-width:200px; font-weight: bold; margin-bottom: 8px;}

.project-base-container { margin-left:0px; margin-right: 0px; margin-bottom: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; height: 100%;}
.project-row-style { margin-bottom:1em; }
.action-row { margin-bottom: 1em; }
.project-body-block {}

.project-text { margin: 1em 0; }
.project-glyphicon-ok { color: #96B; } /* this is not good */
.project-new-task { position: absolute; left: -1px; top: -1px; }
.project-progress { width:80%; height: 5px;margin: 8px 0 0 0; }
.project-question-comment { line-height: 122%; font-type: italic; font-size: 95%; }
.project-question-icon { position: relative;}
.project-button-finished { color: rgb(57, 139, 37); }

.smidge-right { margin-right: .25em } /* spaces words from glyphicon */
.smidge-left { margin-left: .25em }

.project-settings-glyphicons { margin: 0 1em; }
.project-settings-header { border-bottom:1px solid #ccc; margin-bottom:1.5em; margin-top:1.5em;}
.project-settings-row { margin: 8px 0 20px 0;}
.project-settings-description { margin-bottom:8px; }
.project-settings-rows { margin-top:12px;  }
.project-settings-all-participants { margin-bottom: 2px; }
.project-settings-user-details { width: 28px; height: 24px; border: 1px solid #444; margin-right: .5em; float: left; margin-top: -2px; border-radius: 2px; }
.project-settings-invite { margin: 1em 0; }
.project-settings-table-head { width:200px; }

.project-api-sample { max-height: 20em; overflow: auto; border: 1px solid #555; margin: 1.5em 0; }
.project-api-text { font-size: 90%; font-weight: 400; }
.project-api-title { font-weight: bold; }

.project-main { float: right; margin: 0 0.5em 0em 5em; }
.project-top { margin-top: 15px; }
.project-image { width: 20px; float: left; margin: 4px 0 5px 8px; }

.project-list-text { font-size: 90%; font-weight: 400; margin: 2em 0 .5em -2px; }
.project-list-text-item { color: #666; }
.project-list-section-task-link { color: #224; }
.project-list-app-icon {  height: 1em; }
.project-list-section-task { margin: 0 0 .5em 0; }
.project-list-section-task-text { margin: 0 0 .25em 0}
.project-list-section-task-id { margin-top: 0; }

.interstitial-success { text-align: center; margin: 1.5em 0 .5em 0; }
.interstitial-link { margin-right: 3em; }

/* projects */
.projects-top { margin-top: 30px; }
.projects-row { border-top: 1px solid #dddddd; padding: 8px 0px 8px 0px; }
.projects-link { color: black; }

/* TASK */
.task-authortools { font-size: 80%; margin-right: 8px; }
.task-glyphicons { color: #aaa; }
.task-invitation { margin-bottom: 1em; }
.task-imputed { float: right; margin: 0 0 .5em .25em; }
.task-answers { margin: 2em 0; }
.task-panel-heading-height { height: 50px; }
.task-bottom-margin { margin-bottom: 30px; }
.task-done { margin:0.5em 0 1em 0; }
.task-project-progress { background-color: rgb(230, 230, 230); border-radius: 6px; }

/* controls */
.index-catalog-top { margin-top: 30px; }

/* Component Library */
#component-new, #component-import-oscal { margin-top: 0em; }
#component_import_form #import_loading_spinner { width: 10em; }
a#delete-import.btn {float: right; margin-top: 1em;}

form #id_json_content { width: 100%; overflow: auto !important; } /* The !important is to fix a bug with textareas not allowing scrolling. */

/*.component-tag { font-size: 0.7em; color: #999; padding: 0px 6px 0px 6px; border: 1px solid #bbb; border-radius: 24px; margin-right: 2px; }*/
.component-tag { font-size: 0.7em; color: #999; padding: 0px 6px 0px 6px; border: 1px solid #bbb; border-radius: 24px; }
.component-tag a { color:#555555; }
.component-state { font-size: 0.8em; color: #444; padding: 0px 6px 0px 6px; border: 1px solid #bbb; border-radius: 24px; }
.component-type { font-size: 0.8em; color: #444; padding: 0px 6px 0px 6px; border: 1px solid #bbb; border-radius: 24px; }

.component-form {
 float: left;
}

details summary { cursor: pointer; }
details summary > * { display: inline; }

#common-tab-count, #component-tab-count { display: inline-block; color: #444444; background-color: #eeeeee; border-radius: 20px; line-height: 1; padding: 2px 6px; font-size: 0.8em; font-weight: 600; }
.component-control-description { white-space: pre-wrap; max-height: 200px !important;overflow-y: scroll; }
#component-detail-content { border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc; border-radius: 0; padding: 0 0 8px 12px; }
/*details > summary::before { content: '▶'; }*/
/*details[open] > summary::before { content: '▼'; }*/

/* Import Form fields */
form #id_appsource_version_id { width: 100%; overflow: auto !important; }
form #id_appsource_compapp { width: 100%; overflow: auto !important; }

/* org groups */

.new-org-col { margin: 40px 0px 30px 0px; }
.org-main { float: right; margin: 0 0.5em 0em 5em; }
.org-top { margin-top: 30px; }
.org-row { border-top: 1px solid #aaa;padding: 8px 0px 8px 0px; }
.org-project-link { color: black; }
.org-small { color: #888;}
.org-group { color: black; }

.org-glyphicons { font-size: 8em; color: rgb(160, 210, 160); }

/* portfolios */
.portfolio-top { margin-top: 30px; }
.portfolio-main { float: right; margin: 0 0.5em 0em 5em; }
.portfolio-small { color: #555555; font-size:.8em;}
.portfolio-row { border-top: 1px solid #aaa;padding: 8px 0px 8px 0px; }
.portfolio-project-link { color: black; }
.portfolio-project-top { margin-top: 60px; }
.portfolio-glyphicons { font-size: 8em; color: rgb(160, 210, 160); }
.portfolio-org-col { margin: 40px 0px 30px 0px; }

/* Support */
.support-top { margin-top: 30px; }
.support-row { margin: auto; padding-top: 24px; margin: auto; }

/* component permissions*/
.permissible-row { border-top: 1px solid #aaa; padding: 8px 0px 8px 0px; }

/* MISC */
.love-assessments { max-width: 650px; }
.pagination a { color: rgb(88, 144, 191); }

/* systems */
.systems-top { margin-top: 10px; }
.systems-title { float: left;}
.systems-link { color: black; }
.systems-control-lookup { float: right; }
.systems-selected-items { font-size: 14pt; font-weight: bold;}
.systems-control-heading { float: left; padding: 0 0 0 0em; }
.systems-smt-list { width: 90%; }

.systems-element-form-status { width:180px; }
.systems-element-statement { min-height:130px; overflow-y: scroll; }
.systems-element-form-remarks { min-height:70px; overflow-y: scroll; }
.systems-element-modal-footer { display: inline; margin-right: 20px; color: gray; }
.systems-element-button { color: white; }
.systems-element-oscal { font-family: monospace; font-size:12px; white-space: pre; }
.systems-element-opencontrol { font-family: monospace; font-size:12px; white-space: pre; }

.systems-element-name { font-size: 14pt; font-weight: bold;}
.systems-poam { margin-top: 4px; }
.systems-poam-glyphicon { margin-top: 6px; }
.systems-control-catalog { font-size: 0.65em; color:#555555; border:1px solid #aaa; border-radius: 12px; padding:0px 8px 0px 8px; }

.pagination {
  white-space: nowrap;
}

.statement-column-headings {
    background-color: #ddd;
    margin: 0px 12px 12px 2px;
    padding: 4px 4px 4px 0px;
    font-weight: bold;
  }

.statement-text-block {
    border-left: 1px solid #ccc;
    white-space: pre-line;
  }

.remark-text-block {
    white-space: pre-line;
  }

.statement-edit-text-block {
    border-left: 1px solid #ccc;
    background-color: rgb(253, 253, 253);
    padding-bottom: 8px;
    margin-top: -20px;
  }

/* displays OSCAL in a scrolling div */
  .display-oscal {
    overflow: scroll;
    height:500px;
    word-wrap: break-word;
    display:block;
    margin: 2em;
    padding: 1em;
    border:1px solid #D9D9D9;
    overflow-wrap: break-word;
    width: 95%;
    -webkit-user-select: all;  /* Chrome all / Safari all */
      -moz-user-select: all;     /* Firefox all */
      -ms-user-select: all;      /* IE 10+ */
      user-select: all;          /* Likely future */
  }


  /* this keeps buttons from being too big */
  .btn { font-size: 12px;}
  .btn-app-sm { font-size:12px;}
  .btn { white-space: normal; }
  .btn.btn-sm { font-size: 12px; }
  .btn.btn-xs { font-size: .8em; }
  .project-button-finished { color: #1A1A1A; }

  /* misc tweaks */
.navbar .notification.unread a span { font-weight: bold; }
.glyphicon-globe { color: #888; }
.portfolio-glyphicons { font-size: 8em; color: #D9D9D9; }
.modal-body select  { padding:3px; }

#component-detail-content { background:#ffffff; }

.row-control { background:#ffffff;}

/* this is a temporary solution for the navbar being too wide before collapsing to a hamburger. Now it will collapse at 1102px instead of 768px. */
@media (max-width: 1102px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}


/*drag n fill */

.file-droppable {
  border-radius: 5px;
  overflow: hidden;
  transition: all 1s;
  min-height: 70px;
  position: relative;
  -moz-box-shadow: 0 0 5em #ccc;
  -webkit-box-shadow: 0 0 5em #ccc;
   box-shadow: 0 0 5em #ccc;
   padding: 2em;
}

.file-droppable.filled {
  background: #c5dfdc;
  border: solid 2px #6faca5;
  border-radius: 5px;
}

.file-droppable:after {
  position: absolute;
  left: 13px;
  top: 38px;
  font-size: 10px;
  font-weight: bold;
}

.file-droppable::before {
  content: " ";
  display: inline-block;
  height: 100%;
  width: 1%;
  vertical-align: middle;
}

.file-droppable div {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  overflow: hidden;
  word-break: break-all;
}

.file-droppable span {
  position: absolute;
  font-weight: bold;
  right: 5px;
  top: -5px;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
  display: none;
}

.file-droppable input {
  position: absolute;
  z-index: 3;
  display: block;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  padding-bottom: 5em;
}
.file-droppable button {
  background: #136aa8 !important;
  border-color: #136aa8 !important;
}

.glyphicon-save{
    color:#5f6981 !important;
}
.upload-text {
     font-size: .7em;
    color: #777777;
}

/* dark sidebar styles */

.sidebardark-header { margin:0; color: #F9F9F9; font-size: 1.3em;}
.sidebardark-head {color: #B9B9B9; font-size:.8em; margin:0;}
.sidebardark-project-details { color: #D9D9D9; font-size:.7em; margin: 10px 0 20px 0; display:block; border-top:1px solid #B9B9B9; border-bottom:1px solid #B9B9B9; padding:5px 0 5px 0; margin:10px 20px 0 0;}
.sidebardark-head-title {color: #D9D9D9; }

.sidebardarkheader { border:none; display:block; margin:25px 0 25px 20px; }
