body {
  padding-top: 50px !important; /* the !important is to fix a bug with the dashboard integration, remove it eventually */
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  overflow-y: scroll;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-family: 'Hind', sans-serif;
}

body, blockquote {
  font-size: 16px;
}

.navbar .notification.unread a span {
  font-weight: bold;
}

#context-bar {
  padding: 14px 0 8px 0;
  margin-bottom: 8px;
}

#context-bar .breadcrumb {
  margin: 0;
  background-color: rgba(255,255,255,1);
  padding: 8px;
  cursor: default;
}

#context-bar .breadcrumb a {
  color: black;
}

.glyphicon-globe { color: #888; }

h1, h2 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

h1 { font-size: 44px; color: #444; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }

.btn { white-space: normal; font-size: inherit; }
.btn.btn-sm { font-size: 12px; }

footer { margin-top:60px;
  font-size: .75em;
  color: #888;
}

footer .container-fluid {
  background-color: rgba(255,255,255,0.1);
  padding:8px;
}

.ql-editor {
  min-height: 6em;
}

.question-answer[data-answer-type="skipped"] {
  background-color: #eeee99;
  padding: 1px 1px;
}

span.question-answer[data-reviewed] {
  background-repeat: repeat-x;
  background-origin: content-box;
  background-clip: content-box;
  background-position-y: 1.15em;
  background-size: .5em .35em;
}

div.question-answer[data-reviewed] {
  margin-bottom: 1em;
  padding-right: .66em;
  background-repeat: repeat-y;
  background-position-x: 100%;
  background-size: .5em .4em;
}

div.question-answer[data-reviewed] p { margin: 0; }
div.question-answer[data-reviewed] a { text-decoration: underline; }

.question-answer[data-reviewed="0"] {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAA4UlEQVQY063PywqCQBTG8WMNXegyI+0CG9z0ALUpjKBlj9d7tPAhFNskbSI3EipMEEKadiWjxYh0cdny/Djw8ReezwQAACC5n/br+dm3CB23ulMu/ka1tZnAnx7XIHC0mJn1do/QEaqQVHarqigj/hE6+tFbNKWBKE+KpdqXoOR+Chzt6C2wNMRUKZZqv4L26/ktcJrSAFMlW4nYMhMAQGffwh0ldyUV10CEjnFnmLvCJXT1j7qILRvt/kcdM8uE/rHO36iXw/arLmbme13B1mZVURblCb9D1whdvUxoJgDwAuRFz6Fquj96AAAAAElFTkSuQmCC);
}

.question-answer[data-reviewed="1"] {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAA30lEQVQY02P89fMPAwMDAwPDj++/92y4cf/WG2MbOStnZYjIgW23Vi7czQhR9PnTj4snnly/8ELTQELfQoaXjwMicuPSCxlFQRa4ikunn+qZSpvYynNwsqKJMP34/hvO17eQ4eBkxRRh2bPhxvPHHyF8uC1Xzz+HizAwMLDcv/XG0FIWqy0Qkcunn7IY28jpmkpjtQUicv74YxTfXT3/XNtQEtne6xdeSMryU9F3B7bdenL/PZrvrl94gew7ZqYvKlYO2lYuytw87AwMDGePPDx37LGskpCNuwpEhIGBAQDIZc55AMSNhQAAAABJRU5ErkJggg==);
}

.label[data-reviewed="0"] {
  background-color: #bda27e;
}

.label[data-reviewed="1"] {
  background-color: #907ebd;
}

.label[data-reviewed="2"] {
  background-color: #5cb85c;
}

.textcomplete-item {
  cursor: pointer;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* New CSS based on removing inline CSS */

/* within navbar and base.html */
.navbar-brand img { margin: -2px 20px; width:110px; }
.dropdown-menu { width: 300px; }

.nav-dropdown-item-text { margin: 0px 12px 8px 20px; }
.nav-profile { margin: -5px 5px; }

.message-margin { margin-top: 1em; }

.footer-row { width: 768px; margin: auto; border-top: 1px solid #eee; padding-top: 24px; }

.invite-message-size { width: 100%; height: 4em; }
.invite-message-container { margin-top: 1em; }

.center-text { text-align: center; }
.right-text { text-align: right;}

.form-by-email { margin-right: 1em; display: none; }

.form-group-margin { margin-right: 1em; }
.form-checkbox { margin-top: 1em; }

.modal-text { margin: 1em 0 2em 0; }

.form-email-width { width: 25em; }

.no-display { display: none; }

/* within app-store */
a.glyphicon-home-icon { color: black; margin-right: .25em; text-decoration:none; }
