body {
  padding-top: 50px !important; /* the !important is to fix a bug with the dashboard integration, remove it eventually */
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  overflow-y: scroll;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-family: 'Hind', sans-serif;
}

body, blockquote {
  font-size: 16px;
}

.navbar .notification.unread a span {
  font-weight: bold;
}

#context-bar {
  padding: 14px 0 8px 0;
  margin-bottom: 8px;
}

#context-bar .breadcrumb {
  margin: 0;
  background-color: rgba(255,255,255,1);
  padding: 8px;
  cursor: default;
}

#context-bar .breadcrumb a {
  color: black;
}

.glyphicon-globe { color: #888; }

h1, h2 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

h1 { font-size: 44px; color: #444; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }

.btn { white-space: normal; font-size: inherit; }
.btn.btn-sm { font-size: 12px; }

footer { margin-top:60px;
  font-size: .75em;
  color: #888;
}

footer .container-fluid {
  background-color: rgba(255,255,255,0.1);
  padding:8px;
}

.ql-editor {
  min-height: 6em;
}

.question-answer[data-answer-type="skipped"] {
  background-color: #eeee99;
  padding: 1px 1px;
}

span.question-answer[data-reviewed] {
  background-repeat: repeat-x;
  background-origin: content-box;
  background-clip: content-box;
  background-position-y: 1.15em;
  background-size: .5em .35em;
}

div.question-answer[data-reviewed] {
  margin-bottom: 1em;
  padding-right: .66em;
  background-repeat: repeat-y;
  background-position-x: 100%;
  background-size: .5em .4em;
}

div.question-answer[data-reviewed] p { margin: 0; }
div.question-answer[data-reviewed] a { text-decoration: underline; }

.question-answer[data-reviewed="0"] {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAA4UlEQVQY063PywqCQBTG8WMNXegyI+0CG9z0ALUpjKBlj9d7tPAhFNskbSI3EipMEEKadiWjxYh0cdny/Djw8ReezwQAACC5n/br+dm3CB23ulMu/ka1tZnAnx7XIHC0mJn1do/QEaqQVHarqigj/hE6+tFbNKWBKE+KpdqXoOR+Chzt6C2wNMRUKZZqv4L26/ktcJrSAFMlW4nYMhMAQGffwh0ldyUV10CEjnFnmLvCJXT1j7qILRvt/kcdM8uE/rHO36iXw/arLmbme13B1mZVURblCb9D1whdvUxoJgDwAuRFz6Fquj96AAAAAElFTkSuQmCC);
}

.question-answer[data-reviewed="1"] {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAA30lEQVQY02P89fMPAwMDAwPDj++/92y4cf/WG2MbOStnZYjIgW23Vi7czQhR9PnTj4snnly/8ELTQELfQoaXjwMicuPSCxlFQRa4ikunn+qZSpvYynNwsqKJMP34/hvO17eQ4eBkxRRh2bPhxvPHHyF8uC1Xzz+HizAwMLDcv/XG0FIWqy0Qkcunn7IY28jpmkpjtQUicv74YxTfXT3/XNtQEtne6xdeSMryU9F3B7bdenL/PZrvrl94gew7ZqYvKlYO2lYuytw87AwMDGePPDx37LGskpCNuwpEhIGBAQDIZc55AMSNhQAAAABJRU5ErkJggg==);
}

.label[data-reviewed="0"] {
  background-color: #bda27e;
}

.label[data-reviewed="1"] {
  background-color: #907ebd;
}

.label[data-reviewed="2"] {
  background-color: #5cb85c;
}

.textcomplete-item {
  cursor: pointer;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* New CSS based on removing inline CSS */

/* within navbar and base.html */
.navbar-brand img { margin: -2px 20px; width:110px; }
.dropdown-menu { width: 300px; }

.nav-dropdown-item-text { margin: 0px 12px 8px 20px; }
.nav-profile { margin: -5px 5px; }

.message-margin { margin-top: 1em; }

.footer-row { width: 768px; margin: auto; border-top: 1px solid #eee; padding-top: 24px; }

.invite-message-size { width: 100%; height: 4em; }
.invite-message-container { margin-top: 1em; }

.center-text { text-align: center; }
.right-text { text-align: right;}
.left-text { text-align: left; }

.form-by-email { margin-right: 1em; display: none; }

.form-group-margin { margin-right: 1em; }
.form-checkbox { margin-top: 1em; }

.modal-text { margin: 1em 0 2em 0; }



.form-email-width { width: 25em; }

.no-display { display: none; }

/* within app-store */
a.glyphicon-home-icon { color: black; margin-right: .25em; text-decoration:none; }
.create-nav { margin-bottom: 1em; }
.create-new-project { margin: 0 0.5em 0em 0; }
.app-icon-appstore { padding-top: 1px; padding-right: 12px; }

.app-category { }/* TBD */
.app-bottom-margin { margin-bottom: 30px; }
.app-quick-start-form { margin-top: .5em; }

.control-label { font-size:.8em;} /* within modal, the word description was breaking */


/* app-store-item */
.breadcrumb-link { color: black; }
.app-header { max-width:968px; margin: auto; padding-top: 30px;}
.btn-start-project { width:100%;}
.back-to-link { color: #888; }
.app-max-width-row { max-width:968px; margin: auto; }
.app-information-row { border-top: 1px solid #eee; padding-top: 0px; }
.app-form-margin { margin: 1em; }
.app-margin-bottom { margin-bottom: 1em; }
.app-add-to-label { font-weight: normal; margin: 0; font-size: 90%; }
.app-button-width { width: 100%; }
.app-description { margin-top:20px; }
.app-info-height { height: 24px; }
.app-bottom-spacer { height:40px; }

/* project */
/* leaving display tags within the html to prevent issues */

.authoring-tool-style { margin: 0 1em; }
.action-button-box { margin-top: 1em; }
.action-button { background: white; }
.authoring-tool-box { font-size: 90%; }

.project-row-style { margin-bottom:1em; }
.action-row { margin-bottom: 1em; }
.project-body-block { margin-top: 1em; }

.project-text { margin: 1em 0; }
.project-glyphicon-ok { color: #96B; } /* this is not good */
.project-new-task { position: absolute; left: -1px; top: -1px; }
.project-progress { width:80%; height: 5px;margin: 8px 0 0 0; }
.project-question-comment { line-height: 122%; font-size: italic; font-size: 95%; }
.project-question-icon { position: relative;}
.project-button-finished { color: rgb(57, 139, 37); }

.smidge-right { margin-right: .25em } /* spaces words from glyphicon */
.smidge-left { margin-left: .25em }

.project-settings-glyicons { margin: 0 1em; }
.project-settings-header { border-bottom:1px solid #ccc; }
.project-settings-row { margin: 8px 0 20px 0;}
.project-settings-description { margin-bottom:8px; }
.project-settings-rows { margin-top:12px;  }
.project-settings-all-participants { margin-bottom: 2px; }
.project-settings-user-details { width: 28px; height: 24px; border: 1px solid #444; margin-right: .5em; float: left; margin-top: -2px; border-radius: 2px; }
.project-settings-invite { margin: 1em 0; }
.project-settings-table-head { width:200px; }

.project-api-sample { max-height: 20em; overflow: auto; border: 1px solid #555; margin: 1.5em 0; }
.project-api-text { font-size: 90%; font-weight: 400; }
.project-api-title { font-weight: bold; }

.project-main { float: right; margin: 0 0.5em 0em 5em; }
.project-top { margin-top: 15px; }

.project-list-text { font-size: 90%; font-weight: 400; margin: 2em 0 .5em -2px; }
.project-list-text-item { color: #666; }
.project-list-section-task-link { color: #224; }
.project-list-app-icon {  height: 1em; }
.project-list-section-task { margin: 0 0 .5em 0; }
.project-list-section-task-text { margin: 0 0 .25em 0}
.project-list-section-task-id { margin-top: 0; }

.interstitial-success { text-align: center; margin: 1.5em 0 .5em 0; }
.interstitial-link { margin-right: 3em; }

/* projects */
.projects-top { margin-top: 30px; }
.projects-row { border-top: 1px solid #aaa;padding: 8px 0px 8px 0px; }
.projects-link { color: black; }

/* TASK */
.task-authortools { font-size: 80%; margin-right: 8px; }
.task-glyphicons { color: #aaa; }
.task-invitation { margin-bottom: 1em; }
.task-imputed { float: right; margin: 0 0 .5em .25em; }
.task-answers { margin: 2em 0; }
.task-panel-heading-height { height: 50px; }
.task-bottom-margin { margin-bottom: 30px; }
.task-done { margin:0.5em 0 1em 0; }
.task-project-progress { background-color: rgb(230, 230, 230); border-radius: 6px; }

/* controls */
.index-catalog-top { margin-top: 30px; }

/* org groups */

.new-org-col { margin: 40px 0px 30px 0px; }
.org-main { float: right; margin: 0 0.5em 0em 5em; }
.org-top { margin-top: 30px; }
.org-row { border-top: 1px solid #aaa;padding: 8px 0px 8px 0px; }
.org-project-link { color: black; }
.org-small { color: #888;}
.org-group { color: black; }

.org-glyphicons { font-size: 8em; color: rgb(160, 210, 160); }

/* portfolios */
.portfolio-top { margin-top: 30px; }
.portfolio-main { float: right; margin: 0 0.5em 0em 5em; }
.portfolio-small { color: #888; }
.portfolio-row { border-top: 1px solid #aaa;padding: 8px 0px 8px 0px; }
.portfolio-project-link { color: black; }
.portfolio-project-top { margin-top: 60px; }
.portfolio-glyphicons { font-size: 8em; color: rgb(160, 210, 160); }
.portfolio-org-col { margin: 40px 0px 30px 0px; }

/* Support */
.support-top { margin-top: 30px; }
.support-row { margin: auto; padding-top: 24px; margin: auto; }


/* MISC */
.love-assessments { max-width: 650px; }

/* systems */
.systems-top { margin-top: 30px; }
.systems-title { float: left;}
.systems-link { color: black; }
.systems-control-lookup { float: right; }
.systems-selected-components { font-size: 14pt; font-weight: bold;}
.systems-control-heading { float: left; padding: 0 0 0 0em; }
.systems-smt-list { width: 90%; }

.systems-element-form-status { width:180px; }
.systems-element-statement { min-height:130px; overflow-y: scroll; }
.systems-element-form-remarks { min-height:70px; overflow-y: scroll; }
.systems-element-modal-footer { display: inline; margin-right: 20px; color: gray; }
.systems-element-button { color: white; }
.systems-element-oscal { font-family: monospace; font-size:12px; white-space: pre; }
.systems-element-opencontrol { font-family: monospace; font-size:12px; white-space: pre; }

.systems-element-name { font-size: 14pt; font-weight: bold;}
.systems-poam { margin-top: 4px; }
.systems-poam-glyphicon {  margin-top: 6px; }
