{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block form_top %}
    {% with module_usage_hierarchy=original.module_usage_hierarchy %}
        {% if module_usage_hierarchy %}
            <h2>Module Usage Hierarchy</h2>
            {{module_usage_hierarchy|safe}}
        {% endif %}
    {% endwith %}

    {% with questions_dependencies=original.questions_dependencies %}
        {% if questions_dependencies %}
            <h2>Questions</h2>
            {{questions_dependencies|safe}}
        {% endif %}
    {% endwith %}

    <h2>Fields</h2>
{% endblock %}