<style>
  .project-image {
    width: 20px;
    float: left;
    margin: 4px 0 5px 8px;
  }

  .inline {
    display: inline;
  }

  h3 {
    color: #666;
    #font-weight: bold;
    margin-top: 20px;
  }

  .control-text {
    white-space: pre-wrap;
    font-size: 12pt;
    max-width: 700px;
    font-family: sans-serif;
    /*text-align: justify;
    text-justify: inter-word;*/
  }

  #control_lookup input {
    width: 130px;
  }

#combined_smt {
    width: 80%;
    /*margin: 12px 0 16px 0px;*/
    padding: 8px;
    /*display: none;*/
  }

  textarea {
    overflow-y: scroll;
    resize: vertical;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }

  .rows-header {
    padding:8px;
    border:0.5px solid #bbb;
    background-color: #eee;
    border-radius: 4px 4px 0px 0px;
  }

  .row-control {
    padding:8px;
    border-bottom:0.5px solid #bbb;
    border-left:0.5px solid #bbb;
    border-right:0.5px solid #bbb;
  }

  .item-count {
    color: #999;
    background-color: #bbb;
    border-radius: 10px;
    border: 1px solid green;
  }
</style>
