{% extends "project-base.html" %}
{% load humanize %}
{% load guardian_tags %}
{% load static %}
{% load q %}

{% block title %}
  Control
{% endblock %}

{% block head %}
{{block.super}}
{% include "controls/_style-controls.html" %}
    <style>
        .project-image {
            width: 20px;
            float: left;
            margin: 4px 0 5px 8px;
        }

        .inline {
            display: inline;
        }

        h3 {
            color: #888;
            #font-weight: bold;
            margin-top: 20px;
        }

        #above-tab-content, #tab-content {
            max-width: 1250px;
            margin: auto;
        }

        .control-text {
            white-space: pre-wrap;
            font-size: 11pt;
            /*max-width: 700px;*/
            font-family: trebuchet ms, sans-serif;
            text-align: justify;
            /*text-justify: inter-word;*/
            line-height: 24px;
        }

        #control-lookup input {
            width: 130px;
        }

        #combined_smt {
            width: 80%;
            /*margin: 12px 0 16px 0px;*/
            padding: 8px;
            /*display: none;*/
        }

        textarea {
            overflow-y: scroll;
            resize: vertical;
        }

        a {
            color: #666;
        }

        #common-tab-count, #component-tab-count {
            display: inline-block;
            color: #666;
            background-color: #dedede;
            border-radius: 20px;
            line-height: 1;
            padding: 2px 6px;
            font-size: 0.8em;
            font-weight: 600;
        }

        .panel-heading-smt, .panel-heading-smt-body {
            white-space: pre-line;
        }

        .panel-heading a:hover {
            text-decoration: none;
            color: #000;
        }

        .statement-text, .description-text { font-size: 0.9em; }

        .legacy-statement-text { font-size: 0.9em; }

        .legacy-statement-text-block { border-left: 1px solid #ccc; white-space: pre-line; }

        .control-id-text { font-weight: bold; }

        #component-detail-content {
            border-left:1px solid #ccc;
            border-right:1px solid #ccc;
            border-bottom:1px solid #ccc;
            border-radius: 0px;
            padding: 0px 0px 8px 12px;
        }
    </style>
{% endblock %}

{% block body_content %}
    <div class="systems-top">

        <div id="above-tab-content" class="row">
            <div class="systems-control-heading">
                <h2 class="control-heading">
                    System Control: {{ control.id_display|upper }} {{ control.title }}
                </h2>
                <h2 class="control-heading" style="">
                    {% if control.title is not None %}
                        <small style="color: #888;">{{ catalog.catalog_key_display }}</small>
                    {% else %}
                        <p>The control {{ control.id }} was not found in the control catalog.</p>
                    {% endif %}
                </h2>
            </div>
            <!-- Control Lookup-->
            <div class="systems-control-lookup">
                <form id="control-lookup" method="get" action="/controls/" onsubmit="show_control_by_id(); return false;">
                    <input type="text" name="id" placeholder="Enter control id" title="Enter control id" value="{% if control %}{{ control.id_display|upper }}{% endif %}">
                    <button type="submit" class="btn btn-success">Look up</button>
                </form>
                <div id="control-prev-next">
                    <a href="{% url 'control_editor' system_id=system.id catalog_key=prev_selected_cl_catalog_key cl_id=prev_selected_cl_id %}"
                       title="Previous System control">&laquo; {{prev_selected_cl_id|upper}}</a>
                    &nbsp;|&nbsp;
                    <a href="{% url 'control_editor' system_id=system.id catalog_key=next_selected_cl_catalog_key cl_id=next_selected_cl_id %}"
                       title="Next System control">{{next_selected_cl_id|upper}} &raquo;</a>
                </div>
            </div>
        </div>
    </div>

    <div role="" class="hidden" id="control" style="">
        {% if control.title is not None %}
        <details>
            <summary>
                <div id="control-description" class="control-text"><h3>View Control Description</h3></div>
            </summary>
            <div class="control-text">{{ control.description }}</div>
        </details>

        <details>
            <summary>
                <div id="control-guidance" class="control-text"><h3>View Control Guidance</h3></div>
            </summary>
            <div class="control-text">{{ control.guidance }}</div>
        </details>

        {% else %}
            <div id="control-message">
                <p>The control {{ control.id }} was not found in the control catalog.</p>
            </div>
        {% endif %}
    </div>

    <div>
                    {% if impl_smts_legacy|length > 0 %}
                    <div id="smt-list" class="" style="width: 100%">
                        <p>&nbsp</p>
                        <details>
                            <summary>&nbsp;<span class="glyphicon glyphicon-eye-open"></span>Read legacy implementation statement from original SSP</summary>
                            {% for smt in impl_smts_legacy %}
                            <div id="legacy-panel-{{ forloop.counter }}" class="smt-panel-x" style="border:2px solid #aaddaa; border-radius: 20px;margin-bottom:12px; margin-right:12px; ">
                                <div class="panel-heading" role="tab" id="legacy-document-{{ forloop.counter }}-title" style="">
                                    <div class="row legacy-statement-text">
                                      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                        <div id="producer_element-{{ forloop.counter }}-control" class="control-id-text">{{ smt.producer_element.name }}</div>
                                        <div>Imported from SSP</div>
                                      </div>
                                      <div>
                                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 legacy-statement-text-block">{{ smt.body }}</div>
                                </div>
                            </div>
                            {% endfor %}
                        </details>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div id="control-description" class="col-md-10 control-text"><h3>{{ impl_smts|length }} associated Componented Control Implementations Statements</h3></div>
                    </div><!-- Needed for proper styling -->

                    <div class="row statement-column-headings" style="">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">Component</div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">Statement</div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">Status</div>
                    </div>

                    <div id="smt-list" class="" style="width: 100%">
                        <!-- Loop through existing component-control statements -->
                        {% for smt in impl_smts %}
                            <div id="panel-{{ forloop.counter }}" class="smt-panel panel-smt">
                                <div class="panel-heading" role="tab" id="document-{{ forloop.counter }}-title">
                                    <div class="row statement-text">
                                      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                        <span id="producer_element-{{ forloop.counter }}-control" class="control-id-text">{{ smt.producer_element.name }}&nbsp; &nbsp;<a href="{% url 'component_library_component' smt.producer_element.id %}" target="_blank"><span class="glyphicon glyphicon-new-window" style="color: #aaa;"></span></a></span>
                                        <div>
                                            <span class="component-type">{{ smt.producer_element.component_type }}</span>
                                            <span class="component-state">{{ smt.producer_element.component_state }}</span>
                                        </div>
                                      </div>
                                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 statement-text-block">{% if smt.pid is not None and smt.pid != "" %}<div class="panel-heading-smt">{{ smt.pid }}.</div>{% endif %}{{ smt.body }}</div>
                                      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 remark-text-block">
                                        {% spaceless %}
                                        <span>Status: {% if smt.status != "" and smt.status is not None %}{{ smt.status }}{% else %}TBD{% endif %}</span>
                                        <span class="pull-right"><a role="button" class="glyphicon glyphicon-pencil" style="color: #aaa;"  data-toggle="collapse" data-parent="#accordion" href="#document-{{ forloop.counter }}-body" aria-expanded="false" aria-controls="document-{{ forloop.counter }}-body" onclick="$('#document-{{ forloop.counter }}-title').css('background-color','#f4f5f8');$('#document-{{ forloop.counter }}-title').css('display','none');"></a></span>
                                          {% if smt.prototype_synched == 'not_synched' %}
                                            <div id="diff_alert_{{ forloop.counter }}_notice">
                                              <span href="#diff_{{ forloop.counter }}" class="" style="text-decoration: none;font-weight: normal; font-size: 9pt; color: firebrick;cursor: pointer;" onclick="alert('Your statement and component\'s reference statement have diverged.\n\nEdit statement for details.');return false;"><span class="glyphicon glyphicon-alert"></span> Differs from reference</span>
                                            </div>
                                          {% elif smt.prototype_synched == 'orphaned' %}
                                            <div id="diff_alert_{{ forloop.counter }}">
                                              <a href="#diff_{{ forloop.counter }}" class="" data-toggle="collapse" style="text-decoration: none;font-weight: normal; font-size: 9pt; color: firebrick;"><span class="glyphicon glyphicon-alert"></span> No related statement for component in library</a>
                                            </div>
                                          {% endif %}
                                          <div>
                                              {% if smt.remarks %}<details><summary>Remarks</summary><div>{{ smt.remarks }}</div></details>{% endif %}
                                          </div>
                                        {% endspaceless %}
                                       </div>
                                    </div>
                                </div>

                                <div id="document-{{ forloop.counter }}-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="document-{{ forloop.counter }}-title" style="background-color: #f4f5f8;">
                                    <div class="panel-body">
                                        <div class="smt_block">
                                          <div class="row statement-text">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                                <span id="producer_element-{{ forloop.counter }}-control" class="control-id-text">{{ smt.producer_element.name }}&nbsp; &nbsp;<a href="{% url 'component_library_component' smt.producer_element.id %}" target="_blank"><span class="glyphicon glyphicon-new-window" style="color: #aaa;"></span></a></span>
                                                <div>
                                                    <span class="component-type">{{ smt.producer_element.component_type }}</span>
                                                    <span class="component-state">{{ smt.producer_element.component_state }}</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 statement-edit-text-block" style="background-color: #f4f5f8; margin: 2px;">
                                                <form id="smt_{{ forloop.counter }}" class="smt_form">
                                                    <div class="form-group">
                                                        <input type="hidden" id="smt_id" name="smt_id" value="{{ smt.id }}">
                                                        <label for="statement">
                                                            {% if smt.prototype_synched == 'synched' %}
                                                                <span id="diff_alert_{{ forloop.counter }}" style="color: green; font-weight: normal;"><span class="glyphicon glyphicon-check"></span> Same as reference</a></span>
                                                            {% elif smt.prototype_synched == 'not_synched' %}
                                                                <span id="diff_alert_{{ forloop.counter }}"><a href="#diff_{{ forloop.counter }}" class="" data-toggle="collapse" style="text-decoration: none;font-weight: normal; font-size: 9pt; color: firebrick;"><span
                                                                        class="glyphicon glyphicon-alert"></span> Click to see differences from reference statement</a></span>
                                                            {% elif smt.prototype_synched == 'orphaned' %}
                                                                <span id="diff_alert_{{ forloop.counter }}"><a href="#diff_{{ forloop.counter }}" class="" data-toggle="collapse" style="text-decoration: none;font-weight: normal; font-size: 9pt; color: firebrick;"><span
                                                                        class="glyphicon glyphicon-alert"></span> No related statement for component in library</a></span>
                                                            {% endif %}
                                                            <div id="diff_{{ forloop.counter }}" class="collapse smt_diff" style="font-size:10pt; font-weight: normal; margin-top: 12px;color: #666;">
                                                                <div style="text-decoration: underline;font-weight: bold;">
                                                                    Reference statement for {{ smt.producer_element.name }} {{ control.id_display|upper }} is:
                                                                </div>
                                                                <div id="prototype_body_display_{{ forloop.counter }}">{{ smt.prototype.body|linebreaks }}</div>
                                                                <div id="prototype_body_{{ forloop.counter }}" style="display: none;">{{ smt.prototype.body }}</div>
                                                                <br/>
                                                                <div style="text-decoration: underline;font-weight: bold;">
                                                                    Comparison of current statement to reference statement:
                                                                </div>
                                                                <div id="diff_comparison_{{ forloop.counter }}">
                                                                    {% if smt.prototype_synched == 'synched' %}
                                                                      Texts are identical.
                                                                    {% elif smt.prototype_synched == 'not_synched' %}
                                                                      {{ smt.diff_prototype_prettyHtml|safe }}
                                                                    {% endif %}
                                                                </div>
                                                                <br/>
                                                                <div style="text-decoration: underline;font-weight: bold;">
                                                                    {% if smt.prototype_synched == 'not_synched' %}Options:{% endif %}
                                                                </div>
                                                                <div>
                                                                    {% if smt.prototype_synched == 'not_synched' %}
                                                                        <button type="button" name="overwrite" value="overwrite" class="btn btn-xs btn-primary" onclick="copy_smt_prototype('{{ forloop.counter }}');return false;">Overwrite current statement</button>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </label>
                                                        <textarea style="min-height:130px; width:101%;" class="form-control overflow-auto"
                                                                id="body_{{ forloop.counter }}" name="body" placeholder="How component contributes to control" cols="50"
                                                                onfocus="$('#body_{{ forloop.counter }}').css('height', this.scrollHeight);">{{ smt.body }}</textarea>
                                                    </div>
                                                    <!-- Never change name of the producer element already associated with a statement -->
                                                    <input type="hidden" id="producer_element_id_{{ forloop.counter }}" name="producer_element_id" value="{{ smt.producer_element.id }}">
                                                    <input type="hidden" class="form-control" id="producer_element_name_{{ forloop.counter }}" name="producer_element_name" value="{{ smt.producer_element.name }}">
                                                    <div class="form-group">
                                                        <input type="hidden" id="producer_element_id_hidden" name="producer_element_id" value="{{ smt.producer_element.id }}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="statement">Part</label>
                                                        <input type="text" class="form-control" id="pid" name="pid" placeholder="Statement part (e.g., h)" value="{{ smt.pid }}" style="width:180px;">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="status">Status</label>
                                                        <select class=form-control id="status_{{ forloop.counter }}" name="status" style="width:180px;">
                                                            <option value='' {% if '' == smt.status %}selected="selected"{% endif %}></option>
                                                            <option value='Not Implemented' {% if 'Not Implemented' == smt.status %}selected="selected"{% endif %}>Not Implemented</option>
                                                            <option value='Planned' {% if 'Planned' == smt.status %}selected="selected"{% endif %}>Planned</option>
                                                            <option value='Partially Implemented' {% if 'Partially Implemented' == smt.status %}selected="selected"{% endif %}>Partially Implemented</option>
                                                            <option value='Implemented' {% if 'Implemented' == smt.status %}selected="selected"{% endif %}>Implemented</option>
                                                            <option value='Unknown' {% if 'Unknown' == smt.status %}selected="selected"{% endif %}>Unknown</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="remarks">Remarks</label>
                                                        <textarea class="form-control systems-element-form-remarks" id="remarks_{{ forloop.counter }}" name="remarks" placeholder="Add remarks for team" cols="50">{{ smt.remarks }}</textarea>
                                                    </div>
                                                    <input type="hidden" id="control_id" name="control_id" value="{{ control.id }}">
                                                    <input type="hidden" id="system_id" name="system_id" value="{{ system.id }}">
                                                    <input type="hidden" id="sid" name="sid" value="{{ control.id }}">
                                                    <input type="hidden" id="sid_class" name="sid_class" value="{{ catalog.catalog_key }}">
                                                    <input type="hidden" id="statement_type" name="statement_type" value="control_implementation">
                                                    <div class="pull-right">
                                                        <div id="success-msg-smt_{{ forloop.counter }}" style="display: inline; margin-right: 20px; color: gray;"></div>
                                                        <a href="">Cancel</a>&nbsp;
                                                        <button type="button" name="delete" value="delete" class="btn btn-xs btn-danger" onclick="delete_smt('smt_{{ forloop.counter }}');return false;">Delete</button>
                                                        <button type="button" name="save" value="save" class="btn btn-xs btn-success" onclick="save_smt('smt_{{ forloop.counter }}');return false;">Save</button>
                                                        <button type="button" name="history" value="history" class="btn btn-xs btn-primary" onclick="location.href='{% url 'statement_history' smt_id=smt.id %}'">History</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <a href="" class="pull-right" style="margin-right:12px;">X</a>
                                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2" style="display:none;">
                                             &nbsp;
                                            </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div><!--/smt-list-->
    </div>

                    <p>&nbsp;</p>
                    <div class="row" style="">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" style="margin-top:20px;">
                            <form id="add_component" class="form-inline pull-left" method="post" action="{%  url 'add_system_component' system_id=system.id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <!-- NOTE: Selection box converts to a Select2 selection box via script at bottom of page -->
                                    <input type="hidden" name="redirect_url" value="{% url 'control_editor' system_id=system.id catalog_key=control.catalog_key cl_id=control.id %}">
                                    <select class="producer_element_id" id="producer_element_id" name="producer_element_id" onchange="$(form).submit();" style="width:190px;">
                                        <option value="None" selected disabled hidden>Add a component</option>
                                        {% for component in elements %}
                                            {% if component not in system.producer_elements %}
                                                <option value="{{ component.id }}">{{ component.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <h3>
                                <button type="submit" id="new_component_statement"
                                        class="small btn btn-md btn-success"
                                        style="color: white;" onclick="add_smt()">Add component statement</button>
                            </h3>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">&nbsp;</div>
                    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        // Submits control id for Control look up box
        function show_control_by_id() {
            var control_id = $('#control-lookup').find('input[name="id"]').val();
            var url = "/systems/{{ system.id }}/controls/catalogs/{{ catalog.catalog_key }}/control/" + control_id;
            window.location.href = url;
        }
    </script>

    <script>
        // Adds statement form to page
        function add_smt() {
          var panel_num = $('.panel-smt').length + 1
          var smt_form = `{% include 'controls/add_producer_form.html' %}`.replace(/panel_num/g, panel_num);
          $( "#smt-list" ).append(smt_form);

          $('#producer_element_id_to_add').select2();

        }

        function save_smt(smt_panel_num) {
            // Save a statement
            // serialize data from the identified statement form
            var data = $('#' + smt_panel_num).serialize();
            var dataarray = $('#' + smt_panel_num).serializeArray();
            dataObj = {};

            $(dataarray).each(function (i, field) {
                dataObj[field.name] = field.value;
            });
            // send data via ajax to be saved
            ajax_with_indicator({
                url: "/controls/smt/_save/",
                method: "POST",
                data: data,
                indicator_parent: $('#page-content'),
                keep_indicator_forever: true, // keep the ajax indicator up forever --- it'll go away when we issue the redirect
                success: function (res) {
                    console.log('success');
                    console.log(res);
                    if (res['status'] == "success") {
                        // Update field values from saved
                        // Initially update a few fields
                        smt_saved = JSON.parse(res['statement']);
                        $('#' + smt_panel_num + ' input[name=smt_id]').val(smt_saved[0]['pk']);

                        // If saving first time remove producer_element_name input field
                        if ($('#' + smt_panel_num + ' input[name=producer_element_id]').val().length == 0) {
                            $('#' + smt_panel_num + ' input[name=producer_element_id]').val(smt_saved[0]['fields']['producer_element']);
                        }

                        // Update panel statement
                        $('#' + smt_panel_num.replace("smt_", "panel-") + ' .panel-heading-smt-body').html(smt_saved[0]['fields']['body']);
                        $('#' + smt_panel_num + ' input[name=producer_element_id]').val(smt_saved[0]['fields']['producer_element']);
                        $('#success-msg-' + smt_panel_num).fadeIn().text('Saved');
                        // Update combined statement
                        if (typeof update_combined_smt === "function") {
                            update_combined_smt();
                        }
                    } else {
                        $('#success-msg-' + smt_panel_num).fadeIn().text('Error ' + res['message']);
                    }
                    setTimeout(function () {
                        $('#success-msg-' + smt_panel_num).fadeOut("fast");
                    }, 1000);
                    $('#selected_producer_element_form_id').append("<option value='" + smt_saved[0]['fields']['producer_element'] + "'>" + dataObj['producer_element_name'] + "</option>");
                    window.location.reload()
                }
            });

            // Stop <form> submit
            return false;

        }; // /save_smt

        function delete_smt(smt_panel_num) {
            console.log("Deleting statement button pressed " + smt_panel_num);
            // Confirm deletion

            var result = confirm("Delete statement?");
            if (result) {
                // Delete statement object in database if it exists
                if ($('#' + smt_panel_num + ' input[name=producer_element_id]').val().length > 0) {
                    // console.log("deleting db object")
                    // serialize data from the identified statement form
                    var data = $('#' + smt_panel_num).serialize()

                    // send data via ajax to delete object
                    ajax_with_indicator({
                        url: "/controls/smt/_delete/",
                        method: "POST",
                        data: data,
                        indicator_parent: $('#page-content'),
                        keep_indicator_forever: false, // keep the ajax indicator up forever --- it'll go away when we issue the redirect
                        success: function (res) {
                            console.log('success');
                            console.log(res);
                            if (res['status'] == "success") {
                                // Update field values from saved
                                // Initially update a few fields
                                console.log("smt_deleted");
                            }
                            // Remove statement accordian from page
                            console.log("removing from page " + '#panel-' + smt_panel_num)
                            $('#panel-' + smt_panel_num.replace("smt_", "")).remove()
                        }
                    });
                } else {
                    // Remove statement accordian from page
                    console.log("removing from page " + '#panel-' + smt_panel_num);
                    $('#panel-' + smt_panel_num.replace("smt_", "")).remove();
                }
            }
        }
    </script>

    <script>
        function copy_smt_prototype(smt_panel_num) {
            // User wants to copy the reference statement locally
            // Copy the statement's prototype body text into statement body textarea
            smt_prototype = $('#prototype_body_' + smt_panel_num).text();
            $('#body_' + smt_panel_num).val($('#prototype_body_' + smt_panel_num).text().trim());
            // Update comparison label
            $('#diff_alert_' + smt_panel_num).html('<span id="diff_alert_' + smt_panel_num + '"><a href="#diff_' + smt_panel_num + '" class="" data-toggle="collapse" style="text-decoration: none;font-weight: normal; font-size: 9pt; color: green;"><span class="glyphicon glyphicon-check"></span> Same as reference</a></span>');
            // Update comparison
            $('#diff_comparison_' + smt_panel_num).text('Texts are identical.');
        }

    </script>
    <script>
        // Convert select field for Add Component to jQuery Select2 box
        $(document).ready(function() {
            $('#producer_element_id').select2();
        });
    </script>

{% endblock %}
