{% load static %}
<div id="history_modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="history_modal_title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="history_modal_title">Import OSCAL Component</h4></div>
            <form id="statement_history_form" action="{% url 'statement_history_modal' %}" onsubmit="show_spinner();" role="form" method="POST">{% csrf_token %}
                <div class="modal-body">

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <input id="history_modal_submit" class="btn btn-success btn-submit" type="submit" value="Import"/> <img id="import_loading_spinner" src="{% static "img/icons/spinner.gif" %}"/></div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
{% block scripts %}
    <script>
        function show_history_modal(callback) {
            ajax_with_indicator({
                url: "{% url 'statement_history_modal' %}",
                method: "POST",
                data: {
                    smt_id: callback,
                },
                keep_indicator_forever: true, // keep the ajax indicator up forever --- it'll go away when we issue the redirect or reload

                success: function (res) {
                    console.log(res)
                }

            })
            var m = $('#history_modal');
            $("#import_loading_spinner").hide();
            m.modal();
        }

        function fillJSONContent(file) {
            filecontents = $('#{{import_form.file.auto_id}}').prop('files')[0];
            var reader = new FileReader();
            reader.readAsText(filecontents);
            reader.onload = function (e) {
                $('#{{import_form.json_content.auto_id}}').val(e.target.result);
            };
        }

        function show_spinner() {
            $("#import_loading_spinner").show();
        } </script> {% endblock %}