{% load static %}
<div id="import_project_modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="import_project_modal_title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="import_project_modal_title">Select a Project</h2>
            </div>
            <form id="project_import_form" action="{% url 'project_import' project.id %}" onsubmit="show_spinner();" role="form" method="POST">
                {% csrf_token %}
                  <input type="hidden" name="import_name" value=""/>
                <div class="modal-body">
                    {{ import_project_form.file }}
                    <label for="{{ import_project_form.appsource_compapp.id }}">{{ import_project_form.appsource_compapp.label }}:</label>
                    {{ import_project_form.appsource_compapp }}
                    <label for="{{ import_project_form.appsource_version_id.id }}">{{ import_project_form.appsource_version_id.label }}:</label>
                    {{ import_project_form.appsource_version_id }}
                    <label for="{{ import_project_form.json_content.id_auto }}">{{ import_project_form.json_content.label }}:</label>
                    {{ import_project_form.json_content }}

                    <div class="modal-footer">
                        <input id="import_component_submit" class="btn btn-success btn-submit" type="submit" value="Import"/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        {{ import_project_form.importcheck }}
                        {{ import_project_form.importcheck.label }}
                        <img id="import_loading_spinner" src="{% static "img/icons/spinner.gif" %}"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

{% block scripts %}
    <script>
        function show_import_project_modal(id, callback) {
            var m = $('#import_project_modal');
            $("#import_loading_spinner").hide();
            m.modal();
        }

        function fillProjectJSONContent(file) {
            filecontents = $('#{{import_project_form.file.auto_id}}').prop('files')[0];
            $('input[name=import_name]').val(filecontents.name);
            var reader = new FileReader();
            reader.readAsText(filecontents);
            reader.onload = function (e) {
                $('#{{import_project_form.json_content.auto_id}}').val(e.target.result);
            };
        }

        function show_spinner() {
            $("#import_loading_spinner").show();
        }
    </script>
{% endblock %}
