<div id="project_modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="project_modal_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="project_modal_title">Select a Project</h4>
      </div>
<form method="post" enctype="multipart/form-data" action="/systems/{{project.system.id}}/im ">
    {% csrf_token %}
    <input type="file" name="import_project_data">
    <p>Please select format of file.</p>
    <select name="file-format" class="form-control my-3">
        <option selected>Choose format...</option>
        <option>CSV</option>
        <option>JSON</option>
      </select>
    <button class="btn btn-primary" type="submit">Import</button>
  </form>
      </div>
    </div>
  </div>
</div>

{% block scripts %}
<script>
  function show_project_modal(id,callback) {
    var m = $('#project_modal');
    m.modal();
  }

</script>
{% endblock %}