{% extends "base.html" %}
{% load humanize %}
{% load guardian_tags %}
{% load static %}
{% load q %}

{% block title %}
{{ portfolio.title }} Control
{% endblock %}

{% block head %}
{% include "controls/_style-controls.html" %}
<style>

  #above-tab-content, #tab-content {
    max-width: 950px;
    margin: auto;
  }

  h2 > a { color: black; }
</style>
{% endblock %}

Remove contextbar from top of page
{% block contextbar %}{% endblock %}

% block body-wide %
{% block body %}

<div style="margin-top: 30px">
  <div class="container">

    <div class="row" style="">
      <div id="above-tab-content" class="row">
        <!-- Page Title-->
        <div style="float: left;">
          <h2 id="control-heading" class="">
            <a href="/controls/catalogs/{{ catalog.catalog_key }}">{{ catalog.catalog_key_display }}</a> &gt;
            {% if "SP-800-53" in catalog.catalog_key_display %}
              Control Families {{system.root_element.name}}
            {% else %}
              Control Groupings {{system.root_element.name}}
            {% endif %}
          </h2>
        </div>
        <!-- Control Lookup-->
        <div style="float: right;">
            <form id="control-lookup" method="get" action="/controls/" onsubmit="show_control_by_id(); return false;">
              <input type="text" name="id" placeholder="Enter control id"  title="Enter control id" value="{% if control %}{{ control.id_display|upper }}{% endif %}">
                  <button type="submit" class="btn btn-success">Look up</button>
                  <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="/">families</a> -->
            </form>
        </div>
      </div>
    </div><!--/row-->
    <p>&nbsp;</p>

    <div id="tab-content" class="row rows-header" style="">
      <div id="" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">Control Families/Groupings</div>
    </div>

   {% for group in control_groups %}
    <div id="tab-content" class="row row-control" style="">
        <div id="" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <a href={% url 'control_group' catalog_key=catalog.catalog_key g_id=group.id %}>{{ group.id|upper }}</a>
        </div>
        <div id="" class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
            {{ group.title }}
        </div>
    </div>
    {% endfor %}

  </div>
</div>

{{ block.super }}
{% endblock %}

{% block scripts %}
<script>
  // Submits control id for Control look up box
  function show_control_by_id() {
    var control_id = $('#control-lookup').find('input[name="id"]').val();
    var url = "/controls/catalogs/{{ catalog.catalog_key }}/control/"+control_id;
    window.location.href = url;
  }
</script>
{% endblock %}
