{% extends "base.html" %}
{% load humanize %}
{% load guardian_tags %}
{% load static %}
{% load q %}

{% block title %}
{{ portfolio.title }} Control
{% endblock %}

{% block head %}
<style>
  .project-image {
    width: 20px;
    float: left;
    margin: 4px 0 5px 8px;
  }

  .inline {
    display: inline;
  }

  h3 {
    color: #888;
    #font-weight: bold;
    margin-top: 20px;
  }

  .control-text {
    white-space: pre-wrap;
    font-size: 12pt;
    max-width: 700px;
    font-family: trebuchet ms, sans-serif;
    /*text-align: justify;
    text-justify: inter-word;*/
  }

  #control_lookup input {
    width: 130px;
  }

</style>
{% endblock %}

Remove contextbar from top of page
{% block contextbar %}{% endblock %}

% block body-wide %
{% block body %}


<div style="margin-top: 30px">
  <div class="container">
    <div style="float: right; margin: 0 0.5em 0em 5em;">
        <form id="control_lookup" method="get" action="/controls/" onsubmit="show_control_by_id(); return false;">
          <input type="text" value="" name="id" placeholder="Enter control id"/>
              <button type="submit" class="btn btn-success">Look up</button>
        </form>
    </div>

    <h2 id="control-heading" class="">
      Controls
    </h2>
    <div>
      Temporary index. page for controls. Please look up a control start (ex: <a href='800-53/ac-1/'>AC-1</a>, <a href='800-53/au-7/'>au.7</a>).
    </div>

  </div>
</div>

{{ block.super }}
{% endblock %}

{% block scripts %}
<script>
  function show_control_by_id() {
    var control_id = $('#control_lookup').find('input[name="id"]').val();
    var url = "/controls/"+"800-53"+"/"+control_id+"/";
    window.location.href = url;
  }
</script>
{% endblock %}

