{% extends "base.html" %}
{% load humanize %}
{% load guardian_tags %}
{% load static %}
{% load q %}

{% block body %}

    <div class="container">
        <h1 class="text-center"><u>Statement Version History for {{ statement.0.sid }}.{{ statement.0.pid }}</u></h1>
        <h3 class="text-center"> (This statement comes from the {{ statement.0.producer_element.name }} component)</h3><br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Original statement id</th>
                <th>Version history id</th>
                <th>Date created</th>
                <th>Version statement body</th>
                <th>Restore to this version</th>
            </tr>
            </thead>
            <tbody>
            {% if statement %}
                {% for smt_record in statement %}
                    <tr>
                        <td>{{ smt_record.id }}</td>
                        <td>{{ smt_record.history_id }}</td>
                        <td>{{ smt_record.history_date }}</td>
                        <td>{{ smt_record.body }}</td>
                        <td><a href="{% url 'restore_to' smt_id=smt_record.id history_id=smt_record.history_id %}" name="restore" class="btn btn-xs btn-primary">Restore</a></td>
                    </tr>
                {% endfor %}
             {% else %}
            <div>Somehow there is no statement history for this statement please contact your GovReady administrator.</div>
             {% endif %}

            </tbody>
        </table>
    </div>
{% endblock %}
