body {
    background-color: #D0D1D2;
    padding-left: 20px;
    padding-right: 20px;
}

#focus-area-wrapper {
  border-radius: 10px;
  border-bottom: 1px solid rgb(204, 204, 204);
  padding: 2em 2em 3em 2em;
  background-color: #ffffff;
}